[2022-10-06 15:57] #2008 closed, assigned to jjsjann123

[2022-10-06 22:21] jjsjann123 commented on #1843
I'm still seeing this error popping up. I'm still working on getting a clean repro for you guys to act on. Meanwhile, want to have the issue re-open so we know what's coming.

Somehow a standalone kernel with the right input doesn't trigger the failure. The original error comes from a segmented graph.
I tried to mimic it with a python example (with nvprim, which should give us the same code path),

[2022-10-06 22:31] zasdfgbnm commented on #1843
@jjsjann123 Is this a new error after merging https://github.com/csarofeen/pytorch/pull/2035, or is it an error that already existed before that?

[2022-10-06 22:57] jjsjann123 commented on #1843
This errors out on both before and after merging #2035, so I guess the fix is just not clean. I think I'm really close to get a cpp repro now.
:crossed_fingers:

[2022-10-06 23:10] jjsjann123 commented on #1843
@zasdfgbnm Here you go: https://github.com/csarofeen/pytorch/blob/9d35779e6d226220f721b409ab7cc824830349aa/torch/csrc/jit/codegen/cuda/test/test_gpu3.cpp#L6443-L6474

There's some funny bits with how segmentation works... I'm getting a little bit nervous of why I can't repro this without a segmented fusion. :cold_sweat:

[2022-10-06 23:13] zasdfgbnm commented on #1843
Thanks for the repro! Will take a look ASAP.

[2022-10-08 02:14] naoyam opened #2046 "SyncMap incorrectly overwrites raw_dims"
https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/lower_sync_information.cpp#L486

[code]

This should use `|=`.

[2022-10-08 12:05] #2046 closed, assigned to naoyam

[2022-10-12 07:59] jjsjann123 opened #2053 "pointwise scheduler issue on devel"
### 🐛 Describe the bug

I'm still working on a repro. Currently hit this on my side branch where I have upstream master merged into devel.

Hitting this assert:
[code]

Here's the fusion definition
[code]

Which gives us a segmented fusion:
[code]

[code]

So the second part of the pointwise kernel is the one that triggers the scheduler issue.

### Versions

commit a2ce5a68fbae850b31382e5a230aa6c9

[2022-10-12 08:02] jjsjann123 commented on #2053
Assigning myself since I'm still working on a cpp repro.

Currently I have
[code]

Which gives me a similar codegen IR but a different error. :cry:
[code]

[2022-10-12 11:50] csarofeen opened #2054 "Issue with projected persistence buffers and view"
### 🐛 Describe the bug

Projected persistence buffers are being calculated incorrectly. When projected inlining is not excluding the projected dims. Seems there's something wrong with compute at root domain calculation with view operations.

### Versions

https://github.com/csarofeen/pytorch/pull/2052

[2022-10-12 15:47] naoyam commented on #2053
It seems no scheduling is applied to the fusion as there's no transformation shown in the transform printer output.

[2022-10-12 17:29] jjsjann123 commented on #2036
contiguity in the integration is checked at TorchScript graph level via guard and FusionExecutor is not supposed to check it twice.

Not saying that we shouldn't change it, but can we put a `[FeatureRequest]` in the title here :wink:

[2022-10-12 17:34] jjsjann123 commented on #2036
Lol @zasdfgbnm pointed out offline that it's probably a good idea to put contiguity/stride check somewhere in our arguments validation. This avoids us hitting silent wrong result and sounds like a good idea to me.

Let's do that!

[2022-10-13 01:56] naoyam opened #2059 "Vectorization validation error (false negative)"
The vectorization in this fusion is invalid, but the validation passes.

[code]

While the split generating the vectorized ID (the third split) is divisible, the second split is not. I believe It doesn't need to be divisible by 8 but needs to be by the vector width, 4.

[code]

Currently we don't do any check of non-leaf splits. Leaf splits are checked by `validateVectorizedSplits` at kernel launc

[2022-10-13 12:45] IvanYashchuk opened #2060 "View + var_mean: reducing a tensor is not permitted"
### 🐛 Describe the bug

This is using [`torchbenchPerf` branch](https://github.com/csarofeen/pytorch/tree/torchbenchPerf) coming from Torchbench's speech_transformer model.
[code]
[code]

### Versions

https://github.com/csarofeen/pytorch/tree/torchbenchPerf

[2022-10-13 13:06] jjsjann123 commented on #2053
I think it currently fails before hitting scheduler. :stuck_out_tongue: Let me try Xiang's fix on this one.

Meanwhile, Kevin also hit the same error with the view_reduction branch and he actually has a repro, which Christian already patched.

[2022-10-13 13:43] IvanYashchuk opened #2061 "Concrete ID failed to cover all root IDs, torchbench functorch_dp_cifar10"
### 🐛 Describe the bug

This is using [torchbenchPerf branch](https://github.com/csarofeen/pytorch/tree/torchbenchPerf) coming from Torchbench's functorch_dp_cifar10 model.

[code]
[code]

### Versions

https://github.com/csarofeen/pytorch/tree/torchbenchPerf

[2022-10-13 13:52] IvanYashchuk opened #2063 "Unsupported domain mapping detected (self-mapping): torchbench drq"
### 🐛 Describe the bug

This is using [torchbenchPerf branch](https://github.com/csarofeen/pytorch/tree/torchbenchPerf) coming from Torchbench's drq model.
[code]
[code]

### Versions

https://github.com/csarofeen/pytorch/tree/torchbenchPerf

[2022-10-13 14:12] IvanYashchuk commented on #2061
Same problem with a section of torchbench's timm_vision_transformer:
[code]

[2022-10-13 14:47] jjsjann123 commented on #2053
I'm following Kevin's approach here now and just logging the python repro then.

[code]

This one have been fixed already in Christian's branch https://github.com/csarofeen/pytorch/pull/2062/commits/383c19d7c8936dac45b1df0fb109507dac50cbeb

Just logging things here and will close once that is merged.

[2022-10-13 18:07] jjsjann123 opened #2064 "codegen pointwise scheduler triggers a transformation issue"
### 🐛 Describe the bug

Hitting the error:
[code]

cpp repro

[code]

### Versions

Repro on
[code]

[2022-10-13 18:08] jjsjann123 commented on #2064
Pinging @zasdfgbnm

[2022-10-13 18:12] jjsjann123 opened #2065 "Mega issue tracking `torchbenchPerf` on benchmark runs"
### 🐛 Describe the bug

Just a common place tracking all issues that we run into with our benchmark.

## Functional Issues

- [x] `RuntimeError: rhs_i >= 0 && lhs_i >= 0 INTERNAL ASSERT FAILED` #2053 fixed in `bug_fixes` branch although not yet merged.
- [x] `C++ exception with description "it != replay_CasP.getReplay().end() INTERNAL ASSERT FAILED` #2064 Not view related, also repros on devel
- [

[2022-10-13 18:16] jjsjann123 opened #2066 "codegen error: `RuntimeError: false INTERNAL ASSERT FAILED at "/opt/pytorch/pytorch/torch/csrc/jit/codegen/cuda/compute_at_map.cpp":898`"
### 🐛 Describe the bug

Python repro:

[code]

error message:
[code]

### Versions

`torchbenchPerf` branch

[2022-10-13 18:16] jjsjann123 commented on #2066
Note that Christian is currently tracking and patching these in `bug_fixes` branch

[2022-10-13 18:21] jjsjann123 opened #2068 "codegen error: Unsupported domain mapping detected"
### 🐛 Describe the bug

python repro
[code]

Error message:
[code]

### Versions

`torchbenchPerf`

[2022-10-13 18:25] IvanYashchuk commented on #2061
Closing as duplicate of https://github.com/csarofeen/pytorch/issues/2066

[2022-10-13 18:25] #2061 closed, assigned to nobody

[2022-10-13 18:27] IvanYashchuk commented on #2060
Closing as duplicate of https://github.com/csarofeen/pytorch/issues/2067

[2022-10-13 18:27] #2060 closed, assigned to nobody

[2022-10-13 18:27] IvanYashchuk commented on #2063
Closing as duplicate of https://github.com/csarofeen/pytorch/issues/2068

[2022-10-13 18:27] #2063 closed, assigned to nobody

[2022-10-13 22:06] zasdfgbnm commented on #2068
I can reproduce this with this the given python repro, but I can not reproduce this with @csarofeen's C++ repro:
[code]
I do checked the C++ repro with the python repro line by line, they seem to match.

[2022-10-13 22:11] jjsjann123 commented on #2068
~Oops, I think this one is already patched by Christian on top of his branch.~

No it's yours. Go get it!
![image](https://user-images.githubusercontent.com/3709243/195720663-4c1a7ad8-ea4a-4ce4-9cf4-53766615e417.png)

[2022-10-14 00:49] csarofeen commented on #2068
This is still broken. Took a while to get the c++ repro spot on...
[code]

[2022-10-14 09:06] zasdfgbnm commented on #2064
Looks like the above test is wrong. The ground truth should be
[code]

[2022-10-14 13:56] #2064 closed, assigned to zasdfgbnm

[2022-10-14 17:17] #1843 closed, assigned to zasdfgbnm, csarofeen

[2022-10-14 20:15] kevinstephano opened #2074 "Codegen bug in GPT2ForSequenceClassification"
### 🐛 Describe the bug

[code]
Error:

[code]

### Versions

TOT

[2022-10-14 20:19] jjsjann123 commented on #2065
Current mega container we are using is:
gitlab-master.nvidia.com/kstephano/pytorch:torchbenchPerf_cg_dynamo_3

* PyTorch
[code]
which is effectively current head of torchbenchPerf (no file diff)
[code]

Note that: we'd want to cherry-pick two more PRs for perf reason:
transpose changes: https://github.com/pytorch/pytorch/pull/86967
silu_backward changes: https://github.com/pytorch/pytorch/commit/f

[2022-10-14 21:05] kevinstephano opened #2075 "Codegen bug in MT5ForConditionalGeneration"
### 🐛 Describe the bug
This bug was by far the most prevalent in a lot of benchmarks, especially with AMP.

[code]

Error:
[code]

Second Error:

[code]

These two patches need to be applied to python frontend:

[code]

[code]

Second:
[code]

### Versions

TOT

[2022-10-14 21:55] jjsjann123 commented on #2075
Also hitting this in `timm/convit_base`

A different repro that doesn't require any patching:
[code]

[2022-10-14 22:24] jjsjann123 commented on #2065
I have Ivan's PR cherry-picked. This is the new branch head
[code]
    commit 5863911099541f2a16d4699d6815850dae693cb1
    (ivan/nvprims-transpose-partitioner)
    Merge: 73669a71003 fc3afc84078
    Author: Ivan Yashchuk <IvanYashchuk@users.noreply.github.com>
    Date:   Fri Oct 14 22:58:55 2022 +0300

        Merge branch 'master' into nvprims-transpose-partitioner
[code]

[2022-10-14 22:37] kevinstephano opened #2076 "Codegen Bug in OPTForCausalLM"
### 🐛 Describe the bug

[code]
Error:
[code]

### Versions

TOT

[2022-10-14 23:48] kevinstephano opened #2077 "Cast from `__half` to `bool` not supported"
### 🐛 Describe the bug

[code]
Error:

[code]

### Versions

TOT

[2022-10-15 00:37] kevinstephano opened #2079 "Runtime Misaligned Address Error for HF Benchmark ElectraForQuestionAnswering"
### 🐛 Describe the bug

[code]

### Versions

TOT

[2022-10-15 00:50] jjsjann123 opened #2080 "codegen error: producer->getMemoryType() == MemoryType::Global INTERNAL ASSERT FAILED ... producer->getMemoryType() == MemoryType::Global INTERNAL ASSERT FAILED ... Producer is required to be in Global Memory based on parallelization strategy."
### 🐛 Describe the bug

[code]

gives error:
[code]

### Versions

`torchbenchPerf`

[2022-10-15 00:54] jjsjann123 commented on #2079
Also run into this in a handful of TIMM models. I'll post more info when I go over the log.

[2022-10-15 01:18] naoyam commented on #2080
Can you get debug dump with `sync_map` and `fusion_ir` and also `ca_map`? `sync_map` was added recently, so may not be available in the branch.

[2022-10-15 13:08] csarofeen opened #2081 "Reverse args in castOp"
### 🚀 The feature, motivation and pitch

I think `castOp(DataType::Int, tv0);` should be written with reverse order args: `castOp(tv0, DataType::Int);` simply seems more consistent in the interface.

### Alternatives

_No response_

### Additional context

_No response_

[2022-10-15 13:29] csarofeen commented on #2074
Repros on devel:
[code]

[2022-10-15 13:32] csarofeen commented on #2075
Fails on devel, hopefully only have to repro the first one:
[code]

[2022-10-15 14:06] csarofeen commented on #2076
Repros on view_reduction branch
[code]

[2022-10-15 14:36] csarofeen commented on #2077
Repro's on devel:
[code]

[2022-10-15 14:41] csarofeen commented on #2080
Log attached, added `segmented_fusion` as well
[debug.log](https://github.com/csarofeen/pytorch/files/9792325/debug.log)

[2022-10-15 14:45] csarofeen commented on #2076
This bug might be a challenging one.

[2022-10-15 16:40] #2074 closed, assigned to csarofeen

[2022-10-15 17:20] naoyam commented on #2080
An interesting thing is the offending tensors, `T33` and `T50`, their domains parallelized with `blockDim.y` are not exactly mapped.

[code]

`T33` has `iblockIdx.y389{( ceilDiv(( i4 * 1 ), 1) )}`

`T50` has ` iblockIdx.y434{( ceilDiv(( i4 * 1 ), 1) )}`

According to the ca_map output, they are permissively mapped, but not exactly.

@csarofeen Can you also get `fusion_ir` output? Need to see how t

[2022-10-15 19:51] kevinstephano commented on #2080
Here is the fusion ir:

[code]

[2022-10-15 22:56] rdspring1 opened #2085 "Validation error in checkContiguityForExpandedDims for hf_T5_large"
### 🐛 Describe the bug

[code]

[code]

`PYTORCH_NVFUSER_DUMP=python_definition,fusion_args python benchmarks/torchbench.py --training -d cuda --fast --backend nvprims_nvfuser --skip-accuracy-check --performance --only hf_T5_large`

`RuntimeError: Validation failed on tensor T8_l[ iblockIdx.x120{( ceilDiv(( ceilDiv(( ceilDiv(( 1 * ( 1 * i3 ) ), 2) ), 1) ), 128) )}, iUS119{1}, iS117{2}, ithreadIdx.

[2022-10-16 15:21] naoyam commented on #2080
I haven't tried, but I believe this should fix the issue: https://github.com/csarofeen/pytorch/pull/2086. Can anyone please give it a try?

[2022-10-16 16:39] csarofeen commented on #2076
I think what's happening is we're going back through one path in indexing, but not the one we need, so we're getting into the wrong view branch to index into a tensor.

Simpler repro, indexing fails on T11
[code]

[2022-10-16 16:52] csarofeen commented on #2076
This is result of a mistake in concrete ID selection. Strange how much other stuff worked with the issue.

We effectively have:
[code]
So when we want the concrete ID of the permissive map on `T6`'s dim of `48` we traverse back into `T1`'s `48` and `T3`'s `4`, and `b1`. Since the algorithm just looks at the count, it thinks `T3`'s the right concrete path since it has one iteration domain and one b

[2022-10-16 19:06] #2075 closed, assigned to zasdfgbnm, csarofeen

[2022-10-16 21:42] kevinstephano commented on #2085
I think this might be a duplicate of Issue #2075.

[2022-10-16 22:07] #2077 closed, assigned to csarofeen

[2022-10-16 22:16] kevinstephano commented on #2080
It seems like the original error went away but a different one appeared.  I think we might have separate fix for this new error:

[code]

[2022-10-16 22:26] kevinstephano commented on #2080
It looks like Issue #2076 that isn't fixed, yet.

[2022-10-16 23:29] rdspring1 commented on #2085
Fixed with https://github.com/csarofeen/pytorch/pull/2083

[2022-10-16 23:29] #2085 closed, assigned to nobody

[2022-10-16 23:34] rdspring1 opened #2087 "Missing cast op in batch_norm composite op for TorchBench pytorch_stargan"
### 🐛 Describe the bug

`PYTORCH_NVFUSER_DUMP=python_definition,fusion_args python benchmarks/torchbench.py --training -d cuda --fast --backend nvprims_nvfuser --skip-accuracy-check --performance --only pytorch_stargan
`
[code]

`RuntimeError: unary_op->isA<UnaryOp>() && unary_op->as<UnaryOp>()->getUnaryOpType() == UnaryOpType::Cast INTERNAL ASSERT FAILED at "../torch/csrc/jit/codegen/cuda/ops/nor

[2022-10-17 17:07] csarofeen commented on #2079
@zasdfgbnm could you take a look here?

[2022-10-17 18:02] jjsjann123 opened #2088 "codegen missing fp16 math support"
### 🐛 Describe the bug

For the issues I'm seeing in our benchmark, I think we can work around it by making batch_norm promotion explicit in the graph. So I'll try to work around it in nvprim/primtorch.

Note: fp16 math can be explicitly put in our python API. Currently we don't have codegen support for these and it's going to be a real problem.

Repro script and error message below.

[code]

[cod

[2022-10-17 18:04] jjsjann123 commented on #2088
cc'ing @kevinstephano on the `python_definition` issue, which spits out a fusion script that missed the const python scalar arguments to batch_norm.

[2022-10-17 18:54] kevinstephano commented on #2088
Are we sure the math issue isn't an indicator that something else is broken given we consciously decided not to implement FP16 math ops in the runtime as they should be upcasted?

[2022-10-17 22:17] zasdfgbnm commented on #2079
Do we have more detail about this issue? I am trying with the following:
[code]
and it does not reproduce this error.

[2022-10-17 22:26] jjsjann123 commented on #2080
@naoyam

So #2086 fixed the issue in the original repro on kevin's branch, which leads us to the other issue that #2076 is tracking. (the commit where the patch from #2086 is applied is `f56fc052c09737ff31c0f58398243c42fec60165`)

But when I tried to have it merged on top of `torchbenchPerf` branch, it doesn't fix anything. I think the difference between the two is that current `torchbenchPerf` ha

[2022-10-17 22:32] jjsjann123 commented on #2080
Per offline request from @naoyam

The log is 3k lines of code. I'm pushing it here
[naoya_log.txt](https://github.com/csarofeen/pytorch/files/9804955/naoya_log.txt)

[2022-10-17 22:45] zasdfgbnm commented on #2080
@naoyam @jjsjann123 Isn't this fixed by https://github.com/csarofeen/pytorch/pull/2089?

[2022-10-17 22:46] jjsjann123 commented on #2080
Trying that right now~~~

[2022-10-17 22:55] jjsjann123 commented on #2076
Note: the repro here is wrong, first argument `torch.randn(4, 128, 1, 128, device='cuda').transpose(1,2),` -> should be converted to `.bool()`

[2022-10-17 22:55] jjsjann123 commented on #2076
This one is fixed in #2089

[2022-10-17 23:03] jjsjann123 commented on #2080
#2089 doesn't fix this one.

repro instruction, The new code base is here
[code]

It's slightly off our devel branch, so it triggers a rebuild. But the python script should repro the issue with this code building normally. No dependency on torchdynamo.

Alternatively, you can try downloading this container: `gitlab-master.nvidia.com/kstephano/pytorch:torchbenchPerf_cg_dynamo_3`

From which, you ca

[2022-10-17 23:08] jjsjann123 commented on #2065
Note that some side issues that we've been discussing, would want to track these with upstream folks so we'll have better debuggability in future perf analysis:
1. aot_autograd traced graph differs between runs. -> pain for debugging, especially given that our fusion_id also doesn't align in those.
2. partitioner uses `Set`, which could give us fusion partition that *could* ended up in wrong order

[2022-10-17 23:31] jjsjann123 opened #2090 "bookend `view` should be stripped from fusion"
### 🚀 The feature, motivation and pitch

Currently the handling of view in scheduler is sub-optimal.

For views inside the fusion group that connects fusion, it makes sense, since this usually gives us a bigger graph and could be beneficial to fusion.
However, for `view` ops that surrounds a fusion, there's really no good reason to fuse those. Since `view` op is only a meta operation, leaving it o

[2022-10-18 00:33] naoyam opened #2091 "PTX error"
This happens with `FusionCastings` on an sm_75 device:

[code]

[2022-10-18 00:35] naoyam commented on #2091
Maybe due to #2084? Pinging @zasdfgbnm

[2022-10-18 01:58] #2091 closed, assigned to zasdfgbnm

[2022-10-18 03:18] #2068 closed, assigned to csarofeen

[2022-10-18 06:05] kevinstephano opened #2094 "Codegen failure in HuggingFace AllenaiLongformerBase with Autocast"
### 🐛 Describe the bug

Benchmark command line:

[code]

Repro:

[code]

Error:

[code]

### Versions

`csarofeen/torchbenchPerf`

[2022-10-18 07:16] kevinstephano opened #2095 "HuggingFace BertForMaskedLM - Meta-Data Operations prior to the Step Resulting in Kernels"
### 🐛 Describe the bug

Command Line:

[code]

There are kernels happening prior to the step that look like kernels that should just be meta-data operations.  I think this is happening due to decompositions somewhere prior to nvFuser.  I mistakenly said this was a partitioning problem whereas even when we don't partition and fuse the ops, they are still there.

Here is a profile picture of the pro

[2022-10-18 07:20] IvanYashchuk commented on #2095
Inductor lowers `aten.select`, while we don't have slicing implemented. I'll take a look at what's happening there.

[2022-10-18 07:25] kevinstephano commented on #2079
This looks like a false alarm.  I am not seeing the problem on the benchmark anymore.  I am closing for now.  Sorry, to make you try and debug this @zasdfgbnm .

[2022-10-18 07:25] #2079 closed, assigned to zasdfgbnm

[2022-10-18 07:39] kevinstephano opened #2096 "HuggingFace BertForMaskedLM - Log Softmax Fusion with Autocast has bad perf"
### 🐛 Describe the bug

Benchmark commandline:
[code]

Fusion Repro:
[code]
Performance output on A100:
[code]

### Versions

`csarofeen/torchbenchPerf`

[2022-10-18 07:55] kevinstephano opened #2097 "HuggingFace BertForMaskedLM - Bad Loss Function Perf"
### 🐛 Describe the bug

Benchmark Command:
[code]

Log_Softmax is notably not being fused even though we can fuse it as well as the rest of the loss function.  This looks to be about a 3% perf improvement.  Inductor is saving >2ms with this optimization.

With nvFuser:

![Screen Shot 2022-10-18 at 00 45 11](https://user-images.githubusercontent.com/8293715/196370584-6021a5e5-84e6-484c-8edf-7cc1a10

[2022-10-18 08:00] kevinstephano commented on #2096
A couple things to try:

1. Remove the top `view` from the Fusion.
2. Remove `fd.add_output(T11)`.  It's not clear to me that saving this tensor is necessary.

[2022-10-18 08:06] kevinstephano opened #2098 "CudaGraph Capturing failures on `_to_copy()` operations"
### 🐛 Describe the bug

This is our number one failure signature.  Important to fix!

This is the error:

[code]
An example command line:

[code]

### Versions

`csarofeen/torchbenchPerf`

[2022-10-18 10:22] IvanYashchuk commented on #2095
~Currently getting the following error~ wrong container.
[code]

[2022-10-18 10:55] jjsjann123 commented on #2090
I have a PR enabling this, along with some clean up on Ivan's refactoring on getitem special handling. #2099

[2022-10-18 11:19] IvanYashchuk commented on #2095
Kernels prior to the Embedding Indexing are conversions of inputs to fp16, they are also present in `aot_eager` but they are not sorted to the beginning of the program.
Excerpt from `aot_eager`
[code]
Excerpt from `nvprims_nvfuser`:
[code]
These conversions are followed by transpose and then sent to matrix multiplication.

[2022-10-18 11:49] csarofeen commented on #2076
Yeah, I caught that in the first C++ repro I added, though it's not necessary to reproduce the issue which is the trimmed down second repro I added.

[2022-10-18 12:50] IvanYashchuk commented on #2098
I think the problem with this particular model (`BartForCausalLM`) is that `broadcast_in_dim_4` is for some reason a CPU tensor and `torch.ops.aten._to_copy.default` is used to send to GPU.

[2022-10-18 13:30] IvanYashchuk commented on #2098
First lines in the graph create CPU tensors
[code]

[2022-10-18 13:42] IvanYashchuk commented on #2098
Replacing `device(type='cpu')` with `torch.device("cuda:0")` in the graph fixes the problem.

UPD: Add to the top of `prims_executor` function inside `torchdynamo/optimizations/training.py`
[code]

[2022-10-18 16:11] kevinstephano commented on #2088
Sounds like Jie is going to look into this in the frontend.

[2022-10-18 18:01] kevinstephano commented on #2098
This looks like the problem where maybe the mask isn't getting properly handled as an input:

https://github.com/huggingface/transformers/blob/ebee0a27940adfbb30444d83387b9ea0f1173f40/src/transformers/models/bart/modeling_bart.py#L96-L99

[2022-10-18 18:11] IvanYashchuk commented on #2098
It looks like it! There're no device arguments and the default device is `cpu`.
It's sent to CUDA later: https://github.com/huggingface/transformers/blob/ebee0a27940adfbb30444d83387b9ea0f1173f40/src/transformers/models/bart/modeling_bart.py#L914-L916

[2022-10-19 00:00] kevinstephano commented on #2098
The diff patch version of Ivan's fix:

[code]

[2022-10-19 00:05] kevinstephano commented on #2095
Thanks for the explanation.  I think we can close!

[2022-10-19 00:05] #2095 closed, assigned to IvanYashchuk

[2022-10-19 00:49] jjsjann123 commented on #2088
Sort of yes and no.

The lack of fp16 support is real, when user explicitly define something like the script we have here, codegen is going to scream and fail.

The patch I have in #2104 added explicitly type promotion for `nvprims.native_batch_norm`, so at least running through dynamo stack, we won't run into these problems any more.

[2022-10-19 04:04] kevinstephano commented on #2097
We don't have the ability to fuse the loss function without supporting `gather`.

[2022-10-19 04:19] kevinstephano commented on #2096
Removing the `view` clearly matters for perf.

[2022-10-19 04:21] kevinstephano commented on #2096
Another example to think about:

[code]

It looks like bad perf happens at this point:

[code]

[2022-10-19 04:52] kevinstephano commented on #2097
[code]

[2022-10-19 05:30] zasdfgbnm commented on #2094
cpp repro generated by https://github.com/csarofeen/pytorch/pull/2103 using
[code]

[code]
verified that this test reproduces the error message, will look at this bug tomorrow.

[2022-10-19 08:16] kevinstephano commented on #2096
The final omission of the final subtract seems to change the registers needed from 87 to 50 which is large enough to change the kernel time from 3.5 ms to ~1ms.

[code]

[2022-10-19 09:57] kevinstephano commented on #2098
Need to add one more op:

[code]

[2022-10-19 15:31] IvanYashchuk opened #2106 "HuggingFace DebertaForQuestionAnswering, DebertaForMaskedLM: The tensor has a non-zero number of elements"
### 🐛 Describe the bug

[code]
is caused by this:
[code]

### Versions

torchbenchPerf branch + https://github.com/IvanYashchuk/torchdynamo/tree/nvfuser-cudagraphify

[2022-10-19 15:50] IvanYashchuk commented on #2106
This error is fixed with https://github.com/IvanYashchuk/torchdynamo/commit/2c091eff8f2750e051920621d3908ff25a10694e

DebertaForQuestionAnswering, DebertaForMaskedLM should be working now.

[2022-10-19 16:50] IvanYashchuk commented on #2106
The commit above breaks another benchmark, ElectraForCausalLM.
Pushed another more specific change: https://github.com/pytorch/torchdynamo/commit/54c61696f0fc93369ce7c810d8d0cf1e5217fbc1

[2022-10-19 17:05] naoyam commented on #2096
@kevinstephano How exactly did you modify the fusion? Commenting out the line for `T13` wouldn't work as `T13` is added as an output.

[2022-10-19 18:49] jjsjann123 commented on #2098
Can we get a PR up with these changes to torchbenchPerf?

[2022-10-19 19:09] IvanYashchuk commented on #2098
I have added it to `nvfuser-cudagraphify` branch.

[2022-10-19 19:43] jjsjann123 commented on #2098
Actually saw that after I asked the question. If it's going towards dynamo, then don't worry about a PR. :bow:

[2022-10-19 22:33] jjsjann123 commented on #2094
@zasdfgbnm was just chatting with me earlier that looks like the broadcast on input tensor apparently is giving us some hard time. Kicking the broadcast_in_dim on boundary would help us, which was accidentally done in #2099 (https://github.com/csarofeen/pytorch/pull/2099#issuecomment-1282705600)

I'll verify that with the model and report back.

cc'ing @IvanYashchuk

[2022-10-20 02:32] jjsjann123 opened #2110 "Codegen Error: thread_predicates_.find(tv_inp) != thread_predicates_.end() INTERNAL ASSERT FAILED ... Thread predicate map was not initialized"
### 🐛 Describe the bug

Got this issue from model `pnasnet5large`

`python -u benchmarks/timm_models.py --training -d cuda --fast --backend nvprims_nvfuser --skip-accuracy-check --performance  --generate-aot-autograd-stats -k pnasnet5large`

Error message:
[code]

cpp repro. (Thanks to @zasdfgbnm 's repro parser)
[code]

Python definition from the original issue
[code]

### Versions

The cpp test

[2022-10-20 12:23] csarofeen commented on #2088
I thought codegen auto promotes the operations to FP32 with half inputs. This might be an issue with segmentation.

[2022-10-20 12:25] csarofeen commented on #2088
No, I think I'm wrong and we auto demote intermediates to FP16 in segmentation.

[2022-10-20 17:41] jjsjann123 commented on #2094
FYI, the bookend_non_compute thing actually fixed the issue from the original network. I'll leave this PR open for @zasdfgbnm to track the proper fix. But for our benchmark runs we are all good.

[2022-10-21 07:35] kevinstephano opened #2115 "HuggingFace DistilBertForQuestionAnswering with AMP hits: expected scalar type Float but found Half"
### 🐛 Describe the bug

Error is:

[code]

_Note: this error only occurs after allowing for fusion in the forward pass_

Command:
[code]

The issue seems to be that a `torch.bmm` sees a `half` and `float` input by accident.

This is the section in question:

[code]

This is what create `fused_60`, the following fusion:

[code]

One of my concerns was that the output of where was not getting proper

[2022-10-21 07:55] kevinstephano commented on #2115
This is our fault, the resulting dtype is wrong out of the fusion with `float32`.

[code]

Our `where` operator does not appear to be properly type promoting scalars.

[2022-10-21 09:02] jjsjann123 opened #2116 "Codegen error: `root_vals.find(inp) != root_vals.end() INTERNAL ASSERT FAILED ... Invalid tensor domain`"
### 🐛 Describe the bug

Running into issue on `torchbenchPerf`. (note the the cpp repro also fails on devel with a different error, which is already patched in #2067, but it's not merged in devel yet)

`PYTORCH_NVFUSER_DUMP=python_definition python -u benchmarks/timm_models.py --training -d cuda --fast --backend nvprims_nvfuser --skip-accuracy-check --performance  --generate-aot-autograd-stats &>

[2022-10-21 17:30] jjsjann123 commented on #2115
half support is real and is indeed needed (at some point).

1. In this specific example, I think the problem is parsing?! looking at fusion definition, we should have half output, so there's some promotion thing that was done wrong. I suspect there's something in our `where` implementation where inputs are being promoted wrong. That should be fixed. But in broader terms, being truthful to math typ

[2022-10-21 17:39] kevinstephano commented on #2115
Ultimately the problem is here:

[code]

If `S15` is treated as a `half`, then we have a `where` math problem.   What fix are you thinking about for the parsing/integration side?

[2022-10-21 18:14] naoyam opened #2117 "PYTORCH_NVFUSER_DUMP=buffer_reuse_verbose is (somewhat) broken"
Just a heads-up only for now. Using `PYTORCH_NVFUSER_DUMP=buffer_reuse_verbose` seems to break the alias analysis, resulting in wrong memory reuse. It seems that's because the alias analysis path is done twice if the dump option is requested. Will look into more details but a WAR is just not to use the dump option for now.

[2022-10-21 20:55] jjsjann123 commented on #2115
This is what I'm thinking that we should add to integration.
Basically keeping the math as-is (whether fp16 math should be respected is a different topic), and casting things at the end.
[code]

[2022-10-21 21:16] jjsjann123 commented on #2088
Sorry I missed you comment @csarofeen , but it only happens when intermediates in the original fusion definition is marked with fp16.
Anyway, there's two problem we have with fp16 support:
1. We need to have dtype correctness on outputs. (linking #2115). We'd be better off have something done in the integration as a catch-it-all safe net.
2. fp16 math is likely needed as well?! a). Ruberry made an

[2022-10-23 16:04] csarofeen commented on #2088
Just to break it down simply for myself there's:
(1) Type promotion - To define what precision a computation should take place as
(2) Output type - Define what precision the output should be in
(1) and (2) don't have to match.

I think there's actually three issues here because of fp16/bf16:
(1) Type Promotion - Promotes input types before computations which can impact the output type. This doesn'

[2022-10-24 18:19] jjsjann123 commented on #2088
fp16 inputs -> promote inputs to fp32 -> compute -> set output type of fp16

I don't have a problem with this as the default behavior. Users / framework might have a stronger opinion on us respecting compute math type, but that's a different conversation and it could also be refactored back when we added fp16 math support.

`fp16 inputs -> promote inputs to fp32 -> compute -> set output type of fp

[2022-10-25 23:28] kevinstephano opened #2125 "Bad performance in a softmax fusion"
### 🐛 Describe the bug

Repro:

[code]

Relevant debug:

[code]
 Output:

[code]
FX definition:

[code]
Relevant Benchmark command:

[code]

Cuda Kernel:

[code]

### Versions

`csarofeen/torchbenchPerf`

[2022-10-26 02:30] kevinstephano opened #2126 "Tanh based Gelu defined in HuggingFace is seeing to many saved Tensors"
### 🐛 Describe the bug

From AlbertForMaskedLM, the Activation Function in the feed forward blocks looks like the mincut algorithm from AOT_Autograd is deciding to save off a bunch of tensors it should not like TorchScript style for Tanh Gelu (fast gelu approximation).   ~250us Without the extra tensors saved off, the kernel appears to be ~100us.

[code]

### Versions

`csarofeen/torchbenchPerf`

[2022-10-26 05:05] kevinstephano commented on #2126
We just didn't have the mincut algo enabled.

[2022-10-26 05:05] #2126 closed, assigned to kevinstephano

[2022-10-26 13:03] jjsjann123 opened #2127 "transpose kernel produces wrong result on maxwell devices"
### 🐛 Describe the bug

Issue shows up in upstream CI: https://github.com/pytorch/pytorch/pull/87779
I have verified the failure on devel

We are producing wrong results with transpose. Strangely this issue only repro on Maxwell, even though generated kernel looks identical on Volta with the same launch param.

[code]

This is the codegen IR:
[code]

### Versions

TOT devel also has the repro on M

[2022-10-26 13:34] jjsjann123 commented on #2127
cpp test created here: https://github.com/csarofeen/pytorch/blob/issue_2127/torch/csrc/jit/codegen/cuda/test/test_gpu_transpose.cpp#L637-L663

[2022-10-26 17:46] kevinstephano commented on #2096
I meant to show that this version has much better performance without the `sub` at the end of the fusion:

[code]

Whereas this version is significantly worse:

[code]

[2022-10-28 03:15] jjsjann123 commented on #2115
Having a simpler repro with dynamo:

[code]

Not a super clean one. I started this quick PR to patch it #2133

[2022-10-29 08:49] #1632 closed, assigned to zasdfgbnm

[2022-10-29 20:16] #2094 closed, assigned to zasdfgbnm, kevinstephano

[2022-11-01 04:04] rdspring1 commented on #2087
Graph Module:
[code]

[2022-11-01 20:15] jjsjann123 commented on #2087
Somehow the broadcast in FusionDefinition is not present in the GraphModule printed... this looks strange.
But inputs the the GraphModule is named `broadcast_in_dim_xxx`. I tend to think this is because you are running it with different code base, (mostly now that we have bookend view-like ops stripped, which changes the graph).

This looks very scary to me. Wasn't this a race condition if we have

[2022-11-01 21:12] rdspring1 commented on #2087
The transformed `batch_norm` likely comes from the `InstanceNorm2d` calls in pytorch_stargan.
[benchmark/model.py at main · pytorch/benchmark (github.com)](https://github.com/pytorch/benchmark/blob/main/torchbenchmark/models/pytorch_stargan/model.py#L28-L30)

[2022-11-01 21:22] jjsjann123 commented on #2087
https://github.com/pytorch/pytorch/blob/c40033be162db0f94d37e7ccbd2a89d67f8b8e47/aten/src/ATen/native/Normalization.cpp#L664-L670

So this is well defined behavior. Looks like we need to fix that in decomposition.

[2022-11-02 14:31] csarofeen opened #2155 "Compiler warnings"
### 🐛 Describe the bug

Been getting some warnings from the compiler on our files:
[code]
and
[code]
Usage doesn't seem dangerous to me in any way but would be nice to silence the warnings.

### Versions

devel

[2022-11-02 22:59] #2080 closed, assigned to naoyam

[2022-11-02 23:17] naoyam opened #2158 "Fix position comparison in lower_double_buffer"
See https://github.com/csarofeen/pytorch/pull/2156#discussion_r1012364462

[2022-11-03 03:45] rdspring1 commented on #2087
Linking upstream issue: https://github.com/pytorch/pytorch/issues/88375

[2022-11-03 14:44] IvanYashchuk opened #2159 "Worse performance than ATen: aten._log_softmax"
### 🐛 Describe the bug

# aten._log_softmax.default

Here's the result comparing to ATen:
| benchmark   | geomean | 20th percentile | 50th percentile | 80th percentile |
|-------------|---------|-----------------|-----------------|-----------------|
| HuggingFace | 0.91    | 0.63            | 0.99            | 1.21            |
| Torchbench  | 0.99    | 0.99            | 0.99            | 0.99

[2022-11-03 14:47] IvanYashchuk opened #2161 "Worse performance than ATen: aten.any.default"
### 🐛 Describe the bug

# aten.any

aten.any is used in AllenaiLongformerBase, BartForConditionalGeneration, BlenderbotSmallForConditionalGeneration, M2M100ForConditionalGeneration, MBartForConditionalGeneration, PLBartForConditionalGeneration, PegasusForConditionalGeneration.

Here's the result comparing to ATen:
| benchmark   | geomean | 20th percentile | 50th percentile | 80th percentile |
|---

[2022-11-03 19:17] jjsjann123 commented on #2065
Upstream has switched backends for benchmark runs: https://github.com/pytorch/pytorch/pull/88437

linking it here to track our progress of upstreaming fixes.

[2022-11-03 20:28] jjsjann123 commented on #2065
Note for myself. convolution(_backward) bias decomp seems to be not helping with our benchmark https://github.com/pytorch/torchdynamo/pull/1645 <- so we won't be pushing this to upstream.

[2022-11-03 20:38] jjsjann123 commented on #2127
log our discussion internally:

There's a block sync in the code that doesn't look obvious to me in my first scan. There's a `__barrier_sync(0);` that requires independent thread scheduling (requires volta+ device).

Technically this could happen for any unroll/unswitch used in scheduling.

Naoya suggested trying this
[code]

^^^ Let's evaluate this after upstream bump. We need to take another loo

[2022-11-03 22:34] jjsjann123 commented on #2127
linking upstream ci bump: https://github.com/pytorch/pytorch/pull/87779

[2022-11-04 19:19] naoyam opened #2163 "Silent error due to invalid memory reuse"
Found while working on outer persistent reductions. Simplified repro:

[code]

Generated code:

[code]

The problem is this alias:

[code]

Due to this, the validation fails:

[code]

[2022-11-05 02:22] zasdfgbnm opened #2165 "Compilation error on reduction of expanded input"
### 🐛 Describe the bug

[code]
error
[code]

### Versions

devel

[2022-11-05 02:22] zasdfgbnm commented on #2165
Generated code:
[code]

[2022-11-05 03:25] zasdfgbnm opened #2166 "Our scheduler is not detecting inner/outer reduction correctly for expanded tensor"
### 🐛 Describe the bug

[code]

T0 is indexed as
[code]
which is not optimal

### Versions

TOT devel

[2022-11-05 03:29] zasdfgbnm commented on #2166
In `getProperties`, we are doing
[code]
This is not correct. We should not just skip broadcast, but instead, we should skip all IDs that is mapped to producer's broadcast. That is one reason why I believe it is valuable to know if a reduction is reducing a broadcast dim or not :)

[2022-11-05 03:40] zasdfgbnm opened #2167 "rFactor loses information about the original IterType"
### 🐛 Describe the bug

For example the following reduction
[code]
If I do rFactor on dim 1, I will get
[code]
The last dimension on `T3` should have iter-type broadcast instead of iteration. That is, I expect to have the following:
[code]

And below is a hand-crafted test case to create a failure on it:
[code]
error message
[code]

### Versions

devel

[2022-11-07 13:40] csarofeen opened #2168 "Wrong bug fix pointwise scheduler"
### 🐛 Describe the bug

I changed:
https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/scheduler/pointwise.cpp#L246
from:
[code]
to:
[code]

Because there was a bug while going through the issues in:
https://github.com/csarofeen/pytorch/issues/2065
Which was resulting in the scheduler not having any dimensions in the rhs to schedule on. I don't remember what issue this came

[2022-11-08 01:04] xsacha commented on #1843
I've pulled latest devel branch but am still getting this:
Arguments for fusion3:
Inputs:
  tensor dtype: float sizes: (294912, 1, ) stride: (1, 1, ) pointer: 000000070CF40000
  tensor dtype: float sizes: (294912, 1, ) stride: (1, 1, ) pointer: 000000070CE20000
  tensor dtype: float sizes: (294912, 1, ) stride: (4, 4, ) pointer: 000000070C9A0008
  tensor dtype: float sizes: (294912, 1, ) stride: (

[2022-11-08 14:12] csarofeen commented on #1880
I think there's two issues in this thread, (uncertain if 3 below is really in this thread or just a separate thought):
(1) We should "demote" broadcast dimensions that are merged in if they're not concretized. This is the example you're talking about @naoyam where effectively we could just pull the broadcast out of the transformations so it isn't materialized, preventing unnecessary expansions thr

[2022-11-08 14:22] csarofeen commented on #1880
Extra note on 1: We can't demote broadcast dimensions if their merge is part of reshape.

[2022-11-08 21:22] zasdfgbnm opened #2169 "slow test failure: test_nvfuser_extremal_values_masked_amin_cuda_float32"
### 🐛 Describe the bug

To reproduce:
[code]

Fusion math is:
[code]

but the given input T2 has shape `(3, 2, 1, 1)`. The last dim was not correctly marked as broadcast, so I think during codegen, our system is assuming `i4 == i7` and generating code based on that.

### Versions

TOT devel

[2022-11-08 21:22] zasdfgbnm commented on #2169
cc @jjsjann123

[2022-11-08 21:30] jjsjann123 commented on #2169
Thx for the debugging and repro instructions~~~

[2022-11-10 14:10] mruberry opened #2175 "broadcast_in_dim doesn't accept symbolic numbers for lengths"
[code]

cc @kevinstephano

[2022-11-10 14:11] mruberry opened #2176 "var op doesn't support symbolic number for "correction" kwarg"
[code]

[2022-11-10 15:20] IvanYashchuk commented on #2175
Here's a commit that allows passing symbolic scalars to broadcast_in_dim: https://github.com/IvanYashchuk/pytorch/commit/7f2437ae907e27171645085a15e73c998e4a53fc.
Requires a bit of cleanup (code deduplication, implementing correct `hash()` and `print()` methods) and then it's ready.

[2022-11-14 18:51] #2163 closed, assigned to nobody

[2022-11-16 18:04] naoyam commented on #2117
Closed with #2170

[2022-11-16 18:04] #2117 closed, assigned to nobody

[2022-11-16 18:05] kevinstephano opened #2192 "Add Factory Functions to Python Frontend"
### 🚀 The feature, motivation and pitch

Should include: `full, zeros, ones, arange, eye`.

There was a previous PR to an internal branch that exposed just `full`. #2057

### Alternatives

_No response_

### Additional context

_No response_

[2022-11-17 00:21] csarofeen opened #2194 "Expression Evaluator exposure"
### 🚀 The feature, motivation and pitch

It would be good to make sure we have strong exposure of our expression evaluator. Going to note some interfaces we would likely want to expose:

Input binding, I'm unifying this in the vectorization PR:
https://github.com/csarofeen/pytorch/pull/2124/files#diff-1a2fb0763b31521224aad22ae7a7a7cc60a20635da4580eb9fcc46c500856b93R42

This may be good to have for

[2022-11-17 00:22] csarofeen commented on #2194
Forgot to mention but may want to add later, there's an option for Expression Evaluator to precompute any value it can for faster evaluation. This is an optimization we use to lower latency of kernel launches.

[2022-11-17 07:58] kevinstephano commented on #2175
Created a PR that is mostly just missing the Python Frontend support for the new arith function `symbolic_sizes()`. #2195

[2022-11-17 17:25] kevinstephano commented on #2192
@rdspring1 just take your previous PR #2057 and get it to upstream.  We don't need the other operators as the prim is `full`.

cc @mruberry

[2022-11-17 18:26] rdspring1 commented on #2192
I created the upstream PR: https://github.com/pytorch/pytorch/pull/89230

[2022-11-20 20:46] csarofeen opened #2209 "Segfault with bad schedule"
### 🐛 Describe the bug

I forgot to add an output to a schedule and it resulted in a segfault within computeAt. Uncertain where it came from as I didn't dig deeper but we should probably throw a proper error instead of hitting a segfault.

[code]

### Versions

tot devel

[2022-11-20 21:07] #2155 closed, assigned to nobody

[2022-11-20 21:23] naoyam commented on #2209
Just adding the stacktrace:

[code]

[2022-11-21 21:15] liqiangxl opened #2212 "compute_at is not correctly set in layer_norm"
### 🐛 Describe the bug

T1 should be inlined at function call to welfordCombine
Current generated kernel code allocated 32 (or 64) registers to store T1, however, T1 is only used as parameter to welfordCombine funciton. Thus, it can be inlined with its consumers, e.g. T33, T34, and T35.
To reproduce: PYTORCH_NVFUSER_DUMP=cuda_to_file python forward.py
[code]
![image](https://user-images.githubuser

[2022-11-23 08:33] ftxj opened #2216 "wrong allocation node generated when computeAt is not used"
### 🐛 Describe the bug

[code]
These code will raise an exception
[code]
The generate IR is
[code]
### Versions

tot devel

[2022-11-23 14:21] csarofeen commented on #2216
This program should not work. By default schedules are with intermediates in registers and no expressions inlined with any other expressions.

You need to either put the intermediate (T4) in global memory, or you need to inline your expressions.

[2022-11-24 05:21] ftxj commented on #2216
thanks, well understand.

[2022-11-24 05:21] #2216 closed, assigned to nobody

[2022-11-26 21:17] #2212 closed, assigned to nobody

[2022-11-29 09:52] jjsjann123 commented on #2169
hmmm. Started picking up this one. My current run fails on the same kernel, but input2 is still with shape (3, 2, 1, 2), stride (2, 1, 1, 0).

So it's indeed a broadcast dimension, but that's an explicit broadcast, which is viewed by us us as a non-broadcasted dimension. So guard logic also seems to be right here. (something might have changed?!?!)
https://github.com/csarofeen/pytorch/blob/devel/t

[2022-11-29 20:34] naoyam opened #2227 "index_select type mismatch failure"
This is what I get with the TOT devel:

[code]

It's because the index values passed to `index_select` are type `int`, while the indexing math we generate is `int64_t`. Looks like PyTorch allows both `int64_t` and `int` as the data type of index tensors.

I think it's reasonable to do automatic type promotion in `IrBuilder` to handle these cases.

[2022-11-29 20:36] naoyam commented on #2227
Tagging #2184 as that's where the bug was originally introduced.

[2022-11-29 20:57] naoyam commented on #2227
Actually, we should just cast this to `nvfuser_index_t`. https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/lower_index.cpp#L200

[2022-11-29 23:47] chang-l commented on #2227
The internal `index_select` CI caught this too. Thank you @naoyam for quickly fixing this.

[2022-11-30 17:12] kevinstephano commented on #2175
The PR #2195 was merged in the `csarofeen/pytorch` fork.

[2022-11-30 17:12] #2175 closed, assigned to kevinstephano

[2022-11-30 17:55] jjsjann123 commented on #2127
I'm closing this one for now since we decided to ignore pre-volta devices.

[2022-11-30 17:55] #2127 closed, assigned to nobody

[2022-11-30 17:59] jjsjann123 commented on #2115
closing this for now since #2133 is merged.

[2022-11-30 17:59] #2115 closed, assigned to jjsjann123

[2022-11-30 18:01] jjsjann123 commented on #2115
Note that discussion of fp16 math support is continued in #2088

[2022-11-30 21:18] #2227 closed, assigned to naoyam