[2021-09-12 14:49] #1099 closed, assigned to naoyam

[2021-09-13 17:50] #1080 closed, assigned to nobody

[2021-09-13 18:35] jjsjann123 opened #1112 "Reduction scheduler modifies output Val* of original fusion"
## 🐛 Bug

Observed that IO arguments to a fusion are modified after scheduling.
Look at the example below, `T5_g` from the original fusion is replaced with `T10_g` in the scheduled fusion.

The original fusion
[code]

The scheduled fusion
[code]

## To Reproduce

Repro created in #1113

## Additional context

Modified output `Val*` makes it very hard to map output from scheduled fusion to original

[2021-09-13 20:15] jjsjann123 commented on #1112
This mutation comes from `TensorView::cache_fork` and it seems to be an intended behavior to avoid writing and reading from global memory.
I think we can swap the two tensors instead and avoid replacing outputs.

[2021-09-13 23:29] rdspring1 opened #1115 "1-D Pointwise Scheduler error with Broadcast Tensor"
## 🐛 Bug

Using the pointwise scheduler with a broadcast tensor results in the following error:

## To Reproduce

[code]

The scheduled fusion:

[code]

[2021-09-14 07:53] naoyam opened #1119 "Broadcast dimension is not properly ignored in building parallel dimension map"
https://github.com/csarofeen/pytorch/blob/416f3cfae3a8a43faa81bd1c0b912bdc1ccc62c8/torch/csrc/jit/codegen/cuda/parallel_dimension_map.cpp#L133

When a parallel type is used in two different CA sets and the extents of the concrete domains from each CA set differ, the parallel type is not considered exact. If one of them is a broadcast domain, it can be safely ignored.

The problem in the current co

[2021-09-14 16:51] #1119 closed, assigned to naoyam

[2021-09-15 22:33] shmsong commented on #1071
fixed by #1124

[2021-09-15 22:33] #1071 closed, assigned to nobody

[2021-09-15 23:08] naoyam opened #1125 "Grid reduction/welford buffer out-of-bounds access"
The size of temporary buffers is calculated based on the shape of a reduced tensor.

https://github.com/csarofeen/pytorch/blob/20_12_3_devel/torch/csrc/jit/codegen/cuda/lower_index.cpp#L187-L202

This doesn't work if the number of threads/blocks is larger than the corresponding IterDomain or the parallel type is not used al all. All thread blocks/threads, even when they are redundant, try to use t

[2021-09-16 01:28] naoyam opened #1127 "Broadcast reset should only reset the predicate of the broadcasted domain"
This doesn't seem correct:

[code]
https://github.com/csarofeen/pytorch/blob/20_12_3_devel/torch/csrc/jit/codegen/cuda/lower_thread_predicate.cpp#L216

For example:

[code]

`tv2` doesn't have any thread predication, but `tv4` is predicated with respect to `TIDx`. So, this fusion is actually not valid since at `tv5` is parallelized with `TIDx`, but one of its inputs is predicated with `TIDx`.

Cur

[2021-09-16 16:03] #1052 closed, assigned to naoyam

[2021-09-16 22:04] kevinstephano opened #1128 "Bert Attention Mask Fusion hits assert"
## 🐛 Bug

Error
[code]

Graph:

[code]

## To Reproduce

[code]

[2021-09-16 22:37] #1115 closed, assigned to nobody

[2021-09-17 00:09] naoyam opened #1129 "Thread predicates missing in unswitch conditions"
Looks like we are missing thread predicates in unswitch conditions.

Example:

[code]

[code]

[code]

Notice that `threadIdx.x == 0` for `T3` in the else case of the unswitch branch is missing in the unswitched case. Running the kernels fails at result validation.

[2021-09-17 17:24] #1110 closed, assigned to naoyam

[2021-09-17 17:25] naoyam commented on #1125
Closed in #1126

[2021-09-17 17:25] #1125 closed, assigned to naoyam

[2021-09-17 20:15] naoyam opened #1133 "Shared memory tensors may need to be declared outside of unswitched IfThenElse blocks"
When unswitch conditions are threadIdx-dependent, the path taken by each thread, either the unswitched or normal path, may not be uniform within a thread block. And if a shared memory tensor is defined inside the unswitched block, since it is replicated, the tensor is not really shared between all threads in a thread block.

E.g.:
[code]

In this case, `T2` is replicated. The root thread (i.e., `t

[2021-09-17 21:23] naoyam opened #1135 "nvrtc compiler error message is truncated?"
[code]

Without #1134, this results in:

[code]

However, the real error message seems to be hidden. With #1134, I got:

[code]

[2021-09-18 00:18] naoyam opened #1136 "pow(float, int) fails at link time"
[code]

This results in:

[code]

[code]

The call to `pow` has `float` and `int` and that seems to be a problem. Changing the type of 2 to float works as there's `pow(float, float)`. However, it seems `pow(float, int)` is not defined.

Alternatively, using `powf` seems to work too. In fact, that seems really what's supposed to be used.

[2021-09-18 05:26] #1136 closed, assigned to nobody

[2021-09-21 08:24] jjsjann123 opened #1142 "[AMP][Autocast] autocast generates wrong output scalar type"
## 🐛 Bug

Autocast pass does not propagate/update scalar types for downstream tensors. This results in wrong type produced by downstream operations.

I.e. for operation in promotion list, where output scalar type is determined by inputs with the widest scalar type. For inputs that has already been permuted to fp16, we need to update the scalar type to properly infer the promotion rule.

e.g. in th

[2021-09-21 17:50] jjsjann123 opened #1144 "Codegen tensor to support arbitrary stride order"
## 🚀 Feature

Codegen tensor could support stride order, instead of assuming/requiring descending stride on domains.

## Motivation

This request arises from our channels last PR #1118. Where currently we are permuting tensor on integration code, which creates inconsistent semantics on axes of tensors between TorchScript IR and codegen IR.
The motivation is to allow dimensional collapsing on non-c

[2021-09-21 17:51] jjsjann123 commented on #1144
cc'ing @naoyam
Hopefully I'm capturing what you want to track/discuss in the comment. But feel free to yell at me otherwise :pray:

[2021-09-21 18:01] naoyam commented on #1144
Thanks Jie. I think the main point is that we want to allow collapsing of dimensions when tensors are indeed contiguous. When contiguous tensors are reordered, like NHWC, they could appear non-contiguous even when they are really contiguous. I think it's possible to do that by extending the indexing and predication logic.

[2021-09-23 16:47] naoyam commented on #743
This is also helpful for the HPC users. I'll look into it.

[2021-09-23 22:50] jjsjann123 opened #1151 "Serialization/Deserialization of scheduled fusion IR."
## 🚀 Feature

We want to be able to serialize / deserialize a fusion IR to some binary format.

e.g.
[code]

## Motivation

Problem: repro / debug is tricky for fusion reported by customers running on specific hardware. We've been dealing with this for a while, where CI fails on specific hardware via scheduling that cannot be easily repro'ed on readily available hardware.

Having a way to serializ

[2021-09-23 22:51] jjsjann123 commented on #1151
cc'ing @shmsong @naoyam

[2021-09-27 20:16] rdspring1 opened #1155 "Create optimization pass to replace Alias operations with Non-Alias form"
## 🚀 Feature
Add an optimization pass to replace an alias operation with its non-alias form.

## Motivation

`Unsqueeze, Squeeze, View, Reorder` may only alter the metadata of a tensor, creating an alias. Since we do not have general alias support, we want to replace the operation with a `*_copy` non-alias version.

e.g., replace `unsqueeze` with `unsqueeze_copy`

- [x] Create non-alias version of

[2021-09-29 22:07] jjsjann123 opened #1162 "Add `threshold_backward` in parser"
## 🚀 Feature

LazyTensor uses autograd to generate backward graph, which doesn't use relu_backward but threshold_backward instead: https://github.com/csarofeen/pytorch/blob/9ebcb2a574041a55a5f3848368ddeba7ccc13a0b/tools/autograd/derivatives.yaml#L1535-L1540

need to add an entry for that op.

[2021-09-30 20:14] naoyam opened #1165 "Parallel validation should detect parallelization with predicated types"
If a parallel type is used to parallelize a domain but that tensor is predicated with the parallel type, only one thread or block would run and thus produce invalid results. This happens with `tv5` of issue #1127.

[2021-10-01 17:14] #1127 closed, assigned to naoyam

[2021-10-03 11:06] csarofeen opened #1167 "Clamp/Threshold issue"
Originally reported by vman:
[code]

Errored with:
[code]

[2021-10-06 12:53] csarofeen opened #1172 "Block reduce in unswitch produce incorrect results"
[code]

Produces the code:
[code]
The issue is within the unswitch block writing to `T2` is not predicated by `threadIdx.x == 0`.

[2021-10-06 14:02] csarofeen commented on #1172
Duplicate of https://github.com/csarofeen/pytorch/issues/1129

[2021-10-06 14:02] #1172 closed, assigned to naoyam

[2021-10-06 15:58] naoyam opened #1173 "Do not "unswitch" thread predicates"
https://github.com/csarofeen/pytorch/pull/1130#pullrequestreview-772671716

[2021-10-06 16:11] #1129 closed, assigned to naoyam

[2021-10-07 16:52] csarofeen commented on #1133
Is this still an issue with:
https://github.com/csarofeen/pytorch/pull/1174
where the unswitch predicate won't have:
[code]
?

[2021-10-07 17:02] naoyam commented on #1133
I think so. As long as `threadIdx` is used in unswitch predicates, there can be divergence of threads between the unswitched and normal paths, and then a shared memory tensor can not be accessible from threads taking a different path.

[2021-10-08 05:07] #1102 closed, assigned to naoyam

[2021-10-08 06:21] #743 closed, assigned to naoyam

[2021-10-08 17:35] #1133 closed, assigned to naoyam

[2021-10-08 20:31] #1165 closed, assigned to nobody

[2021-10-09 00:00] #1173 closed, assigned to naoyam

[2021-10-09 00:40] jjsjann123 opened #1181 "Fusion parser refactor"
## 🚀 Feature

1. Parser should give out reasonable debug information to inform user certain graph partition/fusion decisions.

Comment from Kevin:

We would want to at least give user a flag to turn on debug dump to know the reason why certain operations are rejected by our parser: https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/parser.cpp

2. Profiling rule & Fusion ru

[2021-10-11 22:47] rdspring1 opened #1185 "[Bfloat16] Python Autodiff Test Failures"
## 🐛 Bug

Found some bfloat16 test failures in `test/test_jit_cuda_fuser.py `

1. test_autocast_1_bfloat
2. test_autocast_2_bfloat

[code]

[2021-10-12 19:36] shmsong opened #1189 "Infer and alloc error when binding a un-resolved broadcast to grid dimension."
## 🐛 Bug

Broadcast dimensions without broadcast resolution ops should be able to bind to a grid dimension. In that case the grid dimension should implicitly assume a size of 1. Currently this case hit infer and alloc assertion due to the lack of concrete dimension size binding.

## To Reproduce

[code]

[2021-10-13 00:10] jjsjann123 commented on #1181
Just brought up by Kevin, we need to double check that we are properly profiling in-place operations as well. (since inplace remove happens after profiling)
vvv
(RegisterCudaFuseGraph::isRegistered() && fuser::cuda::canFuseNode(n))

[2021-10-13 07:49] jjsjann123 commented on #1185
This is an issue with autodiff, not our fuser :sob:

implicit type promotion done by autograd is not visible by autodiff. We have to deal with similar issues in autocast.
If you look at the special case here:

I suspect we would want similar special case for at::bFloat input and at::Float grad added in aten ops.

[2021-10-13 07:49] jjsjann123 commented on #1185
#957 <- reference in autocast

[2021-10-13 07:55] jjsjann123 commented on #1185
Have we tried those test cases without nvfuser?

[2021-10-13 14:41] #1189 closed, assigned to shmsong

[2021-10-13 15:33] rdspring1 commented on #1185
I can try `test_autocast_1_bfloat` and `test_autocast_2_bfloat` without nvfuser.

The other set of tests seem to be an internal error. Should I create a separate issue for them?

[2021-10-13 15:39] jjsjann123 commented on #1185
it's fine to continue the discussion for the other failures in this threads.

[2021-10-16 18:21] jjsjann123 opened #1200 "Fusion segmenter errors out on BN_relu pattern with specific input shape"
## 🐛 Bug

I'm getting this error while playing with resnet (vvv), got a smaller repro and looks like our segmenter/heuristics fails on a specific input shape.
`RuntimeError: h.has_value()INTERNAL ASSERT FAILED at "../torch/csrc/jit/codegen/cuda/fusion_segmenter.cpp":2555, please report a bug to PyTorch.`

## To Reproduce

[code]

[2021-10-17 21:25] rdspring1 opened #1201 "[Bfloat16] __bfloat2float Error"
## 🐛 Bug

Found some bfloat16 test failures in `test/test_jit_cuda_fuser.py`

`CUDA NVRTC compile error: ptxas application ptx input, line XX; error : Arguments mismatch for instruction 'cvt'`

1. test_backward_type
2. test_bfloat
3. test_category_rule
4. test_native_layer_norm_bfloat
5. test_norm_bfloat
6. test_softmax_bfloat
7. test_to_dtype_bf16_to_bf16
8. test_to_dtype_bf16_to_fp32

[2021-10-17 21:30] rdspring1 commented on #1185
#1201 < Separate `__bfloat2float` function error

[2021-10-18 17:09] #1201 closed, assigned to nobody

[2021-10-21 19:19] shmsong commented on #1200
This is an issue with topology check with welford ops:

Here is the fusion IR
[code]

The reason for failure is:
reduction scheduler detects `PostReductionFusion` ops here:
https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/scheduler/registry.cpp#L302-L308

while the reduction tv in the case of welford will just be one of the ouputs (not deterministic):
https://github.com/

[2021-10-21 19:22] shmsong commented on #1200
@csarofeen I think adding back all welford outputs when checking post reduction dependencies would be the a fix (in the PR above) but maybe there're better ways.

[2021-10-21 21:21] #1200 closed, assigned to nobody

[2021-10-26 00:27] naoyam opened #1223 "Non-exact parallel dimensions may need to be predicated even in the case of unswitch"
#1182 removes predicates for non-exact parallel dimensions for unswitch. However, that's not safe unless corresponding root domains are completely unswitched.

[2021-10-28 05:32] #1167 closed, assigned to nobody

[2021-11-01 21:56] jjsjann123 opened #1244 "autocast + bfloat16 python CI broken"
## 🐛 Bug

`test_autocast_1_bfloat` & `test_autocast_2_bfloat` broken on ampere

## To Reproduce

`python test_jit_cuda_fuser.py TestCudaFuser.test_autocast_1_bfloat` &
[code]

## Additional context

The test should be broken when we added binary ops to `promotion` list in autocast. Need to take a deeper dive on what's going on in the promotion list.

[2021-11-02 23:01] #1244 closed, assigned to jjsjann123

[2021-11-03 06:36] naoyam opened #1247 "Rfactored reductions are not predicated"
When a reduction is rfactored, the reduction expression after the rfactor reduction may miss a predicate.
[code]

[code]

In this example, `t5` is the rfactor tensor of `t2`. `t5` is computed at the position 1 of `t2`, sharing the first axis. When predicating `t2`, if the concrete IterDomain of the first axis is the one of `t5` (or `t1` or `t0`), the reference tensor would look like: `[ceilDiv(i1,

[2021-11-03 06:46] naoyam commented on #1247
I think the problem is the difference of the root domains of `T2` and its reference tensor. The root domain of `T2` is `[ceilDiv(i1, 4)]`, whereas the reference is `[i1]`. If we generate predicates based off the root domain of `T2`, it would generate a valid predicate.

[2021-11-03 06:54] naoyam commented on #1247
The same problem also happens with rfactor-based stride.

For example, assume `t1` is a copy of `t0` with stride 2:

[code]

`t1` would look like: `[ceilDiv(i1, 2), 2]` with the second axis marked as a special stride axis. The root domains of `T1` and `T2` would be:

[code]

If `T1` and `T2` share the first axis, the reference tensor of `T2` could be `[ceilDiv(i1, 2), 2]`, so, similar to the reduc

[2021-11-03 07:05] naoyam commented on #1247
This makes me think predicates should be generated with the root domain of the consumer tensor rather than the reference tensor. Specifically, in `getPredicateContigIds`, the root domain of a given reference tensor is used as the default predicated IterDomains. If instead IterDomains of the reference tensor that are mapped with the root domain of the consumer tensor are used, the above problem sho

[2021-11-03 21:52] naoyam commented on #1223
Fixed by #1222

[2021-11-03 21:52] #1223 closed, assigned to naoyam

[2021-11-03 22:08] naoyam commented on #1074
Actually, this fusion may need to be considered invalid. In each iteration of the outer two loops,  `T1` computes 8 elements (`iS11{2}, iS13{4}`) , but `T2` computes 12 elements (`iS7{2}, iS18{( ceilDiv(4, 3) )}, iS19{3}`). There doesn't seem to be no way to satisfy the dependency between `T1` and `T2`.

[2021-11-04 18:31] jjsjann123 opened #1254 "Arbitrary permutation support in fuser integration"
## 🚀 Feature

To further expand our support on channels last, we want to further expand this to arbitrary permutation.
The challenge would be to maintain a coherent behavior as with eager (TensorIterator). Might make sense to refactor eager code so the logic of permutation extraction could be re-used in nvfuser integration.

[2021-11-04 19:26] naoyam opened #1255 "Predication problem with rfactor reduction"
This fusion fails at the result validation.

[code]
[code]
[code]

Note that there's no computeAt between `T4` and `T1`, so `T1 gets its own predicate (unlike the case in #1247). However, this leads to the problem that they get different predicates:

[code]

Because of non-exact TIDx, the threads that pass the T4 predicate and those that pass the T1 predicate are not the same, resulting in the val

[2021-11-04 21:17] #1247 closed, assigned to nobody

[2021-11-05 17:07] jjsjann123 opened #1259 "Runtime registration of parsing rule for nvfuser"
## 🚀 Feature

Request comes from FB users on patching nvfuser parser without modifying the PyTorch source.
Our current parser allows runtime registration on new parsing rule, so this is do-able but would need some heavy plumbing in order to expose the register API to user: https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/parser.cpp#L517-L532

## Motivation

This is a use

[2021-11-05 19:06] csarofeen commented on #1016
[code]

[2021-11-10 16:59] naoyam opened #1264 "Allow chained strided gather"
https://github.com/csarofeen/pytorch/pull/1262#issue-776168556

[2021-11-10 17:00] naoyam opened #1265 "Improve efficiency of strided gather"
https://github.com/csarofeen/pytorch/pull/1262#issue-776168556

[2021-11-16 17:14] csarofeen opened #1272 "Fix segmentation for pointwise scheduler with complex broadcast patterns"
Tracking from comment in view PR about pointwise scheduler:
https://github.com/csarofeen/pytorch/pull/1245#discussion_r745968811

Assigning to Ryan since he's actively working on pointwise scheduler + transpose.

[2021-11-17 19:24] naoyam opened #1276 "blockReduce performance regression due to SMEM bank conflicts"
In the refactoring PR of #1267, the SMEM indexing in `blockReduce` was changed so that it uses the same basic method as `gridReduce`. While it makes the code easier to maintain, it can cause new bank conflicts. It was first noticed with `NvFuserScheduler_Reduction_Outer_fp32/128/4096`, which was around 12 us before the PR on a Titan RTX, and 14 us after the PR. Th benchmark uses `blockReduce` with

[2021-11-17 20:02] #1074 closed, assigned to naoyam

[2021-11-17 20:06] naoyam commented on #1255
Fixed in #1270

[2021-11-17 20:06] #1255 closed, assigned to nobody

[2021-11-17 20:07] naoyam commented on #1044
It's supported now.

[2021-11-17 20:07] #1044 closed, assigned to naoyam

[2021-11-17 20:11] naoyam commented on #1016
Fixed in #1270

[2021-11-17 20:11] #1016 closed, assigned to naoyam

[2021-11-17 20:14] naoyam commented on #1014
#1268 adds support for grid reductions in a loop

[2021-11-17 20:14] #1014 closed, assigned to nobody

[2021-11-17 20:34] naoyam opened #1277 "Drop support of dynamic window sizes in gather"
Window sizes should be fine with just static sizes. Drop the support of dynamic sizes as it would make indexing and predication simpler.

[2021-11-19 00:55] #1185 closed, assigned to nobody

[2021-11-23 00:13] jjsjann123 opened #1284 "codegen error with independent data flow / horizontal fusion"
## 🐛 Bug

Horizontal fusion with two independent inputs hits a codegen error:
`unknown file: Failure
C++ exception with description "reference_tv != nullptrINTERNAL ASSERT FAILED at "/raid/pytorch_10_1/torch/csrc/jit/codegen/cuda/scheduler/pointwise.cpp":550, please report a bug to PyTorch. Could not find a fully broadcasted output to reference schedule on.`

The fusion pattern is a little awkward

[2021-11-23 00:13] jjsjann123 commented on #1284
cc'ing @shmsong @kevinstephano @csarofeen

[2021-11-30 20:38] shmsong opened #1289 "Gemm Infra: Explicit support for data layout in tensors"
## 🚀 Feature

This feature is mostly motivated by gemm and gemm-fused kernels, and can also benefit any cases where a special data layout need to be specified.

The main interface this feature will need to provide is

- An interface to annotate data layout on tensors, manual or automatic.
- A mechanism to annotate swizzle conversion operations, manual or automatic.
- A well defined relationship be

[2021-12-01 17:25] naoyam opened #1291 "Validation failure with FusionWelfordShmoo and FusionGridReduction3dim1"
The latest devel branch (992916d42cf392609540b9038618f29250be45c2) has a validation failure with `FusionWelfordShmoo`.

[code]

The test manually sets the random seed, but it still failed 3 times out 10 on my Titan RTX.

[2021-12-03 19:52] naoyam opened #1293 "keep_dim option of reductionOp fails with negative positions"
Originally reported by FB.

[code]

[code]

[2021-12-03 20:30] #1293 closed, assigned to nobody

[2021-12-06 22:58] naoyam commented on #1291
`FusionGridReduction3dim1` also fails with a validation error.

[code]

I set the seed as 0. I have seen the error only with compute-sanitizer. I'm guessing there's some timing issue.

[2021-12-07 02:39] #577 closed, assigned to nobody

[2021-12-07 02:39] #517 closed, assigned to nobody

[2021-12-07 02:40] #450 closed, assigned to tlemo

[2021-12-07 02:40] #412 closed, assigned to jjsjann123

[2021-12-08 12:51] #1291 closed, assigned to nobody

[2021-12-09 01:44] jjsjann123 opened #1305 "fusion expression sorting failure"
## 🐛 Bug

Reported by functorch/AOTAutograd folks where they are manually (?! not totally sure) fusing fwd & bwd ops and gives us an example where codegen fails.

Error message:
[code]

## To Reproduce

[code]

[2021-12-09 09:22] jjsjann123 commented on #1305
Chatted with @shmsong offline and he's looking at this

[2021-12-09 22:02] shmsong commented on #1305
Expr sorter not converging, minimum c++ repro seems to be:
[code]

with Fusion IR:
[code]

[2021-12-10 04:54] shmsong commented on #1305
This is the sorter state where the merging was stuck.

There are quite a few groups left and I'm not yet sure which edge is supposed to be making progress from here.

Maybe this one is a mismatch:

[code]

T2 and T8 seem to be unique producer/consumer to each other but T8 computes at 2 and T2 produces at 4.

@csarofeen  could this be the part that went wrong?

Full expr sorter state:

[code]

[2021-12-13 20:22] kevinstephano opened #1309 "Add `aten::_softmax` parsing"
## 🚀 Feature
Need to add parser support in `parser.cpp` for `aten::_softmax` op.  LTC traces the `_softmax` op variant that is different from TorchScript.

[2021-12-13 20:27] kevinstephano commented on #1309
PR #1288 merged the code changes into NVFuser dev.  Still waiting on PR to be upstreamed.

[2021-12-13 20:41] kevinstephano opened #1310 "`view` and `reshape` are asserting in LTC generated graphs"
## 🐛 Bug

The context is we are trying to fuse Biases in LTC graphs and traced `Linear` operations add `view()` operations around `matmul` and bias `add`.

This is the error we see:

[code]

Here is the graph from LTC:

[code]

Here is the fusion group:

[code]

[2021-12-13 21:33] #356 closed, assigned to rdspring1, tlemo

[2021-12-13 21:38] jjsjann123 opened #1311 "NVFuser should autopromote scalar tensors to GPU to achieve identical behavior as with eager & NNC"
## 🚀 Feature

Forwarding feature request from Horace@functorch

[code]

Runs fine in eager/TS, but NVFuser fails with a
[code]

[2021-12-13 22:10] kevinstephano opened #1312 "LTC needs the ability to Segment a model"
## 🚀 Feature
Lazy Tensor Core's does not have a good way of executing a model that is not completely graphed by LTC.

Currently, LTC enablement expects the inputs and model to be sent to a `lazy` device similar to a `cuda` device.

[code]

If you do nothing more than what was previously shown, then all steps of model execution are put into a giant graph.

Typically, a user is expected to mark ever

[2021-12-13 22:41] kevinstephano opened #1313 "Enabling Autocast Support in LTC"
## 🚀 Feature
This is debatably a LTC request as Jie is also working on this problem.

An issue with autocast support is communicating to operator dispatch how to support autocast given that knowing you are on a `lazy` device is insufficient information.  You also need to know the type of device meaning whether you are on a `cpu` device or a `cuda` device.

Jie's initial workaround is to consult th

[2021-12-13 23:01] kevinstephano opened #1315 "LTC Tracing Overhead Reduction"
## 🚀 Feature

One aspect of the tracing overhead is the LTC team's need to work through their performance bottlenecks in their code.  We can see the tracing overhead just from evaluating the perf from the Pytorch Benchmark `hf_Bert`.  The benchmark has a relatively small batch size of `4 sequences` or `2048 tokens`.  The overhead is overcome at `16 sequences` or `8192 tokens`.

Another aspect is b

[2021-12-13 23:06] #1277 closed, assigned to naoyam

[2021-12-13 23:49] kevinstephano opened #1316 "Add Support for Re-computing versus Saving of Tensors in the Backwards Pass"
## 🚀 Feature

This is an issue for users making new ops via Python in Pytorch where new ops can benefit from re-computation of forward results versus saving them.  An example would be writing Gelu in elemental python ops or a Normalization variant.

[2021-12-13 23:59] kevinstephano opened #1317 "Add `aten::rsub` support to NVFuser"
## 🚀 Feature

Functorch requested support of [`aten::rsub`](https://pytorch.org/cppdocs/api/function_namespaceat_1a7486e712370217ac7f68e98d26f3e7f4.html#function-at-rsub-const-at-tensor-const-at-tensor-const-at-scalar).

They want specifically the following case:

`aten.rsub(Tensor, Scalar)` corresponding to `Scalar - Tensor`

[2021-12-14 00:20] kevinstephano commented on #1162
I already did this and it was added in PR #1288

[2021-12-14 00:20] #1162 closed, assigned to jjsjann123

[2021-12-14 00:25] kevinstephano opened #1318 "Compilation time increase exponentially with a large number of pointwise ops"
## 🐛 Bug

This is definitely a somewhat pathological example, but compilation time seems to grow exponentially with this function
[code]

The time taken balloons to 16 seconds by the time we have 15 of them.
[code]

From taking a look at some perf profiles, the primary culprit seems to be the schedulePointwise function: https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/sc

[2021-12-14 00:31] kevinstephano opened #1319 "Sorting error observed in NVFuser"
## 🐛 Bug

Conversation from Horace:

[code]

## To Reproduce

[code]

[2021-12-14 00:42] kevinstephano opened #1320 "Implement `aten::_to_copy`"
## 🚀 Feature

Horace is reporting that autocast from Functorch is inserting `aten::_to_copy` operations.

[2021-12-14 00:59] kevinstephano opened #1321 "Issue with multiplying an `int32` Tensor and an Integer constant"
## 🐛 Bug

[code]

[2021-12-14 02:29] Chillee commented on #1319
Duplicate of https://github.com/csarofeen/pytorch/issues/1305 I believe

[2021-12-14 03:37] kevinstephano commented on #1312
I am trying to toggle between lazy tensors and eager mode to use a non-traced optimizer.  I seem to run out of memory very easily. The model is getting copied via `DeviceToDevice` transfers per model tensor.  Lots of CPU threads get spawned for some reason as well.

Edits to `torchbenchmark/models/hf_Bert/__init__.py`:

[code]

Edits to `run.py` function `run_one_step()`:

[code]

[2021-12-14 04:49] kevinstephano commented on #1312
A much simpler test:

[code]

Command:

[code]

[2021-12-14 05:54] kevinstephano commented on #1312
It looks like I might be triggering the creation of a new Cublas handles on each step that cause `cudaMallocs`.  I am going to try to turn of Cublas workspaces with:

[code]
![Screen Shot 2021-12-13 at 9 42 14 PM](https://user-images.githubusercontent.com/8293715/145941236-94c3d0c4-7a95-4fdc-ae4a-583601675ff7.png)

[2021-12-14 16:01] csarofeen commented on #1305
It's not an error in sorting, this is an error in computeAt, T3's maximum compute at position should be 3, but it's somehow set to 6.

[2021-12-14 16:03] csarofeen commented on #1305
Even more minimal repro:
[code]

[2021-12-14 16:08] csarofeen commented on #1305
So evidently the getReplayablePos PasC/CasP functions in compute_at.cpp is incorrect, with this example we get:

[code]

So T3 correctly detects it can't inline into 7, but when just looking at 3<->4 it's perfectly happy inlining. This seems to only happen with BestEffort or MostsInlined modes.

[2021-12-14 18:12] csarofeen opened #1325 "TorchBench issues with optimization pass for inference"
Reported by Jason Ansel

Repo:
https://github.com/jansel/torchdynamo/blob/main/torchbench.py

Repro:
`./torchbench.py --no-skip -d cuda -n 200 --speedup-ts --nvfuser`
Can be compared with
`./torchbench.py --no-skip -d cuda -n 200 --speedup-ts`

Error:
[code]

[2021-12-14 18:58] jjsjann123 commented on #1325
Hmmmm. let me kick off a container to run through those. :crossed_fingers:

[2021-12-14 20:26] kevinstephano opened #1326 "Cuda driver reports: too many resources requested for launch"
## 🐛 Bug

Error message:
[code]

Repro Code:

[code]

[2021-12-15 16:24] #1305 closed, assigned to nobody

[2021-12-15 20:45] jjsjann123 commented on #1325
Took me a while to get something to run with my setup.

Not seeing the exact same error, but close enough. -> I'm hitting an out of bound access to hash table.. Trying my luck with a debug build now...

[2021-12-16 07:47] Chillee opened #1331 "NVFuser fails in parsing torch.device constants"
[code]

results in
[code]

This issue might only show up after this gets fixed (https://github.com/pytorch/pytorch/pull/69645) - otherwise, you'll run into this issue first.

[2021-12-16 22:41] naoyam commented on #910
This is no longer a concern as we don't support pre-Volta devices.

[2021-12-16 22:41] #910 closed, assigned to jjsjann123

[2021-12-16 23:02] #1321 closed, assigned to rdspring1

[2021-12-17 09:47] jjsjann123 commented on #1325
hmmmm, the alias pass in our devel is still failing. But that code is actually not in upstream master yet....

The graph is very big and I don't yet have a good idea what's causing the error yet. I'm gonna pretend that doesn't exist for the time being and test the code base on upstream master instead.

[2021-12-17 10:13] Chillee commented on #1325
@jjsjann123 I could try running it through my minifier if you can dump the graph :)

[2021-12-18 14:16] #1325 closed, assigned to jjsjann123, kevinstephano

[2021-12-21 21:56] jjsjann123 commented on #1325
I think we are good with running the benchmark @kevinstephano Let me know if you run into more issues :crossed_fingers:

[2021-12-23 20:23] #1317 closed, assigned to kevinstephano

[2022-01-01 11:17] naor2013 opened #1346 "A few questions about this fork"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

The first thing I'm trying to understand is, is this fork the code that gets into th

[2022-01-06 16:44] jjsjann123 opened #1358 "codegen scheduling error"
## 🐛 Bug

Error log:

[code]

## To Reproduce

`repro.py` script here:
[code]

running with fallback disabled
`PYTORCH_JIT_LOG_LEVEL="graph_fuser" PYTORCH_NVFUSER_DISABLE_FALLBACK=1 python repro.py`

## Additional context

This issue was current encountered by both Functorch tolks as well as LTC folks.

[2022-01-06 16:44] jjsjann123 commented on #1358
cc'ing @kevinstephano

[2022-01-06 16:45] jjsjann123 commented on #1358
Hmmm... looks like it's failing in parsing.... Let me take another look first before pushing this somewhere else.

[code]

[2022-01-06 17:43] jjsjann123 commented on #1284
cc'ing @shmsong again.

[2022-01-06 21:22] naoyam opened #1359 "Improve printing of kir::Predicate"

[2022-01-07 01:11] naoyam opened #1362 "More comprehensive testing of conv and pooling"
Shmoo tests with different window shapes, padding, and strides.

[2022-01-07 21:46] csarofeen opened #1365 "Fusion::validateInputs doesn't validate inputs"
Fusion::validateInputs: https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/fusion.cpp#L277-L293

can't actually validate inputs as of today, primarily because of:
https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/ops/normalization.cpp#L344

This is because TorchScript is still expecting an output for mean/invstd in inference mode of BN even though

[2022-01-07 21:50] #1358 closed, assigned to jjsjann123

[2022-01-07 21:52] jjsjann123 commented on #1365
summarizing our discussion/thoughts:

1. size-0 outputs for BN/LN should be handled by parsing and plumbing to fusion executor to return to TS executor.
2. f21 & f22 in the example above looks like these, but it's mysterious how they are converted to float instead of tensor view, figure out what's going on with a cpp example maybe: https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/cod

[2022-01-08 02:58] rdspring1 opened #1366 "Nested View Handling"
Currently we throw an error when we encounter a nested view.

Options:
1. Graph-Level - Separate nested views in graph_fuser.cpp (single-kernel)
2. Segmentation-Level - Separate nested views into different kernels

[code]

[2022-01-08 03:21] rdspring1 opened #1367 "View Segmentation Error"
The fusion should be segmented into two kernels (Pointwise and Reduction).

Errors:
1. `C++ exception with description "aten_tensor.ndimension() == static_cast<int>(root_domain.size())INTERNAL ASSERT FAILED at "../torch/csrc/jit/codegen/cuda/executor_utils.cpp":541, please report a bug to PyTorch. Something went wrong configuring launch. Inputs no longer match.`
2. Predication follows root domain

[2022-01-08 22:45] #1310 closed, assigned to rdspring1

[2022-01-10 17:50] shmsong opened #1371 "Refactor: Need to cleanup input dependency analysis on segmenter pass"
## 🚀 Feature

This is an issue tracking the cleanup effort in segmenter pass. Composite fusion input and intermediate values are modeled differently in segmenter pass's dependency analysis. Some re-factor is needed to unify them and eliminate workarounds.

[2022-01-11 05:31] jjsjann123 opened #1372 "Perf regression on PW+reduction fusion"
## 🐛 Bug

Extracted from Functorch perf regression example. We are getting a 3x perf regression vs eager on a volta card.

## To Reproduce

Scripts below gives the repro.

[code]

## Additional context

Things seems to be fused as expected. Every operations are put into a single fusion group, maybe that's the problem and we should have break up the reduction and point-wise into a separate fusion?

[2022-01-11 17:02] csarofeen commented on #1319
This should be fixed as of https://github.com/csarofeen/pytorch/issues/1305  @kevinstephano or @Chillee would you mind confirming?

[2022-01-11 17:03] csarofeen commented on #1365
I think 0-dim tensors in the fuser are thunked to floating point values, so it may make sense.
The overall goal is to effectively just not have these marked as outputs in the fusion.

[2022-01-11 18:34] jjsjann123 commented on #1365
For the completeness of information:

There are in fact two kind of 0-dim tensors. We have 0-dim size-1 tensor which is used as scalar tensor and 0-dim size-0 tensor which are used for empty buffers in aten. :exploding_head: I'm looking at supporting scalar tensor as well, specifically, cpu scalar tensor, which is supported by TensorIterator, so it's needed for us to reach identical behavior with

[2022-01-18 18:48] shmsong opened #1385 "Handle empty fusion in executor cache"
## 🐛 Bug

We need to define the behavior when an empty fusion is passed to the fusion executor. There seems to be a few ways a fusion can be deemed "empty":

[code]

Current planned ways of handling:
1. No output the cache will mark the fusion empty and will skip any compilation/launch.
2. No input we should probably throw. Proper handling will involve:
  * Still returning the output tensors with

[2022-01-18 19:04] shmsong commented on #1385
@jjsjann123 @csarofeen Just wondering if we have feedbacks/preferences before proceeding. Would appreciate any suggestions.

[2022-01-18 19:06] #1284 closed, assigned to rdspring1

[2022-01-19 19:49] jjsjann123 commented on #1385
Slightly off topic. we've briefly had a similar discussion with functorch guys. The ask from them is for us to support tensor allocation, but I think that would require us to handle some funny dependencies in our graph.

Back to the topic: Christian mentioned about enforce dependency analysis. #1365 I think the implication from that is we should have well defined dependencies from outputs to input

[2022-01-19 23:42] jjsjann123 commented on #1311
Putting a few notes here.
Initial prototype moves scalar cpu tensor into cuda tensor. <- this is pretty easy and straightforward. But it's dog slow.
[code]

gives me `0.014` vs `0.008`. That's bad. Kernel performs about the same, when I remove the extra tensor allocation and fill, perf regression goes away. So we'd want a proper scalar extraction and pass that in as scalar float instead of tensor.

[2022-01-20 00:13] jjsjann123 commented on #1311
shelved prototype: https://github.com/csarofeen/pytorch/commit/5bb3419cbeff6440e610bc7ef533ab432d3fa539

[2022-01-20 17:34] #1309 closed, assigned to jjsjann123

[2022-01-20 18:53] csarofeen opened #1396 "Work through graph viz to update usage for `TensorDomain::rootDomain()` `TensorDomain::rfactorDomain()` and `TensorDomain::domain()`"

[2022-01-20 18:53] csarofeen commented on #1396
Didn't mean to do that...

[2022-01-20 18:53] #1396 closed, assigned to nobody

[2022-01-20 18:54] csarofeen commented on #34
Most of this has been done, closing as this is pretty stale.

[2022-01-20 18:54] #34 closed, assigned to nobody

[2022-01-20 19:12] csarofeen commented on #71
This example works fine now
[code]

[2022-01-20 19:12] #71 closed, assigned to tlemo, csarofeen

[2022-01-20 19:13] csarofeen commented on #116
This is done and works, closing.

[2022-01-20 19:13] #116 closed, assigned to kevinstephano

[2022-01-20 19:14] csarofeen commented on #94
No longer a constraint, this all works now.

[2022-01-20 19:14] #94 closed, assigned to kevinstephano, csarofeen

[2022-01-20 19:14] #131 closed, assigned to tlemo

[2022-01-20 19:14] csarofeen commented on #131
Uncertain what the issue is here, closing as stale.

[2022-01-20 19:18] csarofeen commented on #139
This is implemented now in https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/ir_cloner.h#L105

[2022-01-20 19:18] #139 closed, assigned to tlemo

[2022-01-20 19:22] csarofeen commented on #148
Closing as stale.

[2022-01-20 19:22] #148 closed, assigned to tlemo

[2022-01-20 19:23] #158 closed, assigned to nobody

[2022-01-20 19:24] #191 closed, assigned to jjsjann123, csarofeen

[2022-01-20 19:24] csarofeen commented on #192
This system is all in place now.

[2022-01-20 19:24] #192 closed, assigned to jjsjann123, kevinstephano, csarofeen

[2022-01-20 19:24] csarofeen commented on #194
This is all done.

[2022-01-20 19:24] #194 closed, assigned to jjsjann123, csarofeen

[2022-01-20 19:29] csarofeen commented on #265
Sorry for not responding to this originally. Closing as stale. Unrolling behavior has evolved, but I believe the approach we are taking is roughly in line with what you're suggesting. We do still rely on the compiler to do reasonable pipelining and haven't seen cases where it fails do to it as needed.

[2022-01-20 19:29] #265 closed, assigned to nobody

[2022-01-20 19:31] csarofeen commented on #268
We do use both, and will continue to do so.

[2022-01-20 19:31] #268 closed, assigned to tlemo

[2022-01-20 19:33] csarofeen commented on #270
This is not currently the case.

[2022-01-20 19:33] #270 closed, assigned to tlemo

[2022-01-20 19:34] csarofeen commented on #276
Closing as stale.

[2022-01-20 19:34] #276 closed, assigned to tlemo

[2022-01-20 19:34] csarofeen commented on #283
This is the case, and has changed since this was posted. Closing as stale.

[2022-01-20 19:34] #283 closed, assigned to nobody

[2022-01-20 19:49] csarofeen commented on #297
This remains to behave with limitations that could be lifted. Cross referencing: https://github.com/csarofeen/pytorch/issues/262

[2022-01-20 19:51] csarofeen commented on #299
I think this may be fixed, but without repro can't test.

[2022-01-20 19:52] csarofeen commented on #308
I think this is all completed, closing as stale.

[2022-01-20 19:52] #308 closed, assigned to jjsjann123

[2022-01-20 19:52] csarofeen commented on #319
@naoyam please check if this is still an issue or if we've fixed it at some point.

[2022-01-20 19:57] csarofeen commented on #335
I'm not sure I follow, is this still relevant @jjsjann123?

[2022-01-20 20:58] naoyam commented on #319
@csarofeen With the latest devel branch, we get at `tv0->computeAt(tv5, 1)`:

[code]

And I think this is the right behavior. In this synthetic fusion, the first axis of `tv5` matches with the second axis of  `tv0` and `tv1`, so `tv0->computeAt(tv5, 1)` moves the second axis of `tv1` to the first position. That in turn means the third axis of `tv6`, which corresponds to the second axis of `tv1`, i

[2022-01-20 20:58] #319 closed, assigned to naoyam, csarofeen

[2022-01-20 21:24] shmsong opened #1397 "Fusing unary ops with equal ca pos before a double buffer write"
## 🚀 Feature
Tracking follow up feature request after #1381.

Double buffering is supported now with the restriction that the ca pos of the double buffered tensor view must be on the right of ca pos of it's producer, see test case e.g. `FusionDoubleBuffering3`.

Later we would like to relax this requirement and support equal ca pos between double buffered tv and producer if the producer comes from

[2022-01-20 21:36] csarofeen commented on #336
We do generate reductions now that vectorize with grid reductions. Uncertain if it solves this exact problem, but closing for now. You can reopen if still an issue.

[2022-01-20 21:36] #336 closed, assigned to nobody

[2022-01-20 21:39] csarofeen commented on #345
The latency of run fusion has been reduced drastically since this has been posted. Closing as stale.

[2022-01-20 21:39] #345 closed, assigned to nobody

[2022-01-20 21:42] csarofeen opened #1399 "Combination Register/Shared memory persistence"
Currently not supported to have a combination of shared+register persistent buffer. Should incorporated Nikka's work into codegen to remove this constraint. Cross block persistence should probably be figured out first though.

[2022-01-20 21:42] csarofeen commented on #389
Closing in favor of https://github.com/csarofeen/pytorch/issues/1399

[2022-01-20 21:42] #389 closed, assigned to nobody

[2022-01-20 21:42] csarofeen commented on #390
Trivial reductions are now supported.

[2022-01-20 21:42] #390 closed, assigned to nobody

[2022-01-20 21:43] csarofeen commented on #406
Closing as will not fix.

[2022-01-20 21:43] #406 closed, assigned to tlemo

[2022-01-20 21:43] csarofeen commented on #416
Closing this as stale.

[2022-01-20 21:43] #416 closed, assigned to tlemo

[2022-01-20 21:44] csarofeen commented on #418
Closing this as stale.

[2022-01-20 21:44] #418 closed, assigned to tlemo

[2022-01-20 21:44] csarofeen commented on #427
I believe this is fixed, reopen if there's still an issue.

[2022-01-20 21:44] #427 closed, assigned to jjsjann123

[2022-01-20 21:46] csarofeen commented on #469
I believe this is now supported (pulling bias out of linear layers) reopen if there's still an issue.

[2022-01-20 21:46] #469 closed, assigned to nobody

[2022-01-20 21:47] csarofeen commented on #472
Closing, please reopen if there's an issue.

[2022-01-20 21:47] #472 closed, assigned to nobody

[2022-01-20 21:48] csarofeen commented on #474
IValue profiling is supported, please reopen if there's still an issue.

[2022-01-20 21:48] #474 closed, assigned to nobody

[2022-01-20 21:49] csarofeen commented on #483
Caching requires no compute at to be set, so closing.

[2022-01-20 21:49] #483 closed, assigned to nobody

[2022-01-20 21:49] csarofeen commented on #499
I'm guessing this has gotten even worse with development, should probably revisit at some point.

[2022-01-20 21:50] csarofeen commented on #508
This should be revisited. CC @jjsjann123 @shmsong

[2022-01-20 21:51] csarofeen commented on #514
Statements have a `toString` and `toInlineString` method which should prevent this behavior.

[2022-01-20 21:51] #514 closed, assigned to nobody

[2022-01-20 21:51] csarofeen commented on #515
I think these issues have been resolved, can we close this? @jjsjann123

[2022-01-20 21:53] csarofeen commented on #528
This is now functional and passing.

[2022-01-20 21:53] #528 closed, assigned to nobody

[2022-01-20 21:56] csarofeen commented on #530
This is still an issue.

[2022-01-20 21:58] csarofeen commented on #542
This should be revisited. We do have support now for cooperative group launches, but the point here still remains that multiple reductions that are parallelized should be collapsed into one.

[2022-01-20 22:01] csarofeen commented on #543
This has been fixed.

[2022-01-20 22:01] #543 closed, assigned to nobody

[2022-01-20 22:07] csarofeen commented on #554
Produce at of T3 is now 2 which I believe is correct:
[code]

[2022-01-20 22:07] #554 closed, assigned to nobody

[2022-01-20 22:09] csarofeen commented on #572
I don't see any errors or warnings now on this repro script. Closing.

[2022-01-20 22:09] #572 closed, assigned to jjsjann123

[2022-01-20 22:10] csarofeen commented on #581
This is the direction Shiming is going in, CCing him.

[2022-01-20 22:10] #581 closed, assigned to shmsong

[2022-01-20 22:10] csarofeen commented on #591
Closing as stale.

[2022-01-20 22:10] #591 closed, assigned to nobody

[2022-01-20 22:11] csarofeen commented on #591
Actually still an issue, though somehow we're not hitting this. Will push a fix.

[2022-01-20 22:11] csarofeen commented on #595
Closing as stale.

[2022-01-20 22:11] #595 closed, assigned to tlemo

[2022-01-20 22:12] csarofeen commented on #596
Closing as will not fix. We're moving towards program acquisition that won't have conditionals in the way of fusions. i.e. lazy tensors/lazy modes.

[2022-01-20 22:12] #596 closed, assigned to nobody

[2022-01-20 22:14] csarofeen commented on #609
Closing as stale, repro doesn't repro anymore.

[2022-01-20 22:14] #609 closed, assigned to nobody

[2022-01-20 22:17] csarofeen commented on #612
Kernel `IrScanner` is now using `kir::IrVisitor` which should only look at `exprs` actually used. If still an issue, please reopen.

[2022-01-20 22:17] #612 closed, assigned to nobody

[2022-01-20 22:19] csarofeen commented on #621
We have `BestEffortReplay` `replay(PasC,CasP)` variants and ones that require an ID map. This isn't exclusively safe, but I believe the interface makes this clear now. Please reopen if you disagree.

[2022-01-20 22:19] #621 closed, assigned to nobody

[2022-01-20 22:20] csarofeen commented on #625
This is refactored to `BasicAllocInfo loop_utils::getAllocInformation`

[2022-01-20 22:20] #625 closed, assigned to naoyam

[2022-01-20 22:21] csarofeen commented on #638
CC-ing @jjsjann123 and @kevinstephano is there any immediate actions we want to take here beyond the current debug functionality we have?

[2022-01-20 22:23] csarofeen commented on #643
I disagree name look ups is better than exposing the details of how something is copied. Closing as will not fix.

[2022-01-20 22:23] #643 closed, assigned to nobody

[2022-01-20 22:24] csarofeen commented on #718
@jjsjann123 is there anything left to do?

[2022-01-20 22:25] csarofeen commented on #654
This failure doesn't happen anymore and kernel is generated fine. Do we care if it shows up as parallelized even though it has no impact?

[2022-01-20 22:26] csarofeen commented on #656
Closing as stale.

[2022-01-20 22:26] #656 closed, assigned to nobody

[2022-01-20 22:26] csarofeen commented on #660
@jjsjann123 @shmsong is this still an issue?

[2022-01-20 22:29] csarofeen commented on #663
General rule now is to cache before scheduling. I believe this then is no longer an issue, so closing. Repro no longer repros.

[2022-01-20 22:29] #663 closed, assigned to nobody

[2022-01-20 22:30] csarofeen commented on #673
Closing as stale. Lowering is likely even worse performance, but on par with nvRTC so little motivation to improve.

[2022-01-20 22:30] #673 closed, assigned to nobody

[2022-01-20 22:31] csarofeen commented on #709
Closed as fixed.

[2022-01-20 22:31] #709 closed, assigned to nobody

[2022-01-20 22:32] csarofeen commented on #715
Closing as repro no longer repros.

[2022-01-20 22:32] #715 closed, assigned to nobody

[2022-01-20 22:34] csarofeen commented on #725
Closing as repro doesn't fail. Please open a new issue if there's still a problem.

[2022-01-20 22:34] #725 closed, assigned to nobody

[2022-01-20 22:35] csarofeen commented on #717
Closing as stale. @jjsjann123 please reopen if there's still a problem.

[2022-01-20 22:35] #717 closed, assigned to nobody

[2022-01-20 22:38] csarofeen commented on #720
Closing as will not fix as autocasting for TorchScript is as good as we're intending to get it.

[2022-01-20 22:38] #720 closed, assigned to nobody

[2022-01-20 22:38] csarofeen commented on #721
Closing as will not fix as autocasting for TorchScript is as good as we're intending to get it.

[2022-01-20 22:38] #721 closed, assigned to nobody

[2022-01-20 22:38] csarofeen commented on #722
Closing as will not fix as autocasting for TorchScript is as good as we're intending to get it.

[2022-01-20 22:38] #722 closed, assigned to nobody

[2022-01-20 22:41] naoyam commented on #654
I think at some point we decided not to care if an IterDomain is parallelized or not when it's split. That is still checked at `TensorView::split`, but not in `IterDomain::split`.

I don't think there's any other side effect, although I still think it doesn't makes much sense as it doesn't seem natural to have parallelization of inputs.

[2022-01-20 23:15] kevinstephano commented on #638
This sounds similar in what Jie is trying to do in adding debug info to the fuse/not-fuse decisions.

[2022-01-21 01:50] kevinstephano commented on #353
This is just documentation.  It doesn't need to be an "open issue".

[2022-01-21 01:50] #353 closed, assigned to nobody

[2022-01-21 01:53] kevinstephano commented on #521
This is more documentation for HuggingFace Bert that is now out of date.

[2022-01-21 01:53] #521 closed, assigned to jjsjann123

[2022-01-21 01:57] kevinstephano commented on #950
This documentation does not need to be an open issue. Closing...

[2022-01-21 01:57] #950 closed, assigned to nobody

[2022-01-21 02:12] csarofeen commented on #1372
The pointwise and reductions are getting into different kernels. This is hitting transposes somehow.
[code]

[2022-01-21 03:02] jjsjann123 commented on #1372
hmmmm. that's strange since it used to be a single kernel.

We do have a tensor getting expanded... so there could be something wrong with the profiled stride index. Let me take a look there.

[2022-01-21 18:16] Chillee commented on #1385
There's a... couple reasons for this. For one, during inference, we can (for both torchscript and AOTAutograd passes) view parameters as constant. So, that means that in many cases, we should be able to fuse the creation/allocation of the parameters into other kernels.

Another one is that many operators end up allocating tensors within their implementation. For example, here: https://github.com/p

[2022-01-21 20:58] jjsjann123 commented on #1372
I was lying and it was two kernels all the time (reverted to old commits to confirm this).
[code]

Kernel1 is the slower one and also seems to be the one with transpose there. Let me see if I can trim down the example a little bit more and root cause the transpose.

[2022-01-21 22:10] jjsjann123 commented on #1311
Got the perf back with the PR. :tada:

[2022-01-21 22:13] jjsjann123 commented on #1372
Distilled this to a smaller example and sorta confirmed the transpose coming from expanded tensor (buggy profiling information).

[code]

I thought we are suppose to have fast permutation, but not yet. so slowdown is expected for this computation.
I'll try to patch PE to avoid the unwanted permutatoin in the first place. Assigning this to myself.

[2022-01-21 22:48] kevinstephano opened #1403 "Enabling Lazy Mode"
## 🚀 Feature

The goal is to switch the Dispatch Key with LTC such that `LTCTensorImpl`s will run on the cuda device allowing for code that doesn't work with Lazy Tensors.  This experiment requires the model and inputs to still be put on the `lazy` device as that is the only way to instantiate `LTCTensorImpl`s.  The LTC specific implementation of the Tensor is needed to allow LTC to stitch togethe

[2022-01-22 00:53] kevinstephano opened #1404 "`graph_fuser` assertion on`shape_of.count()` found with LTC"
## 🐛 Bug

Error seen:

[code]

## To Reproduce

Use LTC enabled container:
gitlab-master.nvidia.com/kstephano/pytorch:kjs_ltc_01222022_1

Inside the container

[code]

[2022-01-22 21:33] kevinstephano opened #1405 "Add parser support for LogSoftmax"
## 🚀 Feature
There is a performance opportunity to fuse the Bias for the projection linear layer to LogSoftmax that can be expensive as the hidden size out of the projection is `30258`.  We just need LogSoftmax to be added to the parser.

This would be a simple example:

[code]

Here are a couple examples of the in model cases.  The `LogSoftmax` is inside `nn.CrossEntropyLoss`:
https://github.com/

[2022-01-24 03:43] Chillee commented on #1405
Fwiw, we currently already use Nvfuser for this by simply decomposing it: https://github.com/pytorch/functorch/blob/3ca3f10bf101ee3490753c9ded0a4f7bbcb32488/functorch/_src/decompositions.py#L235

Imo, ideally, nvfuser could simply reuse these decompositions. Alternately, hopefully this makes it easier to at least match pytorch numerics :P

[2022-01-24 14:01] csarofeen commented on #1405
I appreciate this is generally true with AOT autograd, but not with all ~backends~ integrations. There's also the questions of if the decompositions are optimal, and aligned with the codegenerators expectations which is still to be proven out.

[2022-01-24 18:11] csarofeen commented on #1405
For example @rdspring1 is trying GeLU through AOT Autograd, and the decomposition is ~2.5x slower, though we're still trying to debug why.

[2022-01-24 18:16] Chillee commented on #1405
That's fair, and indeed, part of the vision of decompositions is that backends should always *have the choice* whether they want to decompose operators - if you have some special settings/configs that map to layer_norm, we shouldn't take that away.

I'm not sure this is as true - it's easy enough to use these decompositions with torchscript, and in fact, I already wrote a hacky prototype that does

[2022-01-24 20:20] csarofeen commented on #1405
Sounds like gelu got resolved, so now need to see if normalizations can hold up to this as well ❗

[2022-01-25 18:45] jjsjann123 opened #1408 "BN + pw fusion hits codegen assert"
## 🐛 Bug

Error message I'm getting are
[code]

## To Reproduce

Test pushed here: https://github.com/csarofeen/pytorch/tree/repro_bn_pw
run with `PYTORCH_NVFUSER_DUMP="fusion_ir_math" python test_jit_cuda_fuser.py TestCudaFuser.test_batch_norm_impl_index_correctness`

[2022-01-25 18:45] jjsjann123 commented on #1408
cc'ing @naoyam

[2022-01-25 18:52] naoyam commented on #1408
Looks like we just need to set computeAt for `T11`:

[code]

Pinging @csarofeen

[2022-01-25 19:09] csarofeen commented on #1319
Closing, please reopen if still an issue CC @Chillee

[2022-01-25 19:09] #1319 closed, assigned to csarofeen

[2022-01-25 21:06] Chillee commented on #1319
Yes, the 2 issues are duplicates (so this one is now also fixed).

[2022-01-26 18:26] naoyam commented on #1107
Don't think this can happen. Closing.

[2022-01-26 18:26] #1107 closed, assigned to nobody

[2022-01-26 18:29] #1060 closed, assigned to csarofeen

[2022-01-26 18:29] naoyam commented on #977
Stale

[2022-01-26 18:29] #977 closed, assigned to nobody

[2022-01-26 18:30] naoyam commented on #969
Cleaned up

[2022-01-26 18:30] #969 closed, assigned to nobody

[2022-01-26 18:39] naoyam commented on #868
This hasn't happen since then. Closing.

[2022-01-26 18:39] #868 closed, assigned to nobody

[2022-01-26 18:41] naoyam commented on #848
Revisit if it really matters.

[2022-01-26 18:41] #848 closed, assigned to naoyam

[2022-01-26 18:42] naoyam commented on #823
Refactored into `loop_utils::getAllocInformation`

[2022-01-26 18:42] #823 closed, assigned to nobody

[2022-01-26 18:44] naoyam commented on #769
[ ] `static std::unordered_set<Val*> getAllOutputsOf(const std::unordered_set<Val*>& of)`
[ ] `static std::unordered_set<Val*> getAllDependentVals(const std::unordered_set<Val*>& of);`

[2022-01-26 18:45] naoyam commented on #654
Closing as there's no actual problem

[2022-01-26 18:45] #654 closed, assigned to nobody

[2022-01-26 18:48] naoyam commented on #499
Important, but these particular results are now stale.

[2022-01-26 18:48] #499 closed, assigned to nobody

[2022-01-26 18:49] naoyam commented on #80
This was done a while ago.

[2022-01-26 18:49] #80 closed, assigned to naoyam

[2022-01-26 18:50] naoyam commented on #248
We are sort of doing this by creating temporary maps and sets stored as part of the members of `GpuLower`.

[2022-01-26 18:50] #248 closed, assigned to nobody

[2022-01-26 19:11] shmsong commented on #742
Fixed already.

[2022-01-26 19:11] #742 closed, assigned to nobody

[2022-01-26 19:13] shmsong commented on #660
Shouldn't be issue anymore as currently segmenter merges all producer scalar exps in each kernel. Could re-open if needed.

[2022-01-26 19:13] #660 closed, assigned to shmsong

[2022-01-26 19:14] naoyam commented on #323
This simplified case now results in an explicit error at computeAt, which is better than generating invalid code. It still remains to be an issue if we wanted to support fusions like this. Revisit if necessary.

[2022-01-26 19:14] #323 closed, assigned to naoyam, csarofeen

[2022-01-26 20:50] #1408 closed, assigned to nobody

[2022-01-26 20:51] #1155 closed, assigned to rdspring1

[2022-01-26 22:10] Chillee opened #1410 "Error with too many blocks when launching a cooperative kernel"
[code]

[code]

[2022-01-26 22:11] csarofeen commented on #1326
confirmed with @chillee that https://github.com/csarofeen/pytorch/pull/1296/files was not upstream and in his repository, should be fixed with that commit. Will wait until we push upstream to confirm and close.

[2022-01-26 22:13] Chillee commented on #1410
As an additional note, if you switch to
[code]

you get a different error
[code]

And if the batch size is 1, there's no error.

[2022-01-26 22:20] csarofeen commented on #1410
Original issue is incorrect detection that this is a normalization kernel. There's a broadcast in the kernel but it's never resolved, so it's simply a reduction, not a normalization. Since it's a grid reduction and it thinks there's a normalization there's an invalid verification that it's a cooperative group launch and can launch as so.

[2022-01-26 22:24] csarofeen commented on #1410
Issue seems that a grid broadcast is being generated even though it shouldn't since it's never actually broadcasted.

[2022-01-27 01:05] naoyam opened #1411 "Do not materialize non-concretized broadcast"
Non-concretized broadcast does not need broadcasting. This isn't a correctness issue, but it can be a performance problem especially when it's a grid broadcast. See #1410 for a concrete example.

[2022-01-27 01:28] jjsjann123 commented on #1254
Implemented in #1271

[2022-01-27 01:28] #1254 closed, assigned to jjsjann123

[2022-01-27 01:33] jjsjann123 commented on #1181
Fixed in #1191 and https://github.com/csarofeen/pytorch/blob/6c9aacf073630ad0c53b5e3c464ba213aa39fc21/torch/csrc/jit/codegen/cuda/parser.cpp#L664-L667

[2022-01-27 01:33] #1181 closed, assigned to jjsjann123

[2022-01-27 10:56] jjsjann123 commented on #1372
Followup with this issue, upstream PR pushed to https://github.com/pytorch/pytorch/pull/71665
Will import once it's merged upstream. (unless we have a good reason to cherry-pick).

[2022-01-27 11:00] jjsjann123 commented on #1112
Closing this as it's not necessarily a bug.

[2022-01-27 11:00] #1112 closed, assigned to nobody

[2022-01-27 11:12] jjsjann123 commented on #1079
No longer repros.

[2022-01-27 11:12] #1079 closed, assigned to nobody

[2022-01-27 11:12] jjsjann123 commented on #1009
Fixed in #1035

[2022-01-27 11:12] #1009 closed, assigned to nobody

[2022-01-27 11:15] jjsjann123 commented on #962
No longer repros and appears to be fixed by #1035

[2022-01-27 11:15] #962 closed, assigned to nobody

[2022-01-27 11:23] jjsjann123 commented on #957
I'm closing this one as we've put the few binary operations under promotion policy.

Note that AMP for promotion policy in current implementation is somewhat broken on backward pass, since the explicit casting decision is made on static dtype information, which is challenging for AMP pass to consider inserted cast ops. One way to solve it is to have a proper `prim::promote_to_widest` op that defer

[2022-01-27 11:23] #957 closed, assigned to nobody

[2022-01-27 11:52] jjsjann123 commented on #755
Verified and closing ancient issue.

[2022-01-27 11:52] #755 closed, assigned to nobody

[2022-01-27 11:56] jjsjann123 commented on #515
Normalization issues marked here has been properly tackled. closing.

[2022-01-27 11:56] #515 closed, assigned to jjsjann123

[2022-01-27 11:57] jjsjann123 commented on #335
This is already handled when we plumb the cache id down to our hierarchical cache. closing.

[2022-01-27 11:57] #335 closed, assigned to jjsjann123

[2022-01-27 11:57] jjsjann123 commented on #334
LRU has been implemented and used for a while. closing this one.

[2022-01-27 11:57] #334 closed, assigned to jjsjann123

[2022-01-27 12:14] jjsjann123 commented on #299
~IIRC, we disabled fast math so the numerical issues are no longer relevant. closing.~
I was dumb, we are still using fma so this is still relevant. But again, it's only numerical issue so there's not much to be done. closing.

[2022-01-27 12:14] #299 closed, assigned to jjsjann123

[2022-01-28 02:23] Chillee opened #1416 "Error with expanded input + softmax and softmax_backward"
[code]

[code]

[2022-01-28 06:54] naoyam opened #1418 "SMEM mixed bcast/iter with thread binding fails to validate/produce correct code"
I'm not sure what the correct behavior should be, but this fusion currently fails at the validation in the beginning of lowering.

[code]

[code]

The issue is not (just) the validation. Even if the validation is skipped, invalid code is generated:

[code]

Notice that there's no `blockBroadcast`. This is not due to the concrete broadcast domain PR (#1412). It's because merging broadcast and non-b

[2022-01-28 15:18] csarofeen commented on #1418
`blockBroadcast` cannot support this type of use case. I would expect parallel validation should fail in this case instead of predicate check complaining here. This is a change in the parallelization strategy where T3 has a completely different parallel scheme than T2. The only way this can be supported is when T2 is in shared memory, then we should do the right thing, which we almost do when that

[2022-01-28 15:21] csarofeen commented on #1418
This bug isn't high priority as we don't do parallelization schemes like this in practice, but it's not great that this produces such incorrect code.

[2022-01-28 15:24] csarofeen commented on #1418
Disabled test case is added for this issue in https://github.com/csarofeen/pytorch/pull/1412

[2022-01-28 17:40] naoyam commented on #1418
I think another thing we may need to think about is that once a broadcast domain is merged with a non-broadcast domain, it becomes a non-broadcast domain, i.e., `IterDomain::isBroadcast()` returns false. We often just look at leaf IDs and see if there's any broadcast (e.g., `TensorDomain::hasBroadcast()`), which would just return false even when the root domain has a broadcast.

What's not really

[2022-01-28 18:04] naoyam commented on #1416
@Chillee, thanks for reporting the error. I looked at the repro, and it does reproduce on my side as well.

It seems that two Aten tensors of `([640, 256, 256], `[640, 256, 256])` are passed, but at the time `bindKernelInputs`, they become `([256, 256, 640], [640, 256, 256])`. So, my guess is that there's something we should look into before we reach `bindKernelInputs`. Pinging @jjsjann123

[2022-01-28 18:39] #1410 closed, assigned to csarofeen

[2022-01-28 18:39] naoyam commented on #1411
Closed with #1412

[2022-01-28 18:39] #1411 closed, assigned to naoyam

[2022-01-28 19:36] #1311 closed, assigned to jjsjann123

[2022-01-28 21:01] jjsjann123 commented on #1416
Ha, I saw `expand(40*16, 256, 256)` that doesn't look good.

Let me try to cherry-pick this: https://github.com/pytorch/pytorch/pull/71665 and see if it goes away.

[2022-01-28 21:51] jjsjann123 commented on #1416
Loos like it does fix the problem :tada:

[2022-01-29 01:42] Chillee commented on #1372
@jjsjann123 I can confirm that PR fixes a lot of the performance issues I've been seeing.

[2022-01-30 02:15] jjsjann123 commented on #1313
We have this PR merged https://github.com/pytorch/pytorch/pull/69090

It's sorta working as we now have CUDA autocast dispatched on lazy device. It's definitely *NOT* a final~ish solution but it should do. We can revisit this topic when we have lazy mode.

[2022-01-30 02:15] #1313 closed, assigned to jjsjann123

[2022-02-02 17:11] csarofeen opened #1425 "What should warp padding do in a symbolic size case?"
I have the following case which splits by a symbolic TIDx dimension, then pads. Since it's a symbolic dimension we have to specify what the dimension actually should be in launch parameters. If I set this dimension to 31, it doesn't actually pad, it just runs at 31.
[code]

I think the behavior here should be an error since it's contradictory and we could have generated warp specific code. Do you

[2022-02-02 17:56] naoyam commented on #1425
Warp reduction is only enabled when reducing Local tensors, so that's why it's not used in this case.

I modified the fusion as follows, and then it does attempt to use warp reduce but fails at the launch time:

[code]
[code]
[code]

[2022-02-03 13:07] csarofeen commented on #1425
The behavior still seems strange to me though I took advantage of it in https://github.com/csarofeen/pytorch/pull/1429 uncertain what we want to do here as it's nice to blanket pad to warp, even if in many cases it doesn't do anything.

[2022-02-03 15:11] csarofeen opened #1430 "Expr sort issue"
### 🐛 Describe the bug

Repro:
[code]

This case is causing a hang in expr sorting, because we fall into an infinite loop. This seems to be caused because the dim of size 16 moves across the fusion. Expr sorting is using loop map to get a global ordering of iteration domains, and because of this it thinks 16 should be in multiple positions so it fails to finish ID sorting. I believe we should be u

[2022-02-03 15:12] csarofeen commented on #1430
All c++ tests run when swapping all instances of LoopMap to ParallelMap in Expr Sorting, so likely this should be good. Need to more carefully check the instances of the map to make sure.

[2022-02-03 15:32] shmsong commented on #1425
Should we support padding on top of launch constraints?

We could either always apply the padding
 or always make padding launch constrained dims an error
 or make unused padding on launch constrained dims an error.

[2022-02-03 18:33] #1372 closed, assigned to jjsjann123

[2022-02-04 19:49] naoyam commented on #1425
I think we should just error out padding with conflicting launch constraints.

[2022-02-06 18:13] jjsjann123 commented on #1416
Closing since upstream PR is cherry-picked in #1431

[2022-02-06 18:13] #1416 closed, assigned to nobody

[2022-02-07 02:14] jjsjann123 commented on #638
Good point!
I have a short subgraph explaining some of our codegen dump knob from environment variable, even tho i didn't include segmentation in that one. https://github.com/csarofeen/pytorch/pull/1328/files#diff-be7755dee6919a40d24d3c3d0948006330e88cf22d2bbda01395b9f92d7ce2e3R209-R215

Do you that's a good direction to go, documentation on existing knobs? IMO, it strikes a balance of what's read

[2022-02-07 06:28] naoyam commented on #638
Thanks @jjsjann123 . I added a comment at the PR. I close this issue as it's being addressed there.

[2022-02-07 06:28] #638 closed, assigned to nobody

[2022-02-08 01:23] zasdfgbnm opened #1437 "Type promotion does not match with eager mode"
### 🐛 Describe the bug

[code]

I am seeing
[code]

[2022-02-08 01:23] zasdfgbnm commented on #1437
Since I am looking at type promotion support for complex, I will look into this issue myself.

[2022-02-09 00:34] jjsjann123 opened #1444 "Scheduler asserts on pointwise kernel"
### 🐛 Describe the bug

Error extracted from failures encountered in https://github.com/pytorch/pytorch/pull/71299

[code]

Python scripts:
[code]

### Versions

reproed on devel branch
[code]

[2022-02-09 06:21] jjsjann123 opened #1445 "A reduction kernel went through PW scheduler in fragmented fusion"
### 🐛 Describe the bug

Error extracted from failures encountered in https://github.com/pytorch/pytorch/pull/71299

[code]

Python scripts:

[code]

### Versions

reproed on devel branch

commit 16df2b8fa20c446766e27417e0a9d565b1784853 (HEAD, csarofeen/devel)
Author: Naoya Maruyama <naoyam@users.noreply.github.com>
Date:   Tue Feb 8 15:21:47 2022 -0800

    print 0-dim tensors as tensors (#1442)

[2022-02-09 06:23] jjsjann123 commented on #1445
Note that if you run into an assert on this vvv
[code]

That has already been patched in my local branch, I'll try to merge it back to devel when I have it cleaned up.

[2022-02-09 09:20] jjsjann123 opened #1446 "Scheduler seems to be vectorizing size-0 tensor, resulting in validation failure"
### 🐛 Describe the bug

Error extracted from failures encountered in https://github.com/pytorch/pytorch/pull/71299

Looks like the scheduler are vectorizing a size-0 tensor. It is strange that when I update input size from `(1, 0, 3)` to `(3, 0, 3)` and the vectorization went away :confused: . In my naive understanding, neither sizes are vectorization-friendly...

[code]

Python scripts below:

[c

[2022-02-09 17:49] #1430 closed, assigned to csarofeen

[2022-02-09 18:48] jjsjann123 commented on #1445
Shamelessly tagging @shmsong for a helping hand :pleading_face:

[2022-02-09 18:48] jjsjann123 commented on #1444
Looks like a real scheduler issue. @csarofeen

[2022-02-09 18:49] jjsjann123 commented on #1446
Not sure if I'm tagging the right person, but I remember @rdspring1 working on vectorization before so there you go :pray:

[2022-02-09 18:58] shmsong commented on #1445
Part of my job and happy to help : ). Would you mind sharing any commit I need to cherry-pick to get around that assertion?

[2022-02-09 19:14] #1405 closed, assigned to rdspring1

[2022-02-09 19:17] rdspring1 commented on #1445
I've seen this issue on my view support for LTC. I could see if my PR resolves this case.

[2022-02-09 19:31] jjsjann123 commented on #1445
You shouldn't need to cherry-pick anything to get to the error, it repros on top of devel branch. So the issue itself should be all good to go.

I was just worried that you might run into that later since I saw a view op. It's a few lines of code change and I should be able to push a PR for that shortly.
@rdspring1 which PR are you referring to? I don't see any live PR touching view support.

[2022-02-09 19:58] shmsong commented on #1445
Sorry was a bug in segmenter, not sure how it escaped test. Testing the PR branch.

[2022-02-09 20:02] jjsjann123 commented on #1445
Awesome turn-around time!

[2022-02-10 00:31] #1445 closed, assigned to shmsong

[2022-02-10 06:53] jjsjann123 opened #1455 "codegen cpp tests is broken on devel"
### 🐛 Describe the bug

[code]

#1448 breaks tests added in #1426

### Versions

Also repros on devel.

[code]

[2022-02-10 06:53] jjsjann123 commented on #1455
Tagging @naoyam since test and breakage are both coming from your PR :smile:

[2022-02-10 07:15] naoyam commented on #1455
Sorry, didn't notice the error. #1456 should fix it.

[2022-02-10 09:11] jjsjann123 commented on #1455
Oops, sorry about late night tag. didn't mean to push you for a fix at this awkward hour.
But thanks a lot for the quick fix :pray:

[2022-02-10 09:31] #1455 closed, assigned to naoyam

[2022-02-10 09:47] jjsjann123 commented on #1142
Note that we are not actively working on JIT autocast at this moment. I'm closing this bug.

[2022-02-10 09:47] #1142 closed, assigned to nobody

[2022-02-10 09:49] jjsjann123 commented on #718
Closing as items are either worked out or irrelevant.

[2022-02-10 09:49] #718 closed, assigned to nobody

[2022-02-10 09:52] #933 closed, assigned to nobody

[2022-02-10 10:04] jjsjann123 commented on #933
Verified that this doesn't repro any more.

[2022-02-10 10:16] jjsjann123 commented on #896
This one surprisingly still repro (although with a different error).

I have pushed a python repro to https://github.com/csarofeen/pytorch/tree/bn_repro
[code]

[2022-02-10 10:16] jjsjann123 commented on #896
cc'ing @csarofeen

[2022-02-10 10:25] jjsjann123 commented on #478
Sorry forgot to close this ancient bug. But the assert on type mapping has been removed already.

[2022-02-10 10:25] #478 closed, assigned to jjsjann123

[2022-02-10 21:10] naoyam opened #1460 "Use nvfuser_index_t for hoisted common indices"
Currently, `int64_t` is always used, although the index type is `nvfuser_index_t`. Potentially saves register pressure.

[2022-02-11 03:18] rdspring1 commented on #1446
_Maybe_ fixed by #1459

[2022-02-11 14:19] csarofeen commented on #1444
The issues is T2 is registered as an input and an output in the fusion. Is this something we need to support?

[2022-02-11 14:23] csarofeen commented on #1444
This is the JIT graph I see:
[code]

[2022-02-11 14:25] csarofeen commented on #1444
I guess it's just from returning the mask from the pytorch function, it's not just forwarded from input to output. We can ignore outputs registered as inputs if that's the desired behavior.

[2022-02-11 15:49] jjsjann123 commented on #1444
I thought we copied tensors for no-op cast, but I was wrong:
https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/arith.cpp#L189-L191

If we want an no-op on the forward, we would also update executor to recognize the forwarded input so we would not allocate it on output.
I'm a little concerned that doing this means we are creating aliased outputs. But I guess that's properl

[2022-02-11 16:46] #896 closed, assigned to nobody

[2022-02-11 16:46] #1446 closed, assigned to csarofeen

[2022-02-11 21:59] #1444 closed, assigned to csarofeen

[2022-02-16 01:28] jjsjann123 opened #1466 "Scheduler hits floating point exception (dividing by 0)"
### 🐛 Describe the bug

I'm hitting issue when we have size-0 rank 1 tensors going through a reduction kernel.

[code]

I tried to patch it with gdb but that just exposed more divide by 0 :fearful:

### Versions

Reproed on top of devel

[code]

[2022-02-16 01:28] jjsjann123 commented on #1466
cc'ing @csarofeen

[2022-02-16 01:38] jjsjann123 commented on #1466
It's unfortunate that we can't easily exclude size-0 input tensors since we don't specialize them at the time. At least our PW scheduling/kernel works fine with size-0 dimensions, so I tend to think this should also work for normalizations?!

If that's something that we want to do, we can revisit the guard logic.

[2022-02-16 19:21] #1437 closed, assigned to zasdfgbnm

[2022-02-17 21:42] bitfort commented on #1318
Adding to the datapoints:

for adding tensors together.

Size | Time (s)
-- | --
0 | 0.0003423690796
1 | 0.0003907680511
2 | 0.2659058571
3 | 0.2410721779
4 | 0.2432453632
5 | 0.2426133156
6 | 0.2436690331
7 | 0.2462940216
8 | 0.2510836124
9 | 0.2612607479
10 | 0.2804636955
11 | 0.3159413338
12 | 0.4044320583
13 | 0.5557813644
14 | 0.8420534134
15 | 1.451235533
16 | 2.837475777
17 | 6.000268936
18

[2022-02-21 22:29] csarofeen opened #1473 "Incorrect RAW Placement"
### 🐛 Describe the bug

[code]
Produces:
[code]
It should be:
[code]

### Versions

TOT Devel

[2022-02-22 00:58] #1466 closed, assigned to nobody

[2022-02-23 14:02] #1473 closed, assigned to csarofeen

[2022-02-23 19:06] naoyam opened #1486 "Fused warp reduce and broadcast not enabled when the extent of a broadcast axis is not 32"
Example fusion:

[code]

[code]

[2022-02-23 19:38] csarofeen opened #1487 "Reduction sorting still off"
### 🐛 Describe the bug

[code]

Produces:
RuntimeError: validateDomain(consumer, new_domain)INTERNAL ASSERT FAILED at "../torch/csrc/jit/codegen/cuda/compute_at.cpp":565, please report a bug to PyTorch. Tried to set the domain of T35_l[ ithreadIdx.x316{( ceilDiv(( ceilDiv(( ceilDiv(( i11 * ( i12 * i13 ) ), 1) ), 1) ), 4) )}, iUS313{1}, iS315{4}, iS311{1}, rS102{1} ] ca_pos( 2 ) to [ rS102{1}, ithr

[2022-02-23 23:30] jjsjann123 opened #1488 "fusion aliased output should be properly supported"
### 🐛 Describe the bug

We create/mark "target" tensors used by inplace update on inputs as output tensors. In order to match fusion outputs with TS graph outputs on stack, we need to drop all "target" tensors from the stack before returning outputs back to integration, otherwise we'll have mismatch stack size. -> root cause of the segfault of nvfuser running BN in LTC.

However, we currently can'

[2022-02-26 03:07] naoyam opened #1493 "Indexing failure with view"
This test fails at indexing with the TOT branch:

[code]

[code]

The problem seems to have something to do with how we choose concrete domains.

The failure fusion was based on the failing case of https://github.com/csarofeen/pytorch/pull/1451/files/f582e16adf5d1681d76a181cd3a17c217df6da45?show-viewed-files=true&file-filters%5B%5D=#r813879270, but simplified to reproduce with TOT.

[2022-02-26 15:56] naoyam commented on #1493
Here's the CA Loop map:

[code]

The problem is this set: `disjoint_set{ iS14{( T0.size[0] * T0.size[1] )}*, iS6{( T0.size[0] * T0.size[1] )}rf, iS7{( T0.size[0] * T0.size[1] )}, iS13{( 1 * ( T0.size[0] * T0.size[1] ) )}, iS9{( T0.size[0] * T0.size[1] )}, iS12{( T1.size[0] * ( T0.size[0] * T0.size[1] ) )}, iS11{( T0.size[0] * T0.size[1] )}, iS15{( T1.size[0] * T1.size[1] )}, iS22{T1.size[1]} }`. N

[2022-02-28 22:46] naoyam opened #1497 "Index hoisting problem"
Index hoisting seems to do something incorrect. Disabling hoisting results in valid code with output validation passing.

https://github.com/csarofeen/pytorch/pull/1484#issuecomment-1051220559

[2022-02-28 23:21] #1366 closed, assigned to rdspring1

[2022-03-02 01:02] jjsjann123 opened #1502 "codegen uses undefined identifier"
### 🐛 Describe the bug

codegen error generated from simple view+native_layer_norm_backward.

Repro script:
[code]

Run script with `PYTORCH_NVFUSER_DISABLE_FALLBACK=1`

Generated error log:
[code]
where `i11` was used earlier in a predicate
[code]
full log attached

[repro.txt](https://github.com/csarofeen/pytorch/files/8165743/repro.txt)

### Versions

Reproed on ToT devel. Looks like a real iss

[2022-03-02 01:07] rdspring1 commented on #1502
Also, `view + layer_norm_backward` shouldn't be fused together, but the segmenter created 4 kernels - `pointwise with view, persistent, reduction, and pointwise`

[2022-03-02 22:49] rdspring1 commented on #1493
Another failing case after the fix:
[code]

[code]

[2022-03-02 23:54] kevinstephano commented on #1493
I am seeing this error in multihead attention with AOT Autograd:

[code]
You can recreate by doing the following:

1.) Setup AOT Autograd

[code]

2.) Run test

[code]

[2022-03-07 20:31] naoyam opened #1506 "False vectorization validation"
When inner-most domains are indexed as contig domains, vectorization validation should be done with the extent of the merged domain. For example, this fusion should allow vectorization by 4 but not:

[code]
[code]

[2022-03-07 20:32] naoyam commented on #1506
This was encountered in #1504

[2022-03-07 22:02] kevinstephano opened #1507 "Parse `expand` of dim=1 to be a broadcast"
### 🚀 The feature, motivation and pitch

In the backward pass of python written operations like Layer Norm, we see that the multiplication of reduction output in the forward pass results in reduction followed by an expand instead of broadcast in the backward pass.  Therefore, it would be nice to treat expands of dimensions of size 1 as broadcasts.

Here is a simple example:

[code]

This results i

[2022-03-09 16:51] naoyam commented on #1493
I think I now know what's going on. I'll try some ideas.

[2022-03-09 18:07] naoyam commented on #1493
In Ryan's repro, the second segmented fusion is:

[code]

This is scheduled as:

[code]

The error happens when creating a reference tensor for indexing `T14` as a non-global consumer tensor. The reason we have a problem with the tensor is that the domains of left of its CA position have concrete domains picked from the post-view tensors, whereas the concrete domains of the other domains of `T14`

[2022-03-09 19:49] naoyam commented on #1493
@kevinstephano Can you please try #1509? I'm still running the Python tests, but Ryan's repro is fixed.

[2022-03-09 20:32] kevinstephano commented on #1493
I am getting a new error with your fix, Naoya.

[code]

[2022-03-09 23:26] kevinstephano commented on #1493
I tried to repro the failure from above by going through the backward fusion groups and creating them in TorchScript.  I could only get one to fail.  The same failure occurs when I run the test with AOT Autograd and doesn't exactly reproduce the failure seen above.

Here is the test case:

[code]

 Error:
[code]

[2022-03-09 23:33] naoyam opened #1510 "Missing syncthreads"
Some of the shift/gather tests are failing non-deterministically due to missing syncthreads.

For example, in `FusionMaxPoolingStrided`, there must be syncthreads after loading to `T3`, but that's missing.

Correct:

[code]

TOT:

[code]

Not sure why yet, but this bug is introduced with #1484.

[2022-03-10 18:45] kevinstephano opened #1511 "Change default Gelu impl to use `erf()` instead of `normcdf()`"
### 🐛 Describe the bug

Pytorch eager mode recently changed its default implementation of Gelu to use the faster `erf()` function instead of `normcdf()`.  We just need to match eager mode.

Forward Code:

https://github.com/pytorch/pytorch/blob/122f8648ab8f872bd8ed970728c5ac894dce5300/aten/src/ATen/native/cuda/Activation.cu#L408-L413

[code]

Backward Code:

https://github.com/pytorch/pytorch/blob

[2022-03-12 01:42] rdspring1 opened #1514 "Expand indexing error causes incorrect results"
### 🐛 Expand indexing error causes incorrect results

It seems we are indexing into the expanded tensor incorrectly. The repro works correctly when the expand is dropped and we treat the size-1 axis as a broadcast dimension.

[code]

### Versions

[code]

[2022-03-13 15:24] csarofeen commented on #1510
Are you sure a sync there is required? It looks to me in this example that each thread writes everything it ends up reading, it looks like it does this somewhat redundantly, but I don't see any thread reading from SMEM something it didn't write.

I do see consistent failures though with:
[code]
So I'm really curious if `MaxPoolingStrided` does consistently fail for you.

[2022-03-13 20:37] csarofeen commented on #1510
So in:
`NVFuserTest.FusionConv4x4Pad1x1Stride4_CUDA` there's something quite similar to `MaxPoolingStrided`:
The indexing on T7 is writes:
[code]
and reads:
[code]

Where `i109` and `i110` is in the range `[0,6]` and `i103` and `i104` is in the range `[0,3]`

So to me it seems the reads are exclusively positioned within the writes, but it is failing to validate.

Note T7's RHS for its write is:
[c

[2022-03-13 20:59] csarofeen commented on #1510
Okay, it's not the RAW sync, it's the WAR sync. Since each thread is writing the values it's going to read, RAW is not an issue. The issue is that the threads are overlapping, and they have an outer iteration, so one thread could replace the value of another thread (overwriting its result) before the other thread has finished reading.

[2022-03-13 21:02] csarofeen commented on #1510
We need a mechanism to detect when threads may have overlapping sections of a memory space. This of course can only happy with shift or gather, we might simply assume any shift/gather expression can do this however that is a conservative assumption as it requires the thread bindings to be on the dimensions the window is being applied. Thoughts @naoyam?

[2022-03-14 20:10] #1511 closed, assigned to rdspring1, kevinstephano

[2022-03-14 20:44] rdspring1 opened #1517 "Implement Transpose Scheduler"
### 🚀 The feature, motivation and pitch

###  Transpose Scheduler
- [X] Inner Transpose Support for Input, Intermediate, and Output tensors
- [X] Vectorization Support
- [x] Unroll
- [ ] Misaligned Vectorization
-------------------------------------
- [X] Add Transpose Scheduler to scheduler registry
- [X] Pass outer transposes to pointwise scheduler
- [X] Support inner transposes with the same ax

[2022-03-15 03:51] naoyam commented on #1514
At the time of lowering, here's what the fusion looks like:

[code]

So, the fusion just have three 2-D tensors and does only pointwise ops with them, and there's no broadcast.

At the launch time, the kernel arguments are

[code]

This seems to match with what the kernel expects, so nothing seems wrong as far as lowering is concerned.

Is the above result expected? I'm not sure what the `torch.op

[2022-03-15 04:10] naoyam commented on #1514
Here's the actual generated code:

[code]

Everything looks just fine. The only rather unusual expression is the stride of the first axis of `T1`: `(T1.stride[1] * T0.size[1])`. That's because the contiguity vector of `T1` is set as `[true, false]`. So, as far as I can see, nothing seems suspicious with lowering.

[2022-03-15 05:08] naoyam opened #1518 "Missing syncthreads with shift"
This is related to #1510, which is fixed by #1516 for gather. The same error can happen with shift, e.g.,

[code]

Similar to the gather case, no syncthreads is inserted:

[code]

Again, there's a WAR hazard with `T1`.

Running the test results in validation failure as shown below:

[code]

[2022-03-15 13:19] jjsjann123 commented on #1514
I think T1 is [2, 1] expanded to [2, 128]? In this case, second dimension should be marked as broadcasted.... Let me double check the parser.

[2022-03-15 15:10] jjsjann123 commented on #1514
I think this is because of some changes I made to stride indices to match eager behavior, which unfortunately messes up order of broadcasting dimensions...
We just need to be a little bit cautious of marking contiguous dimensions in integration. Let me get a quick patch for this.

[2022-03-15 21:18] #1514 closed, assigned to jjsjann123

[2022-03-15 23:56] eqy opened #1521 "Support scalars with default value"
### 🐛 Describe the bug

Not really a bug, but specifying a value for a scalar and adding it as a fusion input causes JIT compilation to fail with `CUDA NVRTC compile error: default_program(3257): error: expected a ")"`
due to a constant value being specified:
` __global__ void kernel1(double 9.9999997473787516e-06, Tensor<float, 5> T0, int64_t i5, int64_t i4, int64_t i3, Tensor<float, 2> T18, Tens

[2022-03-16 07:37] #1521 closed, assigned to nobody

[2022-03-17 12:32] #1510 closed, assigned to nobody

[2022-03-17 14:20] naoyam commented on #1518
Fixed by #1516

[2022-03-17 14:20] #1518 closed, assigned to naoyam

[2022-03-17 16:07] naoyam opened #1523 "Validation of vectorization should be done with rfactor domains rather than root domains"
See https://github.com/csarofeen/pytorch/pull/1508#issuecomment-1070973332

[2022-03-17 18:26] naoyam opened #1524 "Allow schedulers to utilize vectorization of contig merged domains"
Related to #1506

#1508 allows the lowering to validate vectorization of contig merged domains as a whole. Schedulers need to be updated to utilize it.

[2022-03-17 18:32] naoyam commented on #1523
Actually, this should not matter at this point as that part of the validation is done with the consumer of vectorized set op, which should never have rfactor domains. That said, it's conceptually more accurate to traverse up until the rfactor root domains.

[2022-03-17 18:50] #1506 closed, assigned to naoyam

[2022-03-18 16:57] jjsjann123 commented on #1507
Quick summary on the request:

1. We would only support size-1 expand can won't allow expanding a dimension to a real size. Not sure how nvfuser would support that, as we can't specify the broadcasted dimension to a concrete size naturally. We can probably fake it by some binary ops with empty tensors, but I think that's too far.
2. We do want to support dynamic sizes as well, so we'll need some g

[2022-03-18 18:14] rdspring1 commented on #1507
1. Could we avoid fusing `expand` if it is a fusion output, since we will need to return an aliased tensor with stride 0?
2. The `CudaFusionGuard` should check that the expanded dimension size matches the resolved broadcast dimension size.
3. Treat `expand` as a no-op in the fusion because we're using expand of size-1 dimensions as an explicit broadcast.

[2022-03-18 19:08] jjsjann123 commented on #1507
We can be a little more conservative. I think we can check that the output of expand can have only one consumer that is the `CudaFusionGroup`.

no-op meaning we don't mark the broadcasted dimensions? That would give us wrong output sizes if we ended up using the tensor without broadcast (or having something else broadcasted to the target tensor).
e.g.
[code]

I think we can output a tensor with br

[2022-03-18 20:15] #1523 closed, assigned to naoyam

[2022-03-18 20:20] rdspring1 commented on #1507
For unary operations, we could partially-resolve the expanded dimensions.

[code]

NvFuser TensorView:
[code]

[2022-03-19 21:52] jjsjann123 commented on #1507
Sorry I never posted my comment yesterday and also that I should be more concrete about my example :bow:

I wasn't considering `expand` to a non-trivially-broadcasted size (!=1) yet. I was merely referring to the previous suggestion of treating `expand` as no-op for size-1.

e.g.
[code]

Same as your example above, we can't treat `expand` with size-1 as no-op, but have to explicitly mark the first

[2022-03-19 22:58] jjsjann123 commented on #1507
Ah, I think I was reading the request wrong.... I thought we are only expecting the expanded dimension to be size-1... But that doesn't look like what the request was asking for.

Ryan's example makes a lot more sense to me now.

If we just look at this section in the example:
[code]
I think Kevin was asking us to support: Expanding on fixed dimensions with static sizes, while the rest of the dime

[2022-03-20 00:48] rdspring1 commented on #1507
I think we can handle your case where we would add new broadcast dimensions to the tensor.

Option 1:
Enforce a static size constraint to expanded dimensions. The -1 dimensions are dynamic. <--- Similar to view guard logic

Option 2:
We check that the expanded dimension size matches the resolved broadcast dimension size in downstream operations.

e.g., If the expanded dimension is resolved in the

[2022-03-21 18:10] jjsjann123 commented on #1507
Both sounds fine to me regarding expanded size-1 dimension to be parsed as broadcast. I'm slightly leaning towards option 1 because it uses existing logic :)

Regarding option 2: What if we don't have a `resolved broadcast dimension size`. e.g. expanded dimension doesn't get `merged` to a normal dimension from a different tensor.
[code]
You mentioned something like this earlier vvv
[code]
Is there

[2022-03-22 04:26] #1502 closed, assigned to nobody

[2022-03-24 19:47] rdspring1 commented on #1493
Apply distinct view transformations to two different pre-view tensors.
These tensors map to a common shape and are used together in a binary operation.
[code]

[2022-03-24 22:44] naoyam opened #1530 "Vectorize validation with contig indexing should only use root domain extents"
In vectorize validation, to find the extent of a contig merged domains, it uses `withinContigIDs` to find the root domains of a contig ID, but it also includes intermediate IDs, so the extent calculated by multiplying the extents of all domains returned by `withinContigIDs` is larger than the actual size.

For example, this fusion passes the validation, which shouldn't:

[code]

It vectorizes with

[2022-03-25 12:24] #1530 closed, assigned to naoyam

[2022-03-25 12:25] #1497 closed, assigned to naoyam

[2022-03-25 16:50] naoyam opened #1534 "Vectorization validation still fails to detect invalid vectorization with contig indexing"
Contig indexing and vectorization still has a problem. This fusion doesn't trigger any validation error but fails at run time due to a misaligned access:

[code]

[code]

The misaligned access happens with `T2_l[ iS26{( ceilDiv(( 2 * 2 ), 4) )}, iV27{4} ] ca_pos( 1 )`. This looks fine, but the issue is the computeAt. The actual outer domain where `T2` is defined is `iS15{( ceilDiv(( 2 * ( 3 * 2 )

[2022-03-29 17:53] #1534 closed, assigned to naoyam

[2022-03-29 21:19] jjsjann123 opened #1538 "Codegen error on transform_replay"
### 🐛 Describe the bug

Error I'm running into are:
[code]

Script for repro:
[code]

### Versions

This repros on my devel HEAD `commit 6df7b77b5ccf681694097a111ee0525f7bf1350f`

[2022-03-29 21:30] jjsjann123 commented on #1538
So this is one of the view issues (as Kevin pointed out in team). Naoya tried Christian's fix with view (I guess #1535 ) but seems to not help with this case.

At this time, Naoya is looking into the issue. I'm stamping his name on this one for now

[2022-03-30 05:16] naoyam opened #1539 "Replay with domains merged with trivial reductions"
`TransformPropagator` fails in the fusion below:

[code]
[code]

[code]

The problem is the merge of `T2`, which results in a non-reduction domain. `replayCasP` with `T3` as a consumer and `T2` as a producer fails as it can't replay the merge output domain, which is because it's composed by a reduction domain. However, since the output domain of this merge is not a reduction domain, it's not filte

[2022-03-30 19:23] naoyam opened #1541 "Check if IterDomain::clone, which propagates rfactor flag, is correctly used"
`IterDomain::clone()` is used in various places to replicate IterDomains, e.g., in [`cache_before`](https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/tensor_view.cpp#L837), however, it should not copy rfactor flags in that use case.

`transpose` and `shift` have the same issue, and likely more.

Perhaps, `IterDomain::clone()` should not copy the rfactor flag by default.

[2022-03-30 21:53] #1541 closed, assigned to naoyam

[2022-04-01 01:00] naoyam opened #1546 "Schedulers should avoid merging with trivial reductions"
In #1538, trivial reductions are merged with non-reduction domains, even though the schedulers are supposed to avoid such merges. This results in replay failures, currently, or can be just ignored as in #1540, or can be "forwarded" like broadcasts. In any case, the schedulers should avoid merging such domains.

[2022-04-01 01:03] naoyam opened #1547 "Support fused grid reductions"
Reducing multiple tensors once can be beneficial as one synchronization can be enough for all reduced tensors, which is particularly noticeable for grid reductions. As a start, support fused two grid reductions.

[2022-04-01 19:46] zasdfgbnm opened #1549 "flatten(unsqueeze(tensor, -1)) does not work"
### 🐛 Describe the bug

I am doing the following

[code]

And getting an error

[code]

Looks like this is because merging broadcasting dim with a non-broadcasting dim is not well supported yet? I have a similar pattern in https://github.com/csarofeen/pytorch/pull/1512, and I am struggling a lot on how to make the transform replay work if I flatten the vector split ID with a normal ID.

### Versio

[2022-04-02 00:01] naoyam opened #1551 "ComputeAtRootDomainMap with view likely broken"
I suspect `ComputeAtRootDomainMap` is broken for views. The main purpose of the map is to detect invalid computeAt patterns such as a reduction followed by broadcast. These patterns are detected by traversing root domains backwards, but we only visit arithmetic expressions, so no information is propagated from the rfactor domain of a tensor to its root domain. For example, this would not be flagge

[2022-04-04 20:50] #1549 closed, assigned to nobody

[2022-04-05 02:19] naoyam opened #1555 "[Question] Replaying post-view tensors cancels view transformations"
There's some inconsistency with this fusion:

[code]

`tv1` is an input to `view` and `add`. Before the computeAt, the fusion looks like:

[code]

With `tv1->computeAt(tv3, -1)`, `tv2` is transformed like `tv3`, effectively cancelling the the `view` transformation.

[code]

I'm not really sure if this makes sense as the effect of `view` disappears. Maybe fine as long as the shapes of input and out

[2022-04-05 21:03] rdspring1 commented on #1555
Just some thoughts:
1. We need to propagate the view transformations to the dependent tensors before scheduling.
Alternative: We can schedule this fusion if we select the view tensor as the reference tensor in the pointwise scheduler.

[code]

2. `view` also changes the dimensions of the tensor, so it has an effect even if its domain transformations are ignored.

[2022-04-05 22:46] naoyam commented on #1555
Yes, that would work, but my question is what should be done if the view tensor is not selected as the reference. Or, what about if there are multiple view tensors?

[2022-04-05 22:59] #1539 closed, assigned to nobody

[2022-04-06 01:03] naoyam commented on #1546
Closing this as it's now treated as no-op. #1553

[2022-04-06 01:03] #1546 closed, assigned to naoyam

[2022-04-06 01:05] naoyam commented on #1493
@rdspring1 @kevinstephano  Can we close this? I think with #1536 these fusions should now work, although it may not be complete.

[2022-04-06 21:55] #1551 closed, assigned to naoyam

[2022-04-07 20:29] jjsjann123 opened #1562 "[WIP] microbenchmark codegen error"
### 🐛 Describe the bug

Will get a repro once I verified the issue on devel branch.

Currently the issue comes from microbenchmarks. https://github.com/pytorch/pytorch/issues/75282

autogen-15 error, TorchScript IR:
[code]

Fusion ir and error:
[code]

### Versions

Reproed this on master branch + microbenchmark in David's repo.
I'll extract a repro on our devel branch and raise this issue to the

[2022-04-08 21:48] jjsjann123 commented on #1562
So this is a reshape issue, which would be swiped under our `view` issues. I'm disabling reshape on upstream for now to avoid codegen errors. https://github.com/pytorch/pytorch/pull/75539

[2022-04-12 21:58] naoyam opened #1571 "Predicate elimination bug"
This logic seems wrong (blaming myself):

https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/lower_predicate.cpp#L343-L348
[code]

Repro:

[code]

Validation fails:

[code]

tv2's predicate is eliminated, which is wrong:

[code]

[2022-04-13 04:53] naoyam commented on #1571
Actually, it's not just reduction. This also fails at the validation due to the predicate of `tv2` being eliminated:

[code]

It seems it's been broken ever since we changed how the index is linearlized.

[2022-04-15 03:10] kevinstephano opened #1575 "Bias+Dropout+Add Backward Fusion is slower than eager mode"
### 🐛 Describe the bug

See [Bug No. 3607557](https://nvbugswb.nvidia.com/NVBugs5/redir.aspx?url=/3607557).

### Versions

TOT

[2022-04-15 03:11] kevinstephano opened #1576 "LayerNorm is slower than Eager Mode for some GPT-3 sizes"
### 🐛 Describe the bug

See [Bug No. 3607824](https://nvbugswb.nvidia.com/NVBugs5/redir.aspx?url=/3607824)

### Versions

TOT

[2022-04-15 03:14] kevinstephano opened #1577 "Bias+Gelu Backward is slower than in FP16 than Eager Mode"
### 🐛 Describe the bug

See [Bug No. 3607940](https://nvbugswb.nvidia.com/NVBugs5/redir.aspx?url=/3607940)

### Versions

TOT

[2022-04-15 03:39] kevinstephano opened #1578 "Attempted fusion with AMP cast kernels leads to poor performance and slowdown compared to unfused native PyTorch"
### 🐛 Describe the bug

See [Bug No. 3566568](https://nvbugswb.nvidia.com/NVBugs5/redir.aspx?url=/3566568)

### Versions

TOT

[2022-04-15 04:09] naoyam opened #1579 "Warp reduction bug"
This seems to be wrong:

https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/runtime/warp.cu#L47
[code]

I think `read_write_pred` should not be used. Otherwise, uninitialized values in `shared_mem` would be used.

Here's a repro:

[code]

When this test is run with `PYTORCH_NVFUSER_DISABLE_PREDICATE_ELIMINATION` (requires #1574), the validation fails.

Note that the repro

[2022-04-15 21:36] naoyam opened #1584 "Unify PYTORCH_NVFUSER_DISABLE_ options"
There are `PYTORCH_NVFUSER_DISABLE_INDEX_HOIST` and `PYTORCH_NVFUSER_DISABLE_PREDICATE_ELIMINATION`. Unify them as `PYTORCH_NVFUSER_DISABLE` and allow to choose what to disable like `PYTOCH_NVFUSER_DUMP`.

[2022-04-16 01:15] naoyam commented on #1579
Closed by #1580

[2022-04-16 01:15] #1579 closed, assigned to naoyam

[2022-04-16 14:01] csarofeen commented on #1571
In your first example it's the `T1 = T0` one that needs to be predicated right?

[2022-04-17 02:09] csarofeen commented on #1571
Had to revisit, think I understand the issue now

[2022-04-18 14:03] csarofeen commented on #1571
Okay, wow, this took me way too much time to understand. In the second example (since it's simpler) it's the combination of:

1. the overlapping indices of T1 and T2 based on how we do indexing, using the original stride at the root instead of back propagating extents (should look up the issue where we discussed this)
2. The fact that T2 is aliased to T1. So when we run:
[code]
  and we hit overla

[2022-04-18 14:07] csarofeen commented on #1571
I think there's 3 options here, which you decided to go with the first option in https://github.com/csarofeen/pytorch/pull/1582:

1. Disable predicate elimination when this type of pattern is detected
2. Revert the way we do indexing and try to go back to a fully flat indexing pattern
3. Disable aliasing when we would be able to remove the predicate

I think doing 1 in the short term is a reasonab

[2022-04-18 18:03] naoyam commented on #1571
@csarofeen Yes, #1582 should disable eliminating required predicates. It's more conservative, but the impact would be minimal in practice. The problem only happens when an IterDomain is split but not parallelized. If parallelized, the domain becomes "zero merged in", so indexing computes the extent by multiplying the extents of child domains. After all, we haven't seen any actual error since the i

[2022-04-18 22:05] #1331 closed, assigned to jjsjann123

[2022-04-18 22:49] rdspring1 opened #1595 "Unswitch + Unroll parallelization causes incorrect results with transpose scheduler on non-vectorize sizes"
Uncommenting [the unswitch and unroll parallelism](https://github.com/csarofeen/pytorch/blob/rds_transpose/torch/csrc/jit/codegen/cuda/scheduler/transpose.cpp#L663-L667) will cause the following tests fail:

- [  FAILED  ] NVFuserTest.FusionTransposeSchedulerVerticalBinarySwap_CUDA
- [  FAILED  ] NVFuserTest.FusionTransposeSchedulerVerticalUnary_CUDA
- [  FAILED  ] NVFuserTest.FusionTransposeSched

[2022-04-19 01:08] naoyam commented on #1595
Do they fail when only either of the unswitch or unroll is used? Or do they fail only when both of them are used?

[2022-04-19 02:35] #1571 closed, assigned to naoyam

[2022-04-19 02:40] naoyam commented on #1538
@jjsjann123 Is this still an issue? We've made a couple of improvements so far, including more robust handling of views and trivial reductions. As far as I remember, @rdspring1 said he's working on a scheduler fix, but I'm not sure what the current status is.

[2022-04-19 02:41] naoyam commented on #1493
Closing this as I believe it's working now. Please reopen if not.

[2022-04-19 02:41] #1493 closed, assigned to naoyam

[2022-04-19 06:06] rdspring1 commented on #1595
Both cases fail. Only when unswitch and unroll are disabled will the tests pass for non-vectorized sizes.

[2022-04-19 16:21] naoyam commented on #1595
OK, I'll look into it.

[2022-04-19 17:41] naoyam commented on #1595
The tests don't seem to fail when only the unswitch is enabled. Is it different on your system?

[2022-04-19 17:55] rdspring1 commented on #1595
The failure can be shape dependent. With only unswitch enabled and the current sizes, it passes with my 3090 but fails on the A100.

https://github.com/csarofeen/pytorch/blob/rds_transpose/torch/csrc/jit/codegen/cuda/test/test_gpu_view.cpp#L939-L944

[2022-04-19 18:26] naoyam commented on #1595
Thanks. No idea why, but looks like there's a sync problem. Here's the generated code from `TransposeSchedulerPointwise` with no unswitch and unroll:

[code]

`T8` is on shared memory and needs a sync before reads. With `tv->axis(-2)->parallelize(ParallelType::Unroll)`, though, the generated code is:

[code]

As you can see, `__barrier_sync(0)` is moved to the end of the loop block. This doesn't s

[2022-04-19 18:31] naoyam commented on #1595
In any case, I think the placement of the sync should be fixed. Without unroll, we do insert the sync just before the reads of `T8`, which is correct, but it doesn't need to be executed at each loop iteration. It should be placed outside of the `i99` loop.

[2022-04-19 22:34] naoyam commented on #1595
There appears something strange with `T8` indexing: `T8[((((((((i99 * 4) + i102) * ((nvfuser_index_t)blockDim.x)) + ((nvfuser_index_t)threadIdx.x)) / 32) + (((((i99 * 4) + i102) * ((nvfuser_index_t)blockDim.x)) + ((nvfuser_index_t)threadIdx.x)) % 32)) % 32) * 32) + (((((i99 * 4) + i102) * ((nvfuser_index_t)blockDim.x)) + ((nvfuser_index_t)threadIdx.x)) / 32)];`. I'm looking into this, but still do

[2022-04-19 22:56] naoyam commented on #1595
OK, that's because it's swizzled, so that should be fine.

[2022-04-19 23:10] kevinstephano opened #1597 "`lerp` implementation in NVFuser does not match ATen"
### 🐛 Describe the bug

NVFuser:
[code]

ATen:
[code]

### Versions

TOT

[2022-04-20 00:29] naoyam opened #1598 "RAW sync inserted at non-optimal place"
[code]

[code]

The RAW sync for `tv2` is placed right before its use, which is:
[code]

But it can be and should be placed out of the loop of `i32`.

[2022-04-20 00:30] naoyam commented on #1595
Filed an issue on sync placement: #1598

[2022-04-20 01:56] naoyam opened #1599 "RAW sync inserted at incorrect place"
Related to #1598, this fusion is a slight variation of the repro fusion of #1598. The only difference is it uses `Unroll` as well:

[code]

[code]

As can be seen above, `__barrier_sync(0)` is placed after the use of `T2`, which is incorrect. This seems to be due to the logic here:

https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/lower_insert_syncs.cpp#L555

[2022-04-20 01:59] naoyam commented on #1595
Filed another issue on RAW sync and unroll: #1599

Those two issues are not directly related to transpose, but I believe this issue is caused by them.

[2022-04-20 07:42] naoyam commented on #1595
The tests pass with #1600.

[2022-04-20 16:13] jjsjann123 opened #1601 "Extended permutation support requested from upstream"
### Feature

Upstream has been requesting us to support/respect permutation propagation from input to output.

Permuted tensor indicates intended memory format for storage. In PyTorch eager, permuted input tensor usually dictates the memory format for output tensor ([Note 0]).

The combined ask coming from upstream is to respect upstream permutation propagation rule. e.g. nvfuser should produce ou

[2022-04-20 16:20] jjsjann123 commented on #1601
To support 1. We can do a simple update on our current permutation support logic to handle implicit broadcast. That shouldn't take more than 1 day's work. (famous last words :smiley:)
There'll be not changed needed on current API. The drawback is that it'll be tricky to match the exact propagation rule in aten, we can try to match TensorIterator in some degree.

To support 2 (and 3). Currently wit

[2022-04-20 16:24] jjsjann123 commented on #1601
A quick note, we should confirm the requirements from upstream as well. I'll ping upstream stakeholders on this when we finished the first round of discussion on timeline/workload within the team.

[2022-04-20 17:00] #1598 closed, assigned to nobody

[2022-04-20 17:00] naoyam commented on #1599
Closed by #1600

[2022-04-20 17:00] #1599 closed, assigned to nobody

[2022-04-20 17:01] naoyam commented on #1595
Closes this issue as the fix PR is merged. Please reopen if they still fail.

[2022-04-20 17:01] #1595 closed, assigned to naoyam

[2022-04-21 03:56] kevinstephano commented on #1597
It looks like there is an fp16 problem as changing the lerp implementation doesn’t matter.

Test command:

[code]

[2022-04-21 04:28] Chillee commented on #1326
This error is still present (with this repro) for me. I've checked that @csarofeen's PR is in my build.

[2022-04-21 14:03] jjsjann123 commented on #1326
You are likely using CUDA11.1? Similar issue here: https://github.com/pytorch/pytorch/issues/75708#issuecomment-1105252534
Please let us know your cuda toolkit version if it's something else.

[2022-04-21 15:25] Chillee commented on #1326
That’s correct - we use the same cluster, and they’ve taken quite some time to upgrade the cuda toolkit :(

[2022-04-21 18:14] rdspring1 opened #1608 "FusionViewConcreteDomain3 Failure"
### 🐛 Describe the bug

NVFuserTest.FusionViewConcreteDomain3_CUDA fails

[code]

### Versions

ToT of devel branch

[2022-04-21 20:56] naoyam commented on #1608
The test seems to break with #1548.

[2022-04-21 21:19] jjsjann123 commented on #1601
Very briefly describing our rough brainstorm ideas:

1. We would want to mark tensor stride order in physical (memory) space, while keeping semantics in virtual space. Similar to what PyTorch is offering, with the exception that we only respect stride order and user can't provide explicit strides.
API on how that would impact computation definition is still under discussion. We'll likely stick wit

[2022-04-22 02:13] naoyam commented on #1608
It seems that the test was working just by luck. The recent compute-at-map refactoring changed some ordering, which resulted in this failure, but there's no constraint on the ordering, so the test could have failed previously as well.

[2022-04-22 05:01] naoyam commented on #1608
Created a fix: #1615

[2022-04-23 00:25] #1608 closed, assigned to naoyam

[2022-04-25 21:48] jjsjann123 commented on #1326
Just for the record, this should be patched in #76226

[2022-04-26 17:28] zasdfgbnm opened #1621 "`devel` branch has failing python tests"
### 🐛 Describe the bug

[code]

Example error message:
[code]

### Versions

devel

[2022-04-26 21:54] #1597 closed, assigned to kevinstephano

[2022-04-26 23:21] jjsjann123 commented on #1621
Ha, that's better than I expected... but the sum failure makes me nervous.... :)

[2022-04-27 20:20] jjsjann123 commented on #1365
I'm bumping up the priority of this on myself.

we should add validation on input contiguity here as well (brought up by @kevinstephano )

[2022-04-27 21:35] kevinstephano opened #1626 "Create a mechanism to realize the Tensor from a `broadcast`"
### 🚀 The feature, motivation and pitch

The python frontend has implemented an operation called `broadcast_in_dim`.
Interface:
[code]
Given that the `output_shape` can have concrete dimensions, if `broadcast_in_dim` where placed as the producer of an output in a fusion, there is currently not a way to realize the new broadcasted tensor because the shape sizes are not recorded in the TensorView.

[2022-04-28 00:12] csarofeen commented on #1626
Wondering if we want an explicit marking on IterDomains generally that could constrain the problem. This could effectively give the execution or lowering extra information about what constraints are added from the interface. This could be from view and propagating view as it could reduce the amount of expression evaluation we have to do to infer bounds of things.

Some interface like `GpuLower::id

[2022-04-28 06:01] naoyam opened #1628 "Codegen of GridSync likely wrong"
https://github.com/csarofeen/pytorch/blob/8fc2259c1956e54f2d6cbf7a01e1c5b3210fc695/torch/csrc/jit/codegen/cuda/codegen.cpp#L1842

Passing `gridDim` and `blockDim` to `maskedOffset` seems wrong. `blockIdx` and `gridDim`?

[2022-04-28 07:52] naoyam commented on #1626
I'm not really sure what `broadcast_in_dim` does. Doesn't it just mean its output tensor has the shape specified by `output_shape`? If so, doesn't it mean the shape sizes are recorded as the shape of the output tensor?

[2022-04-28 17:38] rdspring1 opened #1630 "Incorrect results with `view before transpose` fusion"
### 🐛 Describe the bug

Error with view before transpose fusion
[code]

Test:
[code]

Original Fusion:
[code]

Fusion Math IR:
[code]

[code]

### Versions

ToT of rds_transpose branch
`FusionTransposeSchedulerView_CUDA`

[2022-04-28 17:48] rdspring1 opened #1631 "Incorrect results with `broadcast before transpose` fusion"
### 🐛 Describe the bug

[code]

Test:
Note: I'm using view operation to create broadcast axes.
[code]

Fusion:
[code]

Fusion IR Math:
[code]

[code]

### Versions

ToT of rds_transpose branch
`FusionTransposeSchedulerBroadcastBefore_CUDA`
Note: I'll push this test after finishing the scheduler changes.

[2022-04-28 18:15] naoyam commented on #1631
Is the branch up-to-date? I tried it and didn't find the test, so I just copied the above test and got a different error:

[code]

[2022-04-28 18:35] rdspring1 commented on #1631
I pushed the WIP broadcast changes to the branch.

[2022-04-29 07:12] kevinstephano opened #1632 "Implement `atan2` and `bitwise_{xor, and, or, not}` operations for python frontend."
### 🚀 The feature, motivation and pitch

There is a request to add this operations and plug them into the NVFuser python frontend.

Note, the development on the python frontend is currently done directly in upstream.

This is an example of the Frontend.
https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/codegen/cuda/python_frontend/examples/python_example.py

It is likely you can just a

[2022-04-29 07:33] kevinstephano opened #1633 "Python Frontend ran into an issue with binary ops and tensors of double and half"
### 🐛 Describe the bug

It was reported that there was an error with the combination of a Half Tensor input and a Double Tensor input via the python frontend.  Development needs to be done on Upstream direct PRs.

This is an example:
[code]

This was the error seen:
[code]

This should probably be turned into a python frontend example.  You can look here for guidance:
https://github.com/pytorch/py

[2022-04-29 19:16] rdspring1 commented on #1626
References for `broadcast_in_dims`:
https://www.tensorflow.org/xla/operation_semantics#broadcastindim
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/client/xla_builder.h#L1698-L1715

`broadcast_in_dims` seems similar to `expand` except that `expand` only allows adding new dimensions to the front of the tensor.

[2022-04-29 19:32] kevinstephano commented on #1626
I think the `TensorView` should record what needs to be broadcasted relative to the `output_shape`.  Unless we are realizing the output shape, we want to record the output as a broadcast instead of the actual `output_shape` so we don't create a copy of the tensor with its full shape, unnecessarily.

[2022-04-29 22:14] rdspring1 commented on #1633
Cast issue is being addressed in https://github.com/pytorch/pytorch/pull/76605

[2022-04-30 15:32] csarofeen commented on #1626
Should we modify view so it can expand a size-1 dimension?
Maybe this would be best modeled as broadcast->view.
Thoughts @naoyam ?

[2022-04-30 15:34] csarofeen commented on #1626
Oh, just realized, disadvantage of this is that if the broadcast never has to actually be materialized, we would materialize that dimension physically in memory.

In other words if the broadcast from `broadcast_in_dim` is never concretized, we should leave it as `stride==0` but `size==concrete_size`.

We probably want to leave it as just broadcast, then have some logic to expand output tensors of

[2022-04-30 17:24] rdspring1 commented on #1626
Currently, `view` is implemented as `trivial_reduction -> view (merge, split) -> broadcast`.

`broadcast_in_dim` could be modeled as `broadcast -> expand` where `expand` marks the broadcast dimensions with a `concrete_size` constraint.

[2022-05-02 14:49] csarofeen commented on #1631
@naoyam can you try to repro again, and see if you can figure out which expression has the incorrect indexing?

[2022-05-02 15:22] rdspring1 commented on #1631
There was an issue with the test itself. I wasn't transposing the axes in the same way with the nvfuser and eager mode.

The nvfuser transpose operation uses old2new map for its transpose axes, while `aten::permute` uses a new2old vector.
It maybe less confusing in the future if we change the nvfuser transpose to match eager modes API.

[2022-05-02 15:22] #1631 closed, assigned to naoyam

[2022-05-02 15:23] rdspring1 commented on #1630
Same failure mode as #1631. It passes now after fixing the test.

[2022-05-02 15:23] #1630 closed, assigned to nobody

[2022-05-02 15:24] rdspring1 commented on #1633
The PR was merged into upstream.

[2022-05-02 15:24] #1633 closed, assigned to rdspring1

[2022-05-02 15:25] rdspring1 commented on #1367
Fixed in PR https://github.com/csarofeen/pytorch/pull/1451

[2022-05-02 15:25] #1367 closed, assigned to rdspring1

[2022-05-02 16:17] csarofeen commented on #1631
😌  was worried, thanks for figuring it out.

[2022-05-02 16:50] rdspring1 commented on #1631
The credit goes to @naoyam for debugging my mistake.

[2022-05-02 18:36] shmsong opened #1641 "Predicate removal pass needs to update/recompute as the lowering progresses"
### 🐛 Describe the bug

Predicate removal info is currently built before any lowering passes, but as the lowering progresses more expressions are generated that also needs pred removal information.

In this repro is one problem with vectorize pred removal that failed because the expression pointer was refreshed after indexing pass.

Repro:

[code]

### Versions

PyTorch version: 1.12.0a0+git133a2b

[2022-05-03 18:19] shmsong commented on #1289
Closed as currently going on different route.

[2022-05-03 18:19] #1289 closed, assigned to nobody

[2022-05-04 19:25] #1628 closed, assigned to naoyam

[2022-05-04 21:45] zasdfgbnm commented on #1632
Reopening as there are still `bitwise_{xor, and, or, not}` missing.

[2022-05-04 23:53] naoyam opened #1655 "Indexing failure *without* view"
This fusion fails at indexing.

[code]

[code]

[2022-05-05 00:42] naoyam commented on #1655
Math:

[code]

Loop map:
[code]

Notice that there's no IterDomain that has all the three distinctive non-broadcast IterDomains. And as such, indexing fails.

One possible fix would create a reference IterDomain from non-broadcast root domains and adds that to the CA map. This way, the loop for the merged domain would be created with a reference IterDomain of `i2 * i4 * i1`, and indexing should wo

[2022-05-05 18:53] #1584 closed, assigned to naoyam

[2022-05-05 21:46] naoyam opened #1671 "Update the old grid reduction kernel to ignore predicated parallel types like the new reduction kernel"

[2022-05-06 04:23] naoyam commented on #1524
I believe this has been done for all schedulers.

[2022-05-06 04:23] #1524 closed, assigned to naoyam

[2022-05-06 17:27] kevinstephano opened #1673 "`broadcast_in_dim` pattern is failing"
### 🐛 Describe the bug

**I have not made a correct repro, yet.**
This is a placeholder of information.

[code]

### Versions

TOT

[2022-05-07 00:16] kevinstephano commented on #1673
The problem I thought existed was actually fixed by Christian's latest pointwise scheduler changes.  Nothing to do here.

[2022-05-07 00:16] #1673 closed, assigned to nobody

[2022-05-07 13:16] csarofeen opened #1678 "TIMM Hitting View + Transpose and breaking"
### 🐛 Describe the bug

On our devel nightly while running:

[code]
I'm running into a failure that appears to be related to transpose + view fusions. I'm really impressed we haven't run into more trouble, but I don't think we should have either enabled for 1.12. @jjsjann123 are you relying on transpose for layout support?

Running with
[code]
gets rid of the error.

Failure:
[code]

When looking

[2022-05-09 00:54] jjsjann123 commented on #1678
QQ: Are we thinking about disabling transpose in combination with view (which should already be the case, since all alias-like view/reshape/(un)squeeze are disabled in upstream)? or do we want to explicitly NOT have any transpose in fusion IR?

Currently memory layout support uses transpose when needed.

Not having permutation support means our perf for channels last (or really, any permuted tenso

[2022-05-09 01:25] rdspring1 opened #1683 "Change NvFuser transpose to follow aten::permute API"
### 🚀 The feature, motivation and pitch

### Problem:
The NvFuser transpose API is: `TensorView* transpose(TensorView* inp, const std::unordered_map<int, int>& old2new)`
The Aten permute API is: `permute(Tensor(a) self, int[] dims)` where `dims` maps the new dimension to the old one.
The API difference creates extra overhead when ensuring that the two operations have the same behavior.

### Pitch:

[2022-05-09 12:41] csarofeen commented on #1678
Can you coordinate the disabling of fused ops with our devel branch as well? It's confusing that some ops are disabled upstream but not in our devel.

`Currently memory layout support uses transpose when needed.`

This is fine, I just want to make sure we're not translating user defined permutations, only those needed for memory layout. I don't think transpose should generally hurt performance, bu

[2022-05-09 12:48] csarofeen commented on #1678
Sorry, my brain isn't synced, just realized you're just now disabling view ops in upstream. I kept thinking they've been disabled for a while. Whenever they're disabled let's pull them in so we can make sure devel is as close to what we're planning for 1.12 as possible.

[2022-05-09 17:16] kevinstephano commented on #1632
Xiang, are you still working on the bitwise operands?

[2022-05-09 17:29] zasdfgbnm commented on #1632
Yes, I am. I was just waiting for the reland of my reverted PR https://github.com/pytorch/pytorch/pull/76769, which is relanded last Saturday.

[2022-05-09 19:01] naoyam commented on #1547
Lowering is mostly done. Scheduling updates remain to be done.

[2022-05-09 23:54] naoyam opened #1686 "Consider adding `Int32` or `Index` IR nodes"
See #1685.

[2022-05-09 23:58] #1460 closed, assigned to naoyam

[2022-05-10 09:38] zasdfgbnm commented on #1632
Related PR for bitwise ops:
https://github.com/pytorch/pytorch/pull/77146
https://github.com/pytorch/pytorch/pull/77158

[2022-05-10 17:16] jjsjann123 opened #1689 "Unsqueeze hits assert"
### 🐛 Describe the bug

Unsqueeze hits assert on upstream. Issue opened here: https://github.com/pytorch/pytorch/issues/76883

Judging by the error message, I think there's something wrong with our parser translating unsqueeze. Not sure if the segfault in the second example is caused by the same reason (invalid graph). But David's fix that prevents segfault looks right to me: https://github.com/py

[2022-05-11 22:31] jjsjann123 commented on #1678
BTW, I'll be syncing the codebase in master pull https://github.com/pytorch/pytorch/pull/77017/files#diff-9738ee51d55cdf479f41b018d61ca43ed2ae10c13a20e21ec45b7578e82a23d2
^^^ This is the PR where things are disabled.

[2022-05-11 23:21] naoyam opened #1692 "Inconsistent rfactor"
In this fusion, the rfactor tensor gets an inconsistent rfactor domain.

[code]

The rfactor domain of tensor `rf`: `iS9{i1} iS15{( 3 * ( ceilDiv(i2, 4) ) )}rf rS14{4}rf`. Specifically, `3` comes from `i1`, but it's also included in the second ID.

Not sure if that's the root cause, but the fusion results in an error when building the computeAt map:

[code]

[2022-05-13 00:32] zasdfgbnm commented on #1692
Assign myself to take a look

[2022-05-15 18:33] csarofeen opened #1700 "ops.alias failing somewhere in timm"
### 🐛 Describe the bug

PYTORCH_NVFUSER_DISABLE=fallback TIMM_BENCHMARK_ENABLE_TORCHDYNAMO=1 python pytorch-image-models/benchmark.py --bench train --amp --channels-last -b 64 --model tf_mobilenetv3_large_075
WARNING: Overriding precision to 'amp' since --amp flag set.
Benchmarking in amp precision. NHWC layout. torchscript disabled
Model tf_mobilenetv3_large_075 created, param count: 3993528
Runn

[2022-05-15 18:38] csarofeen commented on #1700
Looks like it's `prim::squeeze_copy` running with `TIMM_BENCHMARK_NVFUSER_SKIP_NODE_KINDS="aten::squeeze;prim::squeeze_copy"` works fine. @jjsjann123 is squeeze disabled for 1.12?

[2022-05-15 18:46] jjsjann123 commented on #1700
Yes they are.
We disabled `xxx_copy` decomposition for all alias ops in upstream. So you won't have them in the first place: https://github.com/pytorch/pytorch/blob/168dc70faf9764417a7e41a14bf2f4e15a7f3e4a/torch/csrc/jit/codegen/cuda/graph_fuser.cpp#L2101-L2106

[2022-05-15 18:47] jjsjann123 commented on #1700
Let's keep this issue open since the bug is real. I'll try to get a minimal python repro out of it and trace the fix on that~

[2022-05-15 18:47] csarofeen commented on #1700
Thanks. @rdspring1 to follow up after 1.12 settles.

[2022-05-17 04:32] naoyam opened #1706 "Indexing contig-merged domains with broadcast forwarding"
Found while testing `ViewPersistentShmoo`. Turned out not specific to view.

[code]

This fusion generates the following kernel:

[code]

The problem is that `T1` isn't predicated while it should be. It is because the IterDomain to predicate for `T1` has no corresponding domain in its reference. The predicated domain is `iS11{( T0.size[0] * T0.size[1] )}`. The reference domain is:

[code]

If cont

[2022-05-17 04:36] naoyam commented on #1689
@jjsjann123 Merged two fixes. Let me know if it still fails.

[2022-05-17 09:55] jjsjann123 commented on #1689
Looks like both examples run fine now :tada:

Thanks for fixing this~~

[2022-05-17 09:55] #1689 closed, assigned to nobody

[2022-05-17 10:42] #1706 closed, assigned to naoyam

[2022-05-18 21:48] jjsjann123 opened #1713 "fragmented layer norm hits nvfuser codegen error"
### 🐛 Describe the bug

Hitting error:
[code]

From Natalia's example here:
[code]

### Versions

I'm able to get a repro in our nightly containers. (since the repro requires functorch, it is probably easier to repro there for you as well)

Container I used: gitlab-master.nvidia.com:5005/dl/pytorch/update-scripts:jit-cuda11-latest
image id (db33a052a269) <- you shouldn't need to grab this exact im

[2022-05-18 21:49] jjsjann123 commented on #1713
cc'ing @ngimel

[2022-05-19 00:04] shmsong commented on #1713
Seems to be a CPP repro if it helps:
[code]

original failing segment:
[code]

[2022-05-19 00:05] shmsong commented on #1713
@naoyam

Problem seemed to be that the broadcast in `tv3` was concretized twice to un-mapped id's.

I'm not sure if we want to support computeAt in this case. We could either segment them apart or try to support this kind of broadcast inlining.

[2022-05-19 02:07] ngimel commented on #1713
In python
[code]
the above fails, however, if I explicitly broadcast x2 as `x3=x2.unsqueeze(-1).expand_as(x0)` it works and generates a reasonable kernel, so the problem maybe not computeAt, but handling explicitly (correct dimension, stride=0) vs implicitly broadcast tensors - why can't the latter be turned into former?

[2022-05-19 02:11] ngimel commented on #1713
Also, since this happens with just scripting not particularly complicated functions (no AOT), how widespread do you think this bug is, and will users be hitting it a lot if nvfuser is turned by default? Like, is it any broadcast addition followed by reduction, or broadcasted tensor should be used in multiple places to hit this?

[2022-05-19 06:26] naoyam commented on #1713
The tricky part of `fn` is nvfuser doesn't know whether `x0` and `x1` has the same shape. Their first axes are fine as that of `x2` is not a broadcast, so we can deduce all of them have the same extent. However, since the second axis of `x2` is a broadcast, and there's no operation using both `x0` and `x1`, we conservatively assume they may have different extents, which makes the inlining approach

[2022-05-19 20:05] #1713 closed, assigned to nobody

[2022-05-19 20:09] naoyam commented on #1713
We fixed this issue by segmenting the fusion so that the broadcast axis is only used with a unique non-broadcast axis. This may not be ideal in terms of performance, but should avoid the problem with the scheduler.

[2022-05-20 17:49] kevinstephano opened #1721 "A broadcast with multiple consumers is trying to be allocated with a dynamic local allocation"
### 🐛 Describe the bug

`T3_l` causes the error:

[code]

Unscheduled Fusion output:
[code]

Repro: (The problem goes away if I remove x4)
[code]

### Versions

TOT

[2022-05-20 17:49] kevinstephano commented on #1721
CC @mruberry

[2022-05-20 17:57] kevinstephano commented on #1721
Nevermind, issue was already fixed: https://github.com/csarofeen/pytorch/issues/1713

[2022-05-20 17:57] #1721 closed, assigned to naoyam, csarofeen

[2022-05-20 22:03] csarofeen opened #1722 "Support expand"
### 🚀 The feature, motivation and pitch

An expand operation in PyTorch can take a tensor:
`size = [3, 17, 1, 80]` and `stride = [1360, 80, 80, 1]`
and physically expand the size-1 dimension so that:
`size = [3, 17, 99, 80]` and `stride = [1360, 80, 0, 1]`

Today nvFuser cannot handle these types of situations and will not expand a dimension, as it only broadcasts dimensions in the way that the di

[2022-05-20 22:16] rdspring1 commented on #1722
Linking other related issues:
https://github.com/csarofeen/pytorch/issues/1626
https://github.com/csarofeen/pytorch/issues/1507

[2022-05-20 23:10] csarofeen commented on #1722
Cross posting some conversation on this:
If we have something like:
`y = gelu(e.expand(...))` we would need to track the concrete size.

If we have something like a tensor `T1[1]` expanded to 99 as `T1[99, stride=0]` it would be a hard error to do something like `... = T1[99, stride=0] + T2[100]`

[2022-05-20 23:11] csarofeen commented on #1722
We would definitely have to add some mechanisms to check consistency at runtime to make sure concretized domains like this are correct. Actually... we would probably already error during expression evaluation.

[2022-05-20 23:21] rdspring1 commented on #1722
Could we make the expanded dimensions dynamic?

[2022-05-20 23:49] csarofeen commented on #1722
I don't see why not.

[2022-05-21 00:19] csarofeen commented on #1722
@naoyam one thing between the two approaches, is the extent will have to propagate as new operations are added. Maybe it does make sense then as an IterDomain property.

[2022-05-21 00:39] naoyam commented on #1722
Agreed.

[2022-05-21 16:24] zasdfgbnm commented on #1722
Can `expand` be implemented as a composite op?
[code]
Should be equivalent to
[code]
I think?

If we create a dummy binary op `take_first(x, y) -> x`, and add support for `zeros`, should existing infrastructure be sufficient to support expand?

[2022-05-21 17:02] csarofeen commented on #1722
It would support it, but it would immediately make the tensor dense which I'm trying to avoid. If someone expands a tensor, but we don't need to materialize that expansion until many ops further down, we may get into a situation where we don't even need to materialize the expand at all.

In other words if we have a tensor with dim `32` but stride `0`, and we never interact with another tensor that

[2022-05-23 19:47] jjsjann123 commented on #1722
I'm wondering how would this affect indexing, specifically dimension collapsing? Specifying a domain as broadcasted in the middle of a tensor breaks our assumption that all dimensions follow ascending stride order. So I imaging having a broadcasted dimension in the middle would break the dimension collapsing, unless we pre-permute input tensors.

[2022-05-23 20:06] csarofeen commented on #1722
I think we now have support to collapse through broadcast. CC @naoyam to check my memory.

[2022-05-23 20:26] naoyam commented on #1722
As long as a broadcast domain is set as contiguous, dimension collapsing, i.e., contig-merged indexing, should work. The main logic is in contiguity.cpp.

[2022-05-23 23:32] csarofeen commented on #1722
Oh, I thought we ignored the contiguity flag on broadcast dims, we should try that. Never mind I see the issue, as we'd have to signal contiguity across broadcast dims :-/

[2022-05-24 04:42] #1692 closed, assigned to zasdfgbnm

[2022-05-25 16:59] jjsjann123 opened #1730 "nvfuser complex fails opinfo tests"
### 🐛 Describe the bug

running with PYTORCH_TEST_WITH_SLOW=1 python test_jit_cuda_fuser.py -v TestCudaFuserOpInfoCUDA

[code]

I'm trying to push code base to upstream. So I'll be disabling these tests (will also cherry-pick that into our devel branch).

### Versions

This fails on our devel which is on dd2325294e236c5082c642819a1103bcfe4561a3

[2022-05-25 18:14] jjsjann123 commented on #1621
I think these have been patched in our last upstream push. Though I'm not totally sure if view/reshape are handled properly in codegen, since we disabled those, but that's a different topic.

I'm going to close it for now.

[2022-05-25 18:14] #1621 closed, assigned to jjsjann123

[2022-06-02 19:16] kevinstephano opened #1741 "Non-contiguous Tensor with Broadcast Bug"
### 🐛 Describe the bug

This issue was originally provided by @ngimel.  This was her example using `refs`.  It is exposed via the Python Frontend.  This problem is not seen in TorchScript because the inputs are permuted to be contiguous in the integration.  So, a C++ test had to be written.

Original Test:

[code]

C++ Test:
[code]
Error:
[code]

### Versions

TOT

[2022-06-02 19:34] kevinstephano commented on #1741
I meant to write the C++ test with Symbolic `TensorView`s.  Here is that version: (The same error appears)

[code]

[2022-06-02 20:53] jjsjann123 commented on #1741
This should be a false alarm in the assert right... If current dimension has size == 1, we should skip the check.

[2022-06-03 00:43] #1741 closed, assigned to jjsjann123, csarofeen

[2022-06-03 17:00] naoyam opened #1747 "Use expand-as information to make concretization mappings less conservative"
https://github.com/csarofeen/pytorch/pull/1739#pullrequestreview-995220553

[2022-06-03 17:14] naoyam opened #1748 "Revisit IterDomain type setting"
https://github.com/csarofeen/pytorch/pull/1739/files#diff-d9d8679c17535294b87f64e1cf2a7de98f502ef103d13a8bac5369cd68726409R144

[2022-06-03 17:14] naoyam opened #1749 "Convert size-1 gather to broadcast"

[2022-06-06 08:28] jjsjann123 opened #1751 "Broken expand op"
### 🐛 Describe the bug

[code]

This simple expand hits an assert
[code]

gdb BT:
[code]

### Versions

Repro's on ToT devel `8a69aa320bd7629e1709fe5ceb7104d2c88ec84c`

[2022-06-06 08:28] jjsjann123 commented on #1751
cc'ing @csarofeen

[2022-06-06 08:50] jjsjann123 commented on #1751
I think the assert checks for `expanded_extent->isA<Int>()`. which fails for iter domain that was replaced with NamedScalar during `replaceSymbolicSizes`. I tried to also allow the assert to accept `NamedScalar` in ExpandOp but that just gives me segfault. :(

[2022-06-06 13:59] IvanYashchuk opened #1752 "Support 0 sized tensors"
### 🚀 The feature, motivation and pitch

PyTorch supports 0-sized tensors and test generation with OpInfos often includes such inputs. Some users also explicitly asked for 0-sized tensors to just work and not error out where it makes sense.

It would be nice not to special case zeros in the shape of a tensor and make it work with nvFuser.
Currently, assert would be triggered from here:
https://git

[2022-06-06 20:38] jjsjann123 commented on #1751
Book keeping things we have tried.

Per Naoya's suggestion, for non-braodcasted dimensions, we can actually just swap out the real `IterDomain` with `-1` instead and avoid the issue with lowering for dynamic sizes. Unfortunately that doesn't work with `expand_as` when we broadcast to the `IterDomain` of the other tensor, since `-1` is not valid any more.

Also, @naoyam is currently looking at gett

[2022-06-06 22:59] naoyam commented on #1752
Just want to make sure I understand this correctly, if a tensor has a size-0 dimension, does it mean the tensor is empty?

[2022-06-07 00:59] #1751 closed, assigned to naoyam

[2022-06-07 08:31] IvanYashchuk commented on #1752
Yes, if a tensor has a size-0 dimension, then `tensor.numel() == 0`, and there's nothing to iterate on.

[2022-06-08 21:41] jjsjann123 commented on #1507
We now surprisingly have proper expand support in nvfuser (for static expand sizes). We should close this one.

Feel free to reopen if we needed dynamic shape support. That should be do-able, we just need to plumb vector of int in our executor.

[2022-06-08 21:41] #1507 closed, assigned to rdspring1, jjsjann123

[2022-06-08 21:43] jjsjann123 commented on #1722
closing with #1739 #1754

[2022-06-08 21:43] #1722 closed, assigned to nobody

[2022-06-08 21:45] jjsjann123 commented on #1507
linking #1722 #1739 #1754

[2022-06-14 01:17] zasdfgbnm opened #1760 "TransformPropagator is generating inconsistency between the siblings"
### 🐛 Describe the bug

[code]
generates inconsistent T4, T5 and T6
[code]

### Versions

devel

[2022-06-14 01:20] zasdfgbnm commented on #1760
Self assign to take a look

[2022-06-15 22:35] #1748 closed, assigned to naoyam

[2022-06-21 19:30] #1760 closed, assigned to zasdfgbnm

[2022-06-22 19:01] IvanYashchuk opened #1768 "Support 0d tensors in reductionOp"
### 🚀 The feature, motivation and pitch

PyTorch allows calling reduction on 0d tensors:
[code]

But nvFuser raises an error `"Tried to reduce a 0-dim tensor"`.

Here's a Python reproducer:
[code]

Using the following patch, that disables ndim checks, makes my tests pass and the above Python example works. Is it safe to relax the requirements on the dimensionality for reduction?

[code]

### Alter

[2022-06-22 22:25] naoyam commented on #1768
Hmm, what's the exact semantic of reducing 0-dim tensors? Obviously, there's no dimension, so nothing can be reduced. When you do:

[code]

I assume `0` here is supposed to specify the dimension to reduce, but is it just ignored? I tried `torch.sum(a, 1)`, but it resulted in an error, which seems to indicate `0` is handled specially.

[2022-06-23 13:37] IvanYashchuk commented on #1768
It seems the convention is that the `dim` argument for 0d tensors can be either `-1` or `0`. I can't find the documentation about this. `keepdim` also doesn't affect the shape in this case, because `keepdim=True` means that the shape doesn't change, and `keepdim=False` means that the shape is reduced but 0d is the smallest dimensional tensor.

The reduction of a 0-dim tensor using some binary op a

[2022-06-23 15:33] naoyam commented on #1768
Thanks. So, we should be able to just ignore the operation as long as `dim` is `-1` or `0`. This seems like something that should be handled at the integration. What do you think, @jjsjann123?

[2022-06-23 15:54] jjsjann123 commented on #1768
we would want to allow user to do this. If we are exposing APIs at python level, it's tricky to hide it behind something else then.

If we are worried about scheduler, maybe one thing we can try it to update sum in `arith.cpp` and make it a copy node `set` instead. Thoughts ? @kevinstephano

[2022-06-23 19:31] Aidyn-A opened #1770 "Segmentation fault when calling "where(tensor, scalar, scalar)""
### 🐛 Describe the bug

I am working on primTorch with a function called `where` and I am getting a segmentation fault in one of the tests on nvfuser. I narrowed it down and the case when it fails is this:

[code]

The output that it prints to the screen is:
[code]

I guess it assumes that the output is scalar double :thinking:

### Versions

PyTorch-upstream master.

[2022-06-24 16:07] #1768 closed, assigned to nobody

[2022-06-24 17:03] #1770 closed, assigned to nobody

[2022-06-25 09:32] IvanYashchuk commented on #1752
Also reported upstream https://github.com/pytorch/pytorch/issues/80231.

[2022-06-26 20:00] jjsjann123 commented on #1752
So zero sized tensor basically is a no op. We only needed to do proper shape inference and allocate output tensor with proper size. Would this be something that we can support relatively easily? tagging @naoyam for a rough estimation of workload.

For prim integration, I think partitioning logic might be something easy to work with. But for our python API, this makes a lot more sense and would be

[2022-06-27 10:27] IvanYashchuk opened #1777 "Incorrect kernel for binaryOp(scalar, tensor)"
### 🐛 Describe the bug

[code]
Output:
[code]

The bug is on this line https://github.com/csarofeen/pytorch/blob/a054b3efcf5af58ea518de283f55aaf9fe06ff5f/torch/csrc/jit/codegen/cuda/arith.cpp#L736

### Versions

.

[2022-06-27 20:42] naoyam commented on #1752
Just copying an internal chat for reference. We'll revisit this post 1.13.

[2022-06-27 21:12] zasdfgbnm opened #1780 "Variables are assigned different names on different environment"
### 🐛 Describe the bug

Thanks @jjsjann123 for reporting.

[code]
The above code gives
[code]
in gitlab-master.nvidia.com:5005/dl/pytorch/update-scripts:jit-cuda11-latest
and it gives
[code]
on my local machine.

Pay attention to the `iS0{i1}` vs `iS0{i0}`.

Both environments are using TOT of the devel branch.

Although I don't see any real issue with having different variable names, but it sounds

[2022-06-28 01:04] shmsong commented on #1780
Looks like another repro could be

[code]
The root cause of this particular case is:
[https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/tensor_view.cpp#L1098](https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/tensor_view.cpp#L1098)

evaluation order of function parameters is undefined. When we create the first tensorview ever, we need to initiali

[2022-06-28 01:08] shmsong commented on #1780
This doesn't look easy to make/keep deterministic but we could try.

Least we could do is initialize all the constants like `zero_val` and `one_val` etc, upon creation of `Fusion` object.

Then we could look through other usages of parallel usage of `IrBuilder::create` and try to clean up.

[2022-06-28 01:28] zasdfgbnm commented on #1780
~Does it make sense to subclass `Int` to make `Zero`, and `One` separate classes?~
Edit: nvm, we still need to create instance of them

[2022-06-28 02:44] naoyam commented on #1780
Nice find, @shmsong. Can we initialize `zero_val`, etc? I remember when @csarofeen refactored `Fusion` and `Kernel` with `IrContainer`, it wasn't really trivial to make their allocations and deallocations right.

[2022-06-28 11:14] #1777 closed, assigned to nobody

[2022-06-29 13:08] csarofeen commented on #1318
@zasdfgbnm this is the original bug that we should validate for https://github.com/csarofeen/pytorch/pull/1743

[2022-06-30 00:51] kevinstephano opened #1785 "Issue with non-even division of block count and the `else` path of an element-wise broadcast kernel?"
### 🐛 Describe the bug

There seems to be broadcast issue in our TOT code as the following code produces a max difference of `80` in given element.

Example Code:

[code]

In the NGC 22.05 container, `unsqueeze()` is fused and the blocking is different.  For 22.05, the number of blocks corresponds to `T2`'s outer 2 dimensions `1024 * 192`.  In TOT, the outer 2 dimensions in `T1` `1024 * 192` does

[2022-06-30 04:13] kevinstephano commented on #1785
As a note, if I make the `x` tensor batching a multiple of 65,535, the problem goes away.

This is an example:
[code]

[2022-06-30 04:44] shmsong commented on #1785
This is a register aliasing problem. Fixing it now.

[2022-06-30 05:39] kevinstephano commented on #1785
I would be curious to know which part of the kernel was in error if you don't mind pointing it out.

[2022-06-30 06:20] shmsong commented on #1785
[code]
^^^
This shouldn't be happening as lifetime of T9 carries around the serial loop
[code]

[2022-06-30 06:21] shmsong commented on #1785
To unblock, going for a quicker fix that blanket disables a wider range of scenarios. Will improve the analysis precision in follow ups.

[2022-06-30 09:24] IvanYashchuk opened #1788 "Issue with broadcasting (3, 1) and (3,) tensors"
### 🐛 Describe the bug

Is this a bug in the nvFuser or the code below is invalid? I think the code is valid, I translated the trace of `torch._refs.add` to nvFuser Python API calls. There's no error with ATen execution.
[code]
`fusion.execute` call raises
[code]

### Versions

.

[2022-06-30 10:36] jjsjann123 commented on #1788
Oops, this should work.

Expand to concrete size was added pretty recently, we can double check `expand` as well as `broadcast_in_dim` first.

[2022-06-30 13:16] #1785 closed, assigned to naoyam, csarofeen

[2022-06-30 13:22] IvanYashchuk commented on #1788
I just realized that `broadcast_in_dim` is Python bindings only thing, but I was able to get the same error with a normal `broadcast` call. I will post the C++ variant of the code shortly.

[2022-06-30 13:55] IvanYashchuk commented on #1788
Here's the Python script using `broadcast` instead of `broadcast_in_dim`:
[code]
It fails with the same error `RuntimeError: Attempting to bind T0.size[1] to 3but it's already set to 1`. But C++ test fails with a different error message:
[code]
[code]

[2022-06-30 17:02] jjsjann123 commented on #1788
Broadcasting on t0 doesn't look right to me... to repro the original problem, you might need to use `expand` instead. Let me take a quick look there as well.

[2022-06-30 18:10] IvanYashchuk commented on #1788
Okay, broadcasting on `t0` isn't needed actually. The error is raised also with `t2 = add(t0, t1_b)`.

[2022-06-30 21:28] shmsong commented on #1788
Looks like this logic is flipped. What's the semantic for `broadcast_in_dim` supposed to be? Does `[1]` mean the axis 1 is broadcasted or non-broadcasted?

[https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/python_frontend/python_bindings.cpp#L632](https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/python_frontend/python_bindings.cpp#L632)

[2022-06-30 21:29] shmsong commented on #1788
This worked for me on TOT for example:

[code]

[2022-06-30 21:34] shmsong commented on #1788
I believe eager mode interpreted this as an implicit broadcast on axis 1,
`input1 = torch.ones(3, 1, device='cuda')`
and this should somehow be reflected on our fusion definition without seeing the actual input, if that was the original intention.

[2022-06-30 22:37] jjsjann123 commented on #1788
Something is wrong with broadcast_in_dim... The sample python code runs fine without error, but it returns the output tensor not expanded to the right size. `print(out[0].shape)`

[code]

[2022-06-30 23:06] shmsong commented on #1788
So we want output size to be `[3,3]`?

In that case I believe we need to make T0[I, B] instead of T0[I,I], currently the fusion definition is saying T0 is a concrete tensor of size[3,1].

The `iS1` in `T0_g[ iS0{i0}, iS1{i2} ]` is symbolic shaped so there's no indication that it could be a broadcast.

Do we currently support creating tensors with broadcast axes with `define_tensor` ?

[2022-06-30 23:17] jjsjann123 commented on #1788
`t0 = fd.define_tensor([3, 1], [1, 1])` (for some reason `-1` for size is not supported yet).

hmmm. even that doesn't work, since I don't see expand in the kernel math...

[2022-06-30 23:19] jjsjann123 commented on #1788
I guess this is expected, since broadcast_in_dim only does broadcast at this moment, but not expand to the right size. https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/python_frontend/python_bindings.cpp#L606-L635

[2022-06-30 23:19] jjsjann123 commented on #1788
I'll patch this. Self assigned.

[2022-07-01 06:58] jjsjann123 commented on #1788
Just got it patched.

[2022-07-01 08:39] IvanYashchuk commented on #1788
Maybe there should be a `squeeze` operation first to remove dimensions with 1 shape and then use `broadcast`. This code works as expected without using `expand`:
[code]

[2022-07-01 16:50] jjsjann123 commented on #1788
We shouldn't need to add squeeze, expand can work on broadcasted dimension (size-1).

[2022-07-03 13:24] csarofeen opened #1799 "Dropout with prob == 0 doesn't validate consistently"
### 🐛 Describe the bug

The following script doesn't validate consistently on TOT. It seems we may still be dropping out some values even though probability == 0. I think this may be because of: https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/ops/composite.cpp#L31 which maybe should be `le` not `lt`?
[code]

### Versions

TOT

[2022-07-04 08:00] IvanYashchuk opened #1801 "Add var_mean function using existing Welford function"
### 🚀 The feature, motivation and pitch

We need to implement `var_mean(input, dims, correction)` function for primtorch. Correction argument is a generalization of `unbiased` argument for `torch.var`, the intermediate result is divided with `(N - correction)` to get the variance (see for example https://github.com/pytorch/pytorch/blob/76cff182428fbd165b5725f3de29dbd91a1512fa/torch/csrc/jit/codege

[2022-07-04 09:37] IvanYashchuk commented on #1799
Using `le` instead of `lt` seems to fix the problem, but I don't think it's correct. It's just an indicator that nvfuser's `randlike` function produces 1.0 while it shouldn't if it's supposed to correspond to `torch.rand_like` that samples from a uniform distribution on the interval `[0, 1)` - exclusive of 1.0.
`curand_uniform` (is it what's used in nvfuser?) reverses the interval bounds - it excl

[2022-07-05 13:11] csarofeen commented on #1799
O.o any suggestion as to what we should do?

[2022-07-05 16:32] rdspring1 commented on #1683
Fixed with https://github.com/csarofeen/pytorch/pull/1746

[2022-07-05 16:32] #1683 closed, assigned to nobody

[2022-07-05 21:24] jjsjann123 commented on #1799
Tried to flip drop prob to 1.0 and looks like the issue with rand_like is real. We are producing `[0.0, 1.0]`. So that's a separate thing that we *should* look at. I'll open an issue for that.

`le` doesn't sound right, we can hook the logic inside dropout with bitwise to create a short-cut mask for p==0 & p==1.

[2022-07-05 23:08] shmsong opened #1803 "Sibiling computeAt pos out of sync in inlining"
### 🐛 Describe the bug

Recent changes in PR #1800 made it possible for multi-output siblings to run out of sync after computeAt pass. Here is a minimal repro:

[code]

snippet from output:
[code]
Note the difference in ca_pos on the three outputs.

Out of sync is one trouble, and actually ca_pos of 2 should not be allowed, this would lead to confusion at expression sorting stage.

A possible fix

[2022-07-06 12:07] #1803 closed, assigned to zasdfgbnm

[2022-07-06 12:58] IvanYashchuk opened #1807 "The interval for torch::jit::fuser::cuda::randlike is not the same as for torch.rand_like"
### 🐛 Describe the bug

See the discussion here https://github.com/csarofeen/pytorch/issues/1799#issuecomment-1175512146.

Turns out nvfuser's randlike function generates "1.0" in uniform samples while in PyTorch uniform distribution is sampled on the interval [0.0, 1.0), "0.0" is included, "1.0" is excluded.

I think nvfuser's random numbers should be changed to sample on [0.0, 1.0) interval. `un

[2022-07-06 16:45] zasdfgbnm opened #1808 "Empty graph is not supported"
### 🐛 Describe the bug

[code]
[code]
This is blocking my upstream PR https://github.com/pytorch/pytorch/pull/79824. I am wondering whether I should add support for this case to nvFuser, or should modify the primTorch executor to avoid this case.

### Versions

[code]

[2022-07-06 16:48] zasdfgbnm commented on #1808
cc @kevinstephano @jjsjann123

[2022-07-06 17:31] zasdfgbnm commented on #1808
Also @IvanYashchuk, the refs for `real` is:
[code]
For non-complex cases, it returns the input tensor itself, and this creates an empty nvFuser graph. Not sure if it is possible to just not create any fusion for that path.

[2022-07-06 18:47] #1788 closed, assigned to jjsjann123

[2022-07-06 20:57] jjsjann123 commented on #1808
forwarding input tensors is not supported yet and we probably should extend it there. would need some work to support it. In TS, it's currently handled in integration code and TorchScript graph somewhat naturally. I imagine this would take quite some work to handle in codegen. cc'ing @shmsong @csarofeen

cc'ing @kevinstephano, feels like this is something we can think about supporting in your new

[2022-07-06 22:34] jjsjann123 commented on #1808
errr... python test does check on alias....

[code]

Let's keep the discussion here for aliasing support. Meanwhile, for the upstream PR, let's just disable nvfuser test for now.... :cry: cc'ing @zasdfgbnm

[2022-07-06 23:40] zasdfgbnm commented on #1808
@jjsjann123 Thanks for checking!

[2022-07-06 23:49] zasdfgbnm commented on #1808
It is pretty hard to get aliasing correct. For example, `torch.real(x)` is a view for complex input as well, but I don't have an idea on how to make nvFuser return a view for that case... Same for `torch.view_as_real`. And also, consider a more complicated case: `torch.real(x).transpose(0, 1)[1,:].view(-1, 2)`, how do we make sure we return an alias? ¯\_(ツ)_/¯

[2022-07-06 23:51] shmsong commented on #1808
referencing related issue in #1385.

In the case of forwarding input we could potentially just skip code gen and kernel launch and same tensorview should just show up on the output.

[2022-07-07 00:43] shmsong commented on #1808
Sorry didn't see this part when sending the last reply. I thought it was forwarding inputs as described in this issue, but returning an alias is definitely tricky to handle once they're on the Fusion graph already.

[2022-07-07 05:44] jjsjann123 commented on #1808
@zasdfgbnm
Currently with nvfuser there's no good way to do that except some 'leaked' code from TS integration. https://github.com/csarofeen/pytorch/blob/282c42902bff07f759cddbbe619249cf5e7c5281/torch/csrc/jit/codegen/cuda/fusion.h#L179-L189

But we don't have a way to handle things like transpose/view yet, except some limited permutation support in TS integration that's not in codegen. We might b

[2022-07-07 08:29] IvanYashchuk commented on #1808
It can be skipped with `validate_view_consistency=False` in the `torch/testing/_internal/common_methods_invocations.py` file for the specific OpInfo.
For example view consistency is disabled for reduction ops: https://github.com/pytorch/pytorch/issues/77216.

[2022-07-07 20:00] jjsjann123 commented on #1807
I guess with #1804 this is considered as fixed?

[2022-07-07 20:08] #1799 closed, assigned to rdspring1, jjsjann123

[2022-07-11 12:44] csarofeen opened #1816 "Fill out README with debug options"
### 📚 The doc issue

There's a few options in https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/README.md but we should start filling it out a bit more holistically with everything in:
https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/utils.cpp#L41-L88
and
https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/utils.cpp#L110-

[2022-07-13 10:55] naoyam opened #1820 "[Refactoring] Move non-indexing processing out of `IndexLower`"
https://github.com/csarofeen/pytorch/pull/1818#issue-1303188403

[2022-07-15 05:22] zasdfgbnm opened #1828 "scheduler_utils::parallelizeAllLike is changing parallelization that it should not change"
### 🐛 Describe the bug

I am trying to schedule a transpose kernel manually using the following code:

[code]

And I am seeing strange behavior: At the first print, `tv1` and `tv2` has:
[code]
which is expected. But at the second print, they become:
[code]
This is not what I expect, because `tv2` is not in the selected set of tensors that I want to change, but the parallelization of the last two d

[2022-07-15 05:44] zasdfgbnm opened #1829 "nvfuser_bench is broken"
### 🐛 Describe the bug

[code]
[code]

### Versions

devel

[2022-07-15 05:57] naoyam commented on #1828
My guess is that it's just because the propagation algorithm was designed to do so. If that's not really convenient, we should reconsider the design.

There's only one concrete ID among those mapped together, so there can be non-broadcast non-concrete IDs. This propagation algorithm is meant to propagate the parallel types of the reference tensor to those IDs.

[2022-07-15 06:21] zasdfgbnm commented on #1828
I see. Thanks for the info! It is good to know that.

So currently `parallelizeAllLike` is really designed to propagate parallelization to all TVs, not a selected set of TVs? (So the `all_tvs` parameter really meant "all tvs in the fusion", not "all tvs you want to propagate"?) I think it won't be hard to restrict the propagation to the selected TVs, I just need to maintain a concrete ID to refere

[2022-07-15 06:26] naoyam commented on #1828
Yes, as long as IDs are mapped with the permissive map, they are propagated. That doesn't work very well with something like transpose as you noticed.

[2022-07-15 17:40] shmsong opened #1836 "Extra configurability in `parallelizeAllLike`"
### 🚀 The feature, motivation and pitch

This is following up on #1828.

It'd be very helpful if we can add a few more configurability in `parallelizeAllLike`.

Currently the features I could think of are:

- An option to restrict what parallel type to propagate.
- A factory interface enabling actions like `propagateAllParallelTypeExcept` as well as `propagateTheseParallelTypes` etc.
- A rule to d

[2022-07-16 01:16] #1828 closed, assigned to nobody

[2022-07-16 01:49] #1836 closed, assigned to zasdfgbnm

[2022-07-16 01:57] rdspring1 opened #1837 "TIMM efficientnet_b3 Broadcast Amp error"
### 🐛 Describe the bug

Fusion fails with fallback path on EfficientNet with `channels_last` + `amp` + `batch_size=1`

Steps to reproduce:
[code]

Error:
[code]

Segmented_Fusion Dump:
[code]

Suspected Failing CudaFusionGroup:
[code]

### Versions

1. nvfuser devel branch
2. pytorch nightly build
3. pytorch 1.12

[2022-07-16 02:07] rdspring1 opened #1838 "TIMM Heuristics Amp error"
### 🐛 Describe the bug

Fusion fails with fallback path with `channels_last` + `amp` + `batch_size > 1`

Steps to reproduce:
[code]

Error:
[code]

These TIMM networks fail with this error:
- semnasnet_075
- tf_mixnet_s
- tinynet_c
- efficientnet_b3_pruned
- regnety_032
- hardcorenas_f
- ghostnet_050
- semnasnet_100
- lcnet_050
- efficientnetv2_rw_t
- tinynet_b
- fbnetv3_b
- gc_efficientnetv2_rw_t

[2022-07-16 02:10] rdspring1 commented on #1838
Discussion Reference: https://github.com/rwightman/pytorch-image-models/discussions/1350

[2022-07-16 02:11] rdspring1 commented on #1837
Discussion Reference: https://github.com/rwightman/pytorch-image-models/discussions/1350

[2022-07-16 13:23] #1829 closed, assigned to nobody

[2022-07-17 19:47] zasdfgbnm opened #1841 "Transpose/view with skip connection is not working"
### 🐛 Describe the bug

The fusion `x.t() + x` is currently not working. It is not surprising to me that the pointwise scheduler can not schedule this, but if it is not supported, then it should be split into two groups `y = x.t()` and `y + x` and schedule them separately with the pointwise scheduler.

[code]
[code]
Dumpped fusion math
[code]

### Versions

devel

[2022-07-17 20:25] zasdfgbnm commented on #1841
Looks like we also have issue with `view`
[code]
[code]
Dumped fusion
[code]

[2022-07-18 17:26] rdspring1 opened #1843 "TIMM Stride Vectorization Error"
### 🐛 Describe the bug

Fusion fails with fallback path with channels_last + amp + batch_size > 1

Steps to reproduce:
`PYTORCH_NVFUSER_DISABLE_FALLBACK=1 python benchmark.py --bench train --model rexnet_100 --img-size 224 -b 2 --amp --torchscript --channels-last --no-retry`

Failing networks:
- rexnet_100
- rexnet_130
- rexnet_150
- rexnet_200

General Error:

### Versions

1. nvfuser devel branc

[2022-07-18 17:30] rdspring1 opened #1844 "TIMM Dynamic size Local memory allocation"
### 🐛 Describe the bug

Fusion fails with fallback path with channels_last + amp + batch_size > 1

Steps to reproduce:
`PYTORCH_NVFUSER_DISABLE_FALLBACK=1 python benchmark.py --bench train --model rexnet_100 --img-size 224 -b 2 --amp --torchscript --channels-last --no-retry`

Failing networks:
- volo_d1_224
- xcit_tiny_12_p16_224
- xcit_nano_12_p8_224_dist
- xcit_tiny_24_p16_224_dist
- xcit_small_

[2022-07-19 00:27] rdspring1 commented on #1843
Python reproducer:
[code]
Torchscript graph:
[code]

Fusion:
[code]

[2022-07-19 02:54] rdspring1 commented on #1844
Reproducer

[code]

[2022-07-19 19:53] rdspring1 commented on #1844
@zasdfgbnm Could this be an issue with computeAt + scheduling? I was able to reproduce the issue at ToT of nvfuser devel branch but not ToT of pytorch master.

[2022-07-19 21:03] rdspring1 commented on #1838
CudaFusionGroup
[code]

Fusion (Before Segmentation):
[code]

[2022-07-19 21:08] zasdfgbnm commented on #1844
Thanks for debugging and minimum repro! I will take a look.

[2022-07-19 22:08] zasdfgbnm commented on #1844
This is definitely an issue of inlining. See the dumpped fusion ir math change at: https://editor.mergely.com/agO2HftN/, the CA position of some tensors is lost.

[2022-07-19 23:42] zasdfgbnm commented on #1844
I have checked this issue. It seems to be because the set that computeAt propagates to has changed. That computeAt is used somewhere inside `multiReductionInliner`. Fortunately, @csarofeen's is modifying this function in https://github.com/csarofeen/pytorch/pull/1845. I checked his branch, and this bug is magically fixed 🤩🤩🤩🤩

[2022-07-20 11:44] #1844 closed, assigned to nobody

[2022-07-20 18:57] rdspring1 opened #1849 "TIMM Leaky Relu support"
### 🚀 The feature, motivation and pitch

Add `leaky_relu` definition to parser.cpp to enable `batch_norm + leaky_relu` fusion.

`PYTORCH_JIT_LOG_LEVEL=graph_fuser python benchmark.py --model cspresnet50 -b 128 --bench train --img-size 224 --amp --channels-last --torchscript --fuser nvfuser
`

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-20 19:44] shmsong opened #1850 "Track dangling node change in indexing math generation."
### 🐛 Describe the bug

This issue tracks the code drift related to index reference replay pass, see [https://github.com/csarofeen/pytorch/pull/1846#discussion_r925863050](https://github.com/csarofeen/pytorch/pull/1846#discussion_r925863050) for the original discussion.

A notable difference observed is that all concrete indexing replay results are now free of dangling nodes:
[https://github.com/c

[2022-07-22 15:32] #1849 closed, assigned to nobody

[2022-07-22 17:36] jjsjann123 opened #1859 "Nondeterministic fusion segmentation"
### 🐛 Describe the bug

`python.exe test/test_ops.py -k test_python_ref_executor__refs_nn_functional_layer_norm_executor_nvfuser_cuda_float32 -v -f`

run into the issue in the test above.
Notice that on the MSVC build, the last fusion breaks on expanded tensor T22_g, instead of on ubuntu build where it breaks on broadcasted tensor T11_g.

On a ubuntu build, segmentation gives me:
[code]

Running t

[2022-07-22 17:52] shmsong commented on #1859
@jjsjann123 Thanks for filing the issue. Just wondering if you still have the setup on two machines. If so could you post the results on both with `PYTORCH_NVFUSER_DUMP=segmenter_logging`?

[2022-07-22 18:14] jjsjann123 commented on #1859
Just screwed up my windows build.... rebuilding it now but it's gonna take a while :cry:

[2022-07-22 18:53] jjsjann123 opened #1860 "Handling of broadcasted input tensor with concrete sizes in codegen"
### 🐛 Describe the bug

When a fusion takes tensor with concrete broadcast dimension as input, current kernel check asserts on the size of such dimension being 1. I think the information is dropped during fusion scheduling. I'm investigating this.

I currently have a fusion segmentation with these signatures:

g{​​(persistent)
inputs:
T0_g[ bS0{​​1}​​, iS1{​​i2}​​, iS2{​​i3}​​ ] float
T1_g[ bS3{​​

[2022-07-22 19:47] jjsjann123 commented on #1860
Looks like scheduler is the one that changed the fusion inputs and abandoned concrete size on those:

[code]

[2022-07-23 04:59] jjsjann123 commented on #1860
nailed it down to merge rule. I think the MSVC segmentation behavior is just a noise, should still track it down in #1859 tho....

With playing with cpp tests and looking at debug prints, I'm convinced that the issue is MSVC only. Which means that the same fusion segments + scheduling produces different fusion on MSVC vs ubuntu.

This is the fusion on ubuntu:
[code]

with scheduling:
[code]

MSVC

[2022-07-23 06:18] jjsjann123 commented on #1860
Muhahahaha... I was so dumb that I didn't realize we are printing out expanded_extent only when we have that explicitly set... so those two are not the same fusion.

Figured out the repro pretty quickly after that. and I also think I have a good idea of how to patch it (in IterDomain::merge). But I"m too frustrated to patch it through today. Will update tomorrow. :angry:

[2022-07-23 19:50] jjsjann123 commented on #1860
Started a PR that patches the issue I'm hitting. But I'm also wondering if we are doing the right thing for IterDomain::merge. Tracking that in #1863

[2022-07-24 09:30] naoyam commented on #1843
It seems that the validation failure is a true failure.

Running the repro with `PYTORCH_NVFUSER_DUMP=fusion_args`:

[code]

The executor failure happens with the second argument as it can't vectorized with vector width being 2. The executor validation checks the strides of all dimensions, which is necessary, whereas the pointwise scheduler only looks at the domain extent of the inner-most domain,

[2022-07-24 18:14] shmsong commented on #1859
Segmenter logging gives identical trace on my end after the fix, on windows and ubuntu builds.

[2022-07-24 18:38] jjsjann123 commented on #1859
Ah, sorry I just realized that I forgot to post the segmenter logger here.... :bow:

[2022-07-25 06:38] #1859 closed, assigned to nobody

[2022-07-25 13:42] csarofeen commented on #1843
Need to fix vectorization:
registry.cpp checking for vectorization
1. Need to take into consideration all contiguity flags, so we need to check all dims are contiguous if we're to vectorize the tensor.
2. This should ignore dimensions if: size==1, stride==0, reduction, or broadcast dimension
3. Need to line up input tensor contiguity to also follow this rule, so that dimensions like this are marke

[2022-07-26 02:09] rdspring1 commented on #1700
@csarofeen I wasn't able to reproduce this `squeeze` issue on latest upstream.

[2022-07-26 11:04] IvanYashchuk commented on #1700
Were you able to reproduce the problem with some older commits from around April-May?

What does `TIMM_BENCHMARK_ENABLE_TORCHDYNAMO=1` do? I cannot find any references in the code.

[2022-07-26 17:27] jjsjann123 opened #1869 "10% kernel regression on normalization in upstream code bump"
### 🐛 Describe the bug

We noticed a 10% perf regression in microbenchmarks in last upstream push. https://github.com/pytorch/pytorch/pull/81861

I did a quick look at the kernel and I noticed that in the updated cuda kernel, we are getting more vectorized load. Kernel time went from ~26ms to ~29ms. (V100, measured with nsys for kernel time, which seems to be relatively stable.)

~Note that kernel

[2022-07-26 17:40] jjsjann123 commented on #1700
@IvanYashchuk That's from Xiao's edit to enable torchDynamo:  https://github.com/xwang233/pytorch-image-models/blob/master-patched/benchmark.py#L27-L29

[2022-07-26 22:10] csarofeen commented on #1700
@rdspring1 I think this is a good point, can we go back (shouldn't even have to go back too far) to reproduce this and try to figure out what the issue was?

[2022-07-27 22:18] rdspring1 commented on #1700
It can be tricky to find a functorch commit compatible with a random commit in our branch. I will look into commits around the 1.12 cutoff.

[2022-07-28 19:32] shmsong opened #1873 "[Indexing failure] Need to find permissive index binding on the inner side of CA axis."
### 🐛 Describe the bug

We have an unsupported case currently with inlined broadcasting.

Minimum repro:

[code]

Error message:
[code]

Fusion debug print:

[code]

This leads to indexing failure with T0 and T2 since the left of their ca pos are loop mapped to broadcasted Iterdomains so we'd need to use permissive mapping instead of exact mapping to bind the index for, say, `iS15{128}`, and curre

[2022-07-29 19:56] kevinstephano opened #1877 "Codegen Failure found in Bias+Gelu Backward Kernel with FP16 Dtype"
### 🐛 Describe the bug

The bias+gelu backward kernel which is really gelu_backward + an outer reduction for the bias is failing with the FP16 Data Type.  This fusion is found in the backward pass of Transformer networks.

Error:
[code]

Here is a repro script:

[code]

Execution Command:
[code]

This is the Fusion Group from TorchScript:

[code]

### Versions

TOT

[2022-07-30 11:10] naoyam opened #1879 "Excessive register usage in persistent-pattern kernels"
The below fusion results in using 255 registers and 104 bytes stack frame (nvcc 11.6):

[code]

The fusion just reads an input 1D tensor, does a pointwise op and stores it to another 1D tensor. It has the pattern of the persistent buffer usage with the buffer size of 200 by default. On my system (Titan RTX and CUDA 11.6), the compilation result is:

[code]

The buffer is type half by default, so I

[2022-07-30 17:45] zasdfgbnm opened #1880 "Silent wrong result on broadcasting with split and merge"
### 🐛 Describe the bug

[code]
Removing the `unroll` will fix the issue.

### Versions

devel

[2022-07-30 17:53] zasdfgbnm commented on #1880
Generated code:
[code]

This predicate is wrong:
[code]
It should be `...ceilDiv((32 * 32), 1)...`

And the index is also wrong:
[code]
There should be a `/32` in the end

[2022-07-30 17:57] zasdfgbnm commented on #1880
I am not very familiar with index and predicate calculation, but my guess is, when unrolled, the code that reads T1 will be generated based on T2. But neither T1 nor T2 has the full information about the underlying transformation. The broadcasting dimension appears at T3. So locally looking at the transformation of T1 and T2 when generating code is not sufficient. We should use something with more

[2022-07-30 19:07] shmsong commented on #1880
Just curious does it fail as well if you put all the scheduling on tv4 instead of tv3?

[2022-07-30 19:16] shmsong commented on #1880
I see it's the unroll on the inner dimension that was the problem so it would still fail I guess.

[2022-07-30 22:08] zasdfgbnm commented on #1880
Yes, it does

[2022-07-30 22:46] shmsong commented on #1880
Problem seems to come from outer split.

Could reproduce the failure with

[code]

The Iterdomains on the right of ca axes after outer split is implicitly concretized so would need to bind the concrete info but it's not loop mapped to other concretized loops.

[2022-07-31 07:48] zasdfgbnm commented on #1880
Looks like the outer split might not be the root cause of the problem. I removed the outer split, but the problem is still there:
[code]

[2022-07-31 14:50] shmsong commented on #1880
removing `ComputeAtMode::MostInlined` made it correct.

The difference seems to be on the ca_pos of T2:

vvv This one failed:
[code]

vvv This one passed:
[code]

Sorry didn't paste the right printout earlier. Still looking for the root cause.

[2022-07-31 16:18] shmsong commented on #1880
Looks like inner split of inner broadcast has similar issue with `outer_split` too, if not inlined.

[code]

[2022-08-01 19:43] kevinstephano commented on #1877
This was actually fixed when I tried in the csarofeen fork.  The fix just wasn't propagated to upstream, yet.

[2022-08-01 19:43] #1877 closed, assigned to nobody

[2022-08-03 11:59] csarofeen commented on #1880
Other related repros:

[code]
Setting T2 and T3 seems right, but accessing T3 seems wrong.
I think T3 indexing should be something like:
`T3[((i26 * (ceilDiv((6 * 5), 4))) + (i27 + nvfuser_zero))] / 5 / ceilDiv(6, 4)`
Seems like a zero index propagation issue, or an extent propagation issue.

[code]
Which won't fail if TIDx binding is removed.

Static shaped version will fail parallelization check

[2022-08-03 12:00] csarofeen commented on #1880
@shmsong posted a WAR for transpose scheduling on https://github.com/csarofeen/pytorch/pull/1854, so not marking as high priority, but we should quarantine ourselves off from this regime or start deep diving to fix indexing.

[2022-08-04 15:58] zasdfgbnm opened #1891 "randlike gives wrong output dtype"
### 🐛 Describe the bug

[code]
I get `float, double`

### Versions

devel

[2022-08-05 08:15] IvanYashchuk commented on #1807
Yes, thank you!

[2022-08-05 08:15] #1807 closed, assigned to nobody

[2022-08-05 22:56] jjsjann123 opened #1893 "[WIP] Async compilation"
### 🚀 The feature, motivation and pitch

tracking things that's needed / currently being worked on, as it's getting tricky to keep track of them while I'm working on these opportunistically:

- [ ] Refactor input/output of fusion to NOT use aten::tensor during compilation. This allows us to release tensor once we start compilation on a separate thread;
- [x] FusionGuard needs to be thread safe ->

[2022-08-09 23:10] #1860 closed, assigned to jjsjann123

[2022-08-09 23:26] xwang233 opened #1894 "AMP batch_norm doesn't work well"
### 🐛 Describe the bug

Reproduce:

TIMM repo

[code]

Error:
[code]

### Versions

nightly core build 5589033

[2022-08-09 23:31] xwang233 opened #1895 "TIMM !fallback_mode_enabled_ INTERNAL ASSERT FAILED on tf_efficientnet_cc_b0_4e model"
### 🐛 Describe the bug

TIMM !fallback_mode_enabled_ INTERNAL ASSERT FAILED on tf_efficientnet_cc_b0_4e model

The script stuck for about ~2 minutes before raising error.

Reproduce:
[code]

### Versions

nightly core build 5589033

[2022-08-09 23:35] xwang233 opened #1896 "TIMM tresnet_l model fails with Python builtin <built-in method apply ... (InplaceABN.apply?)> is currently not supported in TorchScript"
### 🐛 Describe the bug

Reproduce:

[code]

### Versions

nightly core build 5589033

[2022-08-09 23:39] xwang233 opened #1897 "TIMM tresnet_l AoT_autograd fails with lazy allocation issue"
### 🐛 Describe the bug

Reproduce:
[code]

### Versions

nightly core build 5589033

[2022-08-10 01:14] xwang233 opened #1899 "Torchdynamo XLNetLMHeadModel AMP+NHWC fails with tensor_inputs_to_check.size() INTERNAL ASSERT FAILED"
### 🐛 Describe the bug

Reproduce:

[code]

### Versions

A100

nightly core build 5589033

[2022-08-10 13:34] csarofeen commented on #1894
This looks like torch script AMP, I assume this doesn't repro with the dynamo/aot stack?
We won't make improvements to torch script based amp, so will likely close this as will not fix.
CC @jjsjann123

[2022-08-10 13:39] csarofeen commented on #1841
Not sure about the view part (need to remember what flatten actually does), but yes this breaks our disjoint set mappings, where we have tensors with iteration domains within a tensor that map to eachother which I believe generally breaks quite a few assumptions in the model. CC @naoyam

We probably should have some check on segmentation to make sure this doesn't show up in compute definitions sen

[2022-08-11 00:58] xwang233 commented on #1894
That's right. We haven't seen similar batch_norm + half/float error messages in dynamo/aot benchmarks yet. It's only in torchscript benchmark.

[2022-08-11 17:24] zasdfgbnm commented on #1318
This is fixed. Not it takes <1s on my machine even if there is 1000 `x = x * x`.

[2022-08-11 17:24] #1318 closed, assigned to csarofeen

[2022-08-12 03:49] zasdfgbnm opened #1905 "schedulePointwise does not vectorize tensors correctly when there is a view"
### 🐛 Describe the bug

[code]

### Versions

devel

[2022-08-12 03:49] zasdfgbnm commented on #1905
I found this issue when working on transpose scheduler, will work on a solution

[2022-08-12 18:24] zasdfgbnm opened #1908 "Transpose scheduler plan"
Tracking the remaining things needed for the transpose scheduler, the order is the priority:
- [x] Handle the case where the transposed dim is small (https://github.com/csarofeen/pytorch/pull/1910)
- [x] More validation on broadcasting
- [x] **enable in registry**
- [ ] **enable transpose in python** (https://github.com/csarofeen/pytorch/pull/1882, thanks @rdspring1, https://github.com/pytorch/pyt

[2022-08-13 16:21] csarofeen commented on #1843
@zasdfgbnm could you take a look at this issue?

[2022-08-16 23:15] #1905 closed, assigned to zasdfgbnm

[2022-08-19 10:10] #1801 closed, assigned to IvanYashchuk

[2022-08-21 02:08] naoyam opened #1920 "Random nan failure with FusionViewPersistentShmoo"
I'm seeing nan failures with the `FusionViewPersistentShmoo` test of TOT (3fb3d80339e4f794767a53eb8fdd61e64cf404a2). Ran just the test 100 times, and 6 runs failed with `Detected abs error of: nan`.

[code]

I'm using Titan RTX with CUDA 11.6.

I don't have any further detail at this point, just reporting it as it's really scary.

Tagging @csarofeen, @zasdfgbnm, @rdspring1

[2022-08-21 13:10] csarofeen commented on #1920
We're not actually scheduling views yet, so marking as mid priority as it needs to be triaged before we enable view scheduling but we also have no intention to schedule persistent views anytime soon.

[2022-08-21 14:55] csarofeen commented on #1920
I'm seeing small tolerance misses but this is not reproducing on my machine, I even tried adding to the test:
[code]
and running that 100 times. There may still be a few runs left, but surprised I wouldn't hit it by now. Tried on my Titan RTX with:
[code]

[2022-08-21 19:45] naoyam commented on #1920
I've run the test about 400 times so far, out of which 24 runs failed. So far, the failures happened with two of the test problem sizes:

[code]

The first column is the count of failures. "view after" means the `view_before_persistent` parameter is false. The failures happened only with `[1, 3333] -> [1, 1, 1, 1111, 1, 3]` and `[1, 3333] -> [1, 1, 1, -1, 1, 3]`.

[2022-08-22 03:43] naoyam commented on #1920
Ran more than 600 times. Failed 32 times.

[code]

[2022-08-22 14:51] csarofeen commented on #1880
@zasdfgbnm could you add a case with vectorization as mentioned in https://github.com/csarofeen/pytorch/pull/1918 ? Or do you think there isn't anything specific to vectorization for this bug?

[2022-08-22 22:02] naoyam commented on #1920
Commented out all problem sizes except for `(1 3333, 1 1 1 1111 1 3)` and ran only the size. That still resulted in the nan failure.

Disabled predicate elimination  with `PYTORCH_NVFUSER_DISABLE=predicate_elimination`, and no failure happened. Not sure if the predicate elimination is the problem or it just changes the timing and the error no longer shows up as it was a non-deterministic problem.

[2022-08-22 22:04] naoyam commented on #1920
I'll disable the two problem sizes for now until we address this issue.

[2022-08-22 22:58] naoyam opened #1923 "Type promotion issue with nvfuser_index_t"
This fusion fails at the add op:

[code]

The error is:

[code]

[code]

The type of the count output of welford is `nvfuser_index_t`, which isn't accepted by `data_type_to_aten`. Uses of `nvfuser_index_t` are replaced with either `Int32` or `Int` at the beginning of lowering, but it's still there before then.

Using the count output would be likely uncommon, so I don't think this should be priori

[2022-08-23 16:04] #1891 closed, assigned to nobody

[2022-08-24 00:33] zasdfgbnm opened #1925 "Indexing error in a transpose schedule"
### 🐛 Describe the bug

[code]
[code]
[code]

### Versions

TOT devel

[2022-08-24 00:36] zasdfgbnm commented on #1925
This might be the same error as https://github.com/csarofeen/pytorch/issues/1873
cc: @csarofeen @naoyam @shmsong

[2022-08-24 00:57] zasdfgbnm opened #1926 "Silent wrong result for RNG + transpose non-square tile"
### 🐛 Describe the bug

[code]

Output:
[code]

Fusion:
[code]

CUDA:
[code]

### Versions

TOT devel

[2022-08-24 00:57] zasdfgbnm commented on #1926
cc: @csarofeen

[2022-08-24 04:05] shmsong commented on #1925
@zasdfgbnm also hitting this with the repro: (should be a one liner fix)
[https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/scheduler/transpose.cpp#L656](https://github.com/csarofeen/pytorch/blob/devel/torch/csrc/jit/codegen/cuda/scheduler/transpose.cpp#L656
)

[2022-08-24 04:42] zasdfgbnm commented on #1925
Yeah, see it. I had a fix https://github.com/csarofeen/pytorch/pull/1924

[2022-08-24 04:52] zasdfgbnm commented on #1926
Looks like T6 should not share the same predicate with other tensors

[2022-08-24 05:04] shmsong commented on #1925
Yes this is the same problem as in #1873. Need permissive index/extent binding on iS47, which is not a leaf node.
[code]

[2022-08-24 05:30] zasdfgbnm commented on #1926
Minimum repro:
[code]

[2022-08-24 05:35] zasdfgbnm commented on #1926
The following is a quick hacking way to "fix" the issue:
[code]
Will take a deeper look to find a better `canOmitElseClause` and write a PR

[2022-08-24 05:35] shmsong commented on #1925
Could do a short term fix if it's a blocking issue now. Would need to consolidate with view support later on though.

[2022-08-24 05:48] zasdfgbnm commented on #1925
It is a blocking issue now :(

[2022-08-24 12:49] #1926 closed, assigned to nobody

[2022-08-26 05:15] jjsjann123 commented on #1893
Marking more TODOs coming from discussions in PR #1914:

High priorities:
- [ ] high water mark could be refactored into using occupancy API after compilation, so we are not unnecessarily recompile when we don't have to.
- [ ] infer outputs should switch from meta tensor to fake tensor in order to preserve device

Clean up & functional:
- [ ] trivial forwarding input to outputs
- [ ] segmented fus

[2022-08-26 05:16] jjsjann123 commented on #1893
cc'ing @csarofeen for the TODO list.

[2022-08-26 19:16] #1925 closed, assigned to nobody

[2022-08-26 19:16] #1873 closed, assigned to nobody

[2022-08-27 15:21] csarofeen opened #1938 "Better indexing without inlining through parallel types"
### 🐛 Describe the bug

If we have permissively mapped dimensions that are common parallel types we shouldn't need to inline them to get correct results.

For some reason inlining wasn't setup correctly and I had:
[code]
The dimension on the `iblockIdx.x` is later mapped to:
[code]
Parallel validation was (maybe correctly) failing across T9 and this realized broadcast dim, however they're permissi

[2022-08-27 15:23] csarofeen commented on #1938
FYI @shmsong not related to this PR, but I did implement almost exact map as I thought that was the issue in the mentioned branch, it was incredibly easy to do so. In case this is useful in the future: https://github.com/csarofeen/pytorch/commit/a79f2afb0efdea37a56857ed661fe15c8a6d5283

[2022-08-29 16:44] jjsjann123 commented on #1893
Naoya's comment on timeout for async compilation test: https://github.com/csarofeen/pytorch/pull/1914#discussion_r956465101

[2022-09-01 01:24] shmsong opened #1950 "CA root domain mapping result depends on fusion output order"
### 🐛 Describe the bug

`ComputeAtRootDomainMap` gives different mapping results in the below 2 fusions, and note that the only difference is the output ordering.

@csarofeen @naoyam @zasdfgbnm
[code]

Looks like it is the unmappable dimension logic that was traversal order dependent. Could possibly use a two-traversal approach, just a thought...

### Versions

devel branch

[2022-09-01 02:39] naoyam commented on #1950
Thanks for the repro. I'll look into it.

[2022-09-02 19:56] #1950 closed, assigned to naoyam

[2022-09-05 10:53] IvanYashchuk opened #1958 "Segfault when marking the same TensorView as output more than once"
### 🐛 Describe the bug

[code]
[code]

### Versions

Upstream master.

[2022-09-08 12:48] csarofeen commented on #1958
Do you expect this to happen in practice? Trying to understand how to prioritize this.

[2022-09-08 12:50] #1894 closed, assigned to nobody

[2022-09-08 12:52] csarofeen commented on #1838
@rdspring1 could you verify this is still an issue?

[2022-09-08 17:15] naoyam commented on #1958
What's the expected behavior? Can we just allow the first `addOutput` and ignore the rest? Or do we want to have the fusion with three outputs of the same tensor? The former should be trivial. The latter should also just need some simple extension.

[2022-09-08 22:51] shmsong opened #1963 "Formalization on permissive mapping"
### 🐛 Describe the bug

The permissive mapping implementation today could use some further formalization to make it easier and more robust to use.

One counter-intuitive behavior that was addressed in #1960 is that `exact` mapping does not imply `permissive` mapping, which could make the indexing implementation error prone.

Repro:

In test case `NVFuserTest.FusionMappingRelation_CUDA`

[code]

`b

[2022-09-08 22:56] rdspring1 commented on #1838
The networks, `efficientnet_b3` and `tinynet_b`, run correctly at ToT devel branch (45e95fd)

[2022-09-08 22:56] #1838 closed, assigned to nobody

[2022-09-08 23:22] zasdfgbnm opened #1964 "Indexing error triggered by transpose scheduler"
### 🐛 Describe the bug

Creating an issue for https://github.com/csarofeen/pytorch/pull/1930#issuecomment-1232175340

[code]
[code]

### Versions

devel

[2022-09-08 23:22] zasdfgbnm commented on #1964
More info:

[code]
ca map
[code]

[2022-09-12 04:08] naoyam opened #1968 "Python test failure with transpose"
Failed with TOT. Is this a known problem?

[code]

[2022-09-12 04:08] naoyam commented on #1968
Tagging @zasdfgbnm

[2022-09-12 12:22] IvanYashchuk commented on #1958
I think raising a meaningful error would be enough as a fix. Probably it's just adding a check for `isFusionOutput()` in `Fusion::addOutput`
https://github.com/csarofeen/pytorch/blob/b1bd32cc1b2ae7bbd44701477bddbcfa6642a9be/torch/csrc/jit/codegen/cuda/fusion.cpp#L208

[2022-09-12 20:23] zasdfgbnm commented on #1968
This is a new problem introduced with the enablement of the transpose scheduler, fixed in https://github.com/csarofeen/pytorch/pull/1969

[2022-09-13 04:14] naoyam commented on #1958
Actually, although I haven't thoroughly checked, it doesn't seem to fail at the Fusion IR level. Not saying I'm confident that it would work for more complex fusions, but at least for the error you saw, that's happening at the interface between Python and Fusion IR.

[code]

I'm not sure what's going on there, but maybe @kevinstephano or @jjsjann123 can chime in.

[2022-09-13 11:27] IvanYashchuk commented on #1958
Great, it's fixed in the `devel` branch. Most likely it was fixed with https://github.com/csarofeen/pytorch/pull/1914! There are no segfaults.

[2022-09-13 11:27] #1958 closed, assigned to nobody

[2022-09-13 16:07] #1968 closed, assigned to zasdfgbnm

[2022-09-13 17:09] rdspring1 commented on #1908
Here is Ivan's PR to enable transpose with primTorch: https://github.com/pytorch/pytorch/pull/84629

[2022-09-13 17:13] zasdfgbnm commented on #1908
Updated, thanks!

[2022-09-14 00:55] zasdfgbnm opened #1982 "Silent wrong result on FusionTransposeViewSelfMapping_CUDA"
### 🐛 Describe the bug

Our codegen fails on fusion like
[code]
i.e.:
[code]

We should:
1. Figure out why our codegen doesn't detect this and report an error
1. Find a way to detect this in schedulers so the DAG is segmented correctly

See discussion: https://github.com/csarofeen/pytorch/pull/1954#discussion_r961940498

### Versions

TOT devel

[2022-09-14 03:21] rdspring1 opened #1983 "[primTorch] view size is not compatible with input tensor's size and stride"
### 🐛 Describe the bug

Nvfuser will return a contiguous tensor from `addcmul` while eager mode will follow the stride order of its inputs.
There is a similar issue/repro with https://github.com/pytorch/pytorch/issues/93648.

[code]

### Versions

devel

[2022-09-14 11:56] IvanYashchuk opened #1984 "Silent wrong result with multiple aliasOutputToInput"
### 🐛 Describe the bug

The second call to `aliasOutputToInput(source, dest)` is ignored unless tv4 in the example is added to outputs.
<details>
  <summary>Here's an initial version of the C++ test that fails:</summary>

[code]
</details>

Fails on upstream master with (sin is computed only once for tv0)
[code]

I checked the devel branch and it fails with a different error, it seems we can't add

[2022-09-14 23:48] #1752 closed, assigned to nobody

[2022-09-14 23:48] #1808 closed, assigned to nobody

[2022-09-18 21:25] csarofeen commented on #1982
I think the easiest thing to do but most conservative is to not take view-transpose fusions where there's any path:
   (1) starting at any producer (all the way to inputs) of a transpose
   (2) ending at any consumer (all the way to outputs) of the transpose in (1)
   (3) does not go through the transpose in (1) (or an exact matching transpose)
   (4) has a view operation

Less conservative, but I

[2022-09-21 13:39] csarofeen commented on #1841
Related: https://github.com/csarofeen/pytorch/issues/1982

[2022-09-21 18:00] jjsjann123 opened #1993 "codegen error: parameter space overflow 4096 bytes allowed"
### 🐛 Describe the bug

Issue caught by @xwang233 from nightly log

[code]

We had this issue patched back then with an arbitrarily set threshold on IO tensors: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/codegen/cuda/graph_fuser.cpp#L356-L360
The old WAR breaks since we have changed the kernel argument and increase its memory footprint for each tensor. We can lower the threshold

[2022-09-21 18:57] jjsjann123 commented on #1984
I'm surprised upstream devel actually allow us to output an input tensor :face_with_spiral_eyes: That's a separate topic.

The silent wrong result with aliasOutputToInput sounds bad. An explicit assert is much better. Though I don't see why we are failing in that case. I'm taking a look.

[2022-09-21 22:04] xwang233 commented on #1993
Repro step on V100
[code]

[2022-09-22 17:13] shmsong commented on #1850
More detail see https://github.com/csarofeen/pytorch/pull/1846#discussion_r925996400

[2022-09-23 00:40] naoyam commented on #1993
We could also try to reduce the size requirement. Each tensor parameter consists of a 64-bit pointer and size and stride arrays, but the size and stride arrays are not necessary used. I don't have a quick idea to hack this into our lowering system, but basically we only need unique axis sizes and strides, which can be much lower than what we currently pass from host to device.

[2022-09-23 01:03] jjsjann123 commented on #1993
Sounds great if we would be able to squeeze more parameters into the fusion. Let's keep that option open.

Meanwhile, we'd still need a proper mechanism to ensure that we are not erroring out on gigantic fusion. I think it's still necessary to have segmenter breaking fusions on IO buffer sizes.

[2022-09-25 19:55] csarofeen commented on #1880
Some thoughts in this space:
Simple motivating case (all split factors are symbolic, symbolic split factors will be denoted as `s0`, `s1`, `s2`):
[code]
So based on compute at `tv0` looks like it's iterating over:
[code]
So we don't have to generate that many values of `tv0`. But that's actually wrong. We have to generate every use of `tv0` inlined into `tv4`, so really it should be:
[code]

The i

[2022-09-27 23:16] naoyam opened #2001 "Remove duplicate contiguous indexing logic"
This looks like a duplicate of `ContigIDs`:

https://github.com/csarofeen/pytorch/blob/3ca21ebe4d213f0070ffdfa4ae5d7f6cb0b8e870/torch/csrc/jit/codegen/cuda/index_compute.cpp#L2326

I don't remember why we have a separate routine for predicates, but it should be replaceable with `ContigIDs`.

[2022-09-27 23:56] jjsjann123 opened #2002 "cached output allocation is broken"
### 🐛 Describe the bug

FusionExecutor caches output sizes. e.g. for the same input sizes, we'll reuse the cached output sizes instead of running evaluation on outputs again.

This doesn't work any more with our recent expansion on codegen (TensorFactory methods & RNG ops). Unfortunately the issue was caught earlier, since the caching re-use gets accidentally disabled in my refactor code. https://

[2022-09-29 20:00] kevinstephano opened #2008 "Mismatch in IterDomain Iteration Types in TorchBench functorch_dp_cifar10"
### 🐛 Describe the bug

The bug is happening during scheduling:

Prescheduled Fusion IR:

[code]

Error:

[code]

Repro requires a bump in the devel fork from upstream to pick up the python frontend changes.

Repro:

[code]

### Versions

Upstream TOT?

[2022-09-30 05:34] zasdfgbnm opened #2017 "Unmappable dims used for inlining should be leaf domains instead of root domains"
### 🐛 Describe the bug

Currently, inlining uses unmappable dims in `MaxPosCalculator` to avoid inlining into illegal dims. However, the unmappable dims in `MaxPosCalculator` only contains root domains, which is a mistake and can result wrong CA position being set. See the following example:

[code]
Note that this bug is NOT introduced in https://github.com/csarofeen/pytorch/pull/2004

### Version

[2022-09-30 05:37] zasdfgbnm commented on #2017
Self assign as one of my upcomming refactoring of `MaxPosCalculator` should fix this. Will not be high priority because I don't see any scheduler triggers such an error.

[2022-09-30 05:37] zasdfgbnm commented on #2017
cc @naoyam @csarofeen

[2022-09-30 17:38] #2002 closed, assigned to jjsjann123

[2022-09-30 21:08] naoyam commented on #1880
Just looked into this fusion. Looks like it's a parallelization problem rather than indexing. Here's the kernel math:

[code]

Notice that the TIDX parallelization is done for all tensors, but those parallelized domains are not exactly mapped. This should be fine as long as the domains are on shared memory (or on global memory with grid sync), but we are using the local memory for `T2` and `T3`.

[2022-10-01 15:56] csarofeen commented on #1880
What does inlining a parallel dimension mean?

[2022-10-01 16:32] naoyam commented on #1880
Sorry, what do you mean?

[2022-10-01 16:55] csarofeen commented on #1880
Aren't our validation/communication rules dependent on if a parallel dimension is inlined or not? What happens if you most inline your example?

[2022-10-03 05:06] naoyam commented on #1880
Yes, `derivedFromRootCAAxes` is where we process domains differently, but it doesn't catch this case. I should have an updated version pretty soon.

[2022-10-03 11:37] csarofeen commented on #1880
What's the difference between processing a parallel dimension as being `derivedFromRootCAAxes` and not? I have a bigger question here about how we want to treat these kind of cases. Do we want this kind of different behavior for parallel dims? Or should they always just be treated as inlined?

[2022-10-03 16:56] naoyam commented on #1880
The problem here is to identify when a producer ID and a consumer ID have the same index. When they are exactly mapped, they are guaranteed to have the same index. It isn't generally the case when they are permissively mapped, but since the producer tensor is actually indexed using the consumer CA domains, the producer ID ends up using the same index in some cases. The question is when exactly tha

[2022-10-04 00:27] kevinstephano opened #2026 "Primtorch Based Definition of Layer Norm hits Error where Producer needs to be Global or Shared Memory"
### 🐛 Describe the bug

Error:

[code]
Repro:
[code]

### Versions

TOT

[2022-10-04 16:38] rdspring1 commented on #1843
As of 10/4/2022, these are the TIMM benchmarks which are failing:
1. cait_m36_384
2. gmlp_s16_224
3. convit_base
4. convnext_base
5. swin_base_patch4_window7_224
6. tnt_s_patch16_224
7. volo_d1_224

[2022-10-05 17:12] jjsjann123 commented on #1843
hugging face is also seeing a lot of these from our devel branch :cry:

[2022-10-05 17:13] zasdfgbnm opened #2033 "predicate elimination is fragile"
### 🐛 Describe the bug

Currently, predicate elimination is done by building out `pred_elimination_` at a very early stage (before expr sorting) and use this info to decide whether or not to generate predicates. `pred_elimination_` stores the pointers to expressions.

This can be fragile, as we often create a copy of expressions and use that new copy to replace the original expr during lowering. F

[2022-10-05 17:18] zasdfgbnm commented on #1843
This is long overdue. Let me see if I can get a fix today.

[2022-10-05 21:47] zasdfgbnm commented on #1843
A smaller C++ repro

[code]

[2022-10-06 00:01] kevinstephano commented on #2026
I am not seeing this issue anymore on upstream. Closing for now.

[2022-10-06 00:01] #2026 closed, assigned to naoyam

[2022-10-06 00:17] naoyam commented on #2008
Just what I'm seeing for now. Here's the fusion math:

[code]

And we are using the pointwise scheduler, which seems to be failing due to the reduction-broadcast pattern.

[2022-10-06 01:10] naoyam commented on #2008
C++ repro:

[code]

Looks like the problem is replaying propagation from a producer to a consumer when there's more than one trivial reduction. In the above repro, the replay works fine when the number of trivial domains is just 1 (as shown in the comments). I'll look into it more closely.

[2022-10-06 01:38] csarofeen commented on #2008
Thanks.

[2022-10-06 05:12] zasdfgbnm opened #2036 "Fusion executor is not checking if the contiguity of the fusion input and the stride of the input tensor match"
### 🐛 Describe the bug

Found this while working on https://github.com/csarofeen/pytorch/pull/2035
[code]

### Versions

https://github.com/csarofeen/pytorch/pull/2035